<div class="text-center"
     data-ng-if="$ctrl.loadingConsts">
    <oui-spinner></oui-spinner>
</div>

<div data-ng-if="!$ctrl.loadingConsts">
    <div class="row d-md-flex mb-5">
        <div class="col-md-4">
            <oui-tile class="h-100"
                      data-heading="{{:: 'cdn_configuration_shortcut_title' | translate }}">
                <oui-tile-button data-ng-click="$ctrl.addDomain()">
                    <span data-translate="cdn_configuration_add_domain_title_button"></span>
                </oui-tile-button>
                <oui-tile-button data-ng-click="$ctrl.orderDomainRules()">
                    <span data-translate="cdn_configuration_cacherules_upgrade_title_button"></span>
                </oui-tile-button>
                <oui-tile-button data-ng-click="$ctrl.orderQuota()">
                    <span data-translate="cdn_configuration_order_quota_title"></span>
                </oui-tile-button>
            </oui-tile>
        </div>

        <div class="col-md-4">
            <oui-tile class="h-100"
                      data-heading="{{:: 'cdn_tab_statistics' | translate }}">
                <oui-tile-definition data-term="{{:: 'cdn_configuration_activity' | translate }}">
                    <oui-tile-description>
                        <span data-ng-pluralize
                              data-count="$ctrl.cdn.activity"
                              data-when="{
                                  '0': ('cdn_configuration_activity_page_viewed_0' | translate),
                                  'one': ('cdn_configuration_activity_page_viewed_one' | translate),
                                  'other': ('cdn_configuration_activity_page_viewed_other' | translate: { count: {} })
                              }">
                        </span>
                    </oui-tile-description>
                </oui-tile-definition>
                <oui-tile-definition data-term="{{:: 'cdn_configuration_savings' | translate }}">
                    <oui-tile-description>
                        <span class="d-block"
                              data-ng-pluralize
                              data-count="$ctrl.cdn.bandwidthHitPercentage"
                              data-when="{
                                  '0': ('cdn_configuration_savings_bandwidth_percentage_default' | translate),
                                  'other': ('cdn_configuration_savings_bandwidth_percentage' | translate: { count: {} })
                              }">
                        </span>
                        <span class="d-block"
                              data-ng-pluralize
                              data-count="$ctrl.cdn.requestHitPercentage"
                              data-when="{
                                  '0': ('cdn_configuration_savings_request_percentage_default' | translate),
                                  'other': ('cdn_configuration_savings_request_percentage' | translate: { count: {} })
                              }">
                        </span>
                    </oui-tile-description>
                </oui-tile-definition>
                <oui-tile-definition data-term="{{:: 'cdn_configuration_quota' | translate }}">
                    <oui-tile-description>
                        <span data-ng-bind="$ctrl.cdn.quota.value + ' ' + ('unit_size_' + $ctrl.cdn.quota.unit | translate)"></span>
                    </oui-tile-description>
                    <oui-action-menu data-compact
                                     data-align="end">
                        <oui-action-menu-item data-text="{{ :: 'cdn_configuration_order_quota_title' | translate }}"
                                              aria-label="{{ :: 'cdn_configuration_order_quota_title' | translate }}"
                                              data-on-click="$ctrl.orderQuota()">
                        </oui-action-menu-item>
                    </oui-action-menu>
                </oui-tile-definition>
                <oui-tile-definition data-term="{{:: 'cdn_configuration_quota_estimation' | translate }}"
                                     data-description="{{:: $ctrl.cdn.endingEstimationDate || '-' }}">
                </oui-tile-definition>
                <div class="oui-tile__item">
                    <dl class="oui-tile__definition">
                        <dt class="oui-tile__term">
                            <service-expiration-label data-service-infos="$ctrl.serviceInfos">
                            </service-expiration-label>
                        </dt>
                        <dd class="oui-tile__description">
                            <service-expiration-date data-service-name="$ctrl.cdn.serviceName"
                                                     data-service-type="'CDN_DEDICATED'"
                                                     data-service-infos="$ctrl.serviceInfos"
                                                     data-force-hide-renew-action="true">
                            </service-expiration-date>
                        </dd>
                    </dl>
                    <div class="oui-tile__actions">
                        <service-expiration-date data-hide-renew-date="true"
                                                 data-service-name="$ctrl.cdn.serviceName"
                                                 data-service-type="'CDN_DEDICATED'"
                                                 data-service-infos="$ctrl.serviceInfos">
                        </service-expiration-date>
                    </div>
                </div>
            </oui-tile>
        </div>

        <div class="col-md-4">
            <oui-tile class="h-100"
                      data-heading="{{:: 'cdn_configuration_info_title' | translate }}">
                <oui-tile-definition data-term="{{:: 'cdn_configuration_domains' | translate }}">
                    <oui-tile-description>
                        <span data-ng-pluralize
                              data-count="$ctrl.cdn.domains"
                              data-when="{
                                  '0': ('cdn_configuration_domain_0' | translate),
                                  'one': ('cdn_configuration_domain_one' | translate),
                                  'other': ('cdn_configuration_domain_other' | translate: { count: {} })
                              }">
                        </span>
                    </oui-tile-description>
                    <oui-action-menu aria-label="{{:: 'menu_action_label' | translate:{ 't0': ('cdn_configuration_domains' | translate)} }}"
                                     data-align="end"
                                     data-compact>
                        <oui-action-menu-item data-text="{{:: 'cdn_configuration_add_domain_title_button' | translate }}"
                                              aria-label="{{:: 'cdn_configuration_add_domain_title_button' | translate }}"
                                              data-on-click="$ctrl.addDomain()">
                        </oui-action-menu-item>
                    </oui-action-menu>
                </oui-tile-definition>
                <oui-tile-definition data-term="{{:: 'cdn_configuration_ip' | translate }}"
                                     data-description="{{:: $ctrl.cdn.anycast.ipv4 }}">
                </oui-tile-definition>
                <oui-tile-definition data-term="{{:: 'cdn_configuration_backends' | translate }}"
                                     data-description="{{:: 'cdn_configuration_backend' | translate:{ 't0': $ctrl.cdn.backends } }}">
                </oui-tile-definition>
            </oui-tile>
        </div>
    </div>

    <div class="oui-box mb-5">
        <div class="row">
            <div class="col-sm-6">
                <label for="datatype"
                       class="oui-label d-inline-block align-middle mr-2">
                    <span data-translate="cdn_statistics_visualize"></span>
                </label>
                <div class="oui-select mb-0 oui-select_inline align-middle">
                    <select name="datatype"
                            class="oui-select__input"
                            id="datatype"
                            data-ng-options="('cdn_stats_type_' + option) | translate for option in $ctrl.consts.types"
                            data-ng-model="$ctrl.statisticsSearchCriteria.dataType"
                            data-ng-change="$ctrl.getStatistics()">
                    </select>
                    <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="period"
                       class="oui-label d-inline-block align-middle mr-2">
                    <span data-translate="cdn_statistics_from"></span>
                </label>
                <div class="oui-select mb-0 oui-select_inline align-middle">
                    <select name="period"
                            class="oui-select__input"
                            id="period"
                            data-ng-options="('cdn_statistics_period_' + option) | translate for option in $ctrl.consts.periods"
                            data-ng-model="$ctrl.statisticsSearchCriteria.period"
                            data-ng-change="$ctrl.getStatistics()">
                    </select>
                    <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center"
         data-ng-if="$ctrl.loadingStats">
        <oui-spinner></oui-spinner>
    </div>
    <canvas id="cdnStatsChart"
            class="chart chart-line"
            data-ng-if="!$ctrl.loadingStats"
            data-chart-labels="$ctrl.chartLabels"
            data-chart-series="$ctrl.chartSeries"
            data-chart-data="$ctrl.chartData">
    </canvas>
</div>
