<div data-ng-controller="CdnStatisticsCtrl">

    <h2 data-i18n-static="cdn_tab_statistics"></h2>

    <div class="row d-md-flex mb-5">
        <div class="col-md-6">
            <div class="oui-tile mb-5 h-100">
                <div class="oui-tile__body">
                    <ul class="list-unstyled">

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-i18n-static="cdn_configuration_activity">
                                        </strong>
                                        <span data-ng-bind="trpl('cdn_configuration_activity_page_viewed', $ctrl.cdn.activity, [$ctrl.cdn.activity])">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-i18n-static="cdn_configuration_savings">
                                        </strong>
                                        <span class="d-block"
                                              data-ng-bind="trpl('cdn_configuration_savings_bandwidth_percentage', $ctrl.cdn.bandwidthHitPercentage, [$ctrl.cdn.bandwidthHitPercentage])">
                                        </span>
                                        <span data-ng-bind="trpl('cdn_configuration_savings_request_percentage', $ctrl.cdn.requestHitPercentage, [$ctrl.cdn.requestHitPercentage])">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-i18n-static="cdn_configuration_quota">
                                        </strong>
                                        <span data-ng-bind="$ctrl.cdn.quota.value + ' ' + tr('unit_size_' + $ctrl.cdn.quota.unit)">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-i18n-static="cdn_configuration_quota_estimation">
                                        </strong>
                                        <span data-ng-bind="$ctrl.cdn.endingEstimationDate">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block">
                                            <service-expiration-label
                                                service-infos="$ctrl.serviceInfos">
                                            </service-expiration-label>
                                        </strong>
                                        <service-expiration-date
                                            service-name="$ctrl.cdn.serviceName"
                                            service-type="'CDN_DEDICATED'"
                                            service-infos="$ctrl.serviceInfos">
                                        </service-expiration-date>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="oui-tile mb-5 h-100">
                <div class="oui-tile__body">
                    <ul class="list-unstyled">

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>

                                        <img src="images/cdn/icn_domain.png" alt="" />
                                        <span data-ng-bind="trpl('cdn_configuration_domain', $ctrl.cdn.domains, [$ctrl.cdn.domains])"></span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <img src="images/cdn/icn_cdn.png" alt="" />
                                        <span data-ng-bind="$ctrl.cdn.anycast.ipv4"></span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <img src="images/cdn/icn_server.png" alt="" />
                                        <span data-ng-bind="tr('cdn_configuration_backend', [$ctrl.cdn.backends])"></span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center"
         data-ng-show="loadingConsts">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-hide="loadingConsts">
        <div class="oui-box mb-5">
            <div class="row">
                <div class="col-sm-6">
                    <label for="datatype"
                           class="oui-label d-inline-block align-middle mr-2">
                        <span data-i18n-static="cdn_statistics_visualize"></span>&nbsp;:
                    </label>
                    <div class="oui-select mb-0 oui-select_inline align-middle">
                        <select name="datatype"
                                class="oui-select__input"
                                id="datatype"
                                data-ng-options="i18n['cdn_stats_type_' + option] for option in consts.types"
                                data-ng-model="model.dataType"
                                data-ng-change="getStatistics()">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="period"
                           class="oui-label d-inline-block align-middle mr-2">
                        <span data-i18n-static="cdn_statistics_from"></span>&nbsp;
                    </label>
                    <div class="oui-select mb-0 oui-select_inline align-middle">
                        <select name="period"
                                class="oui-select__input"
                                id="period"
                                data-ng-options="i18n['cdn_statistics_period_' + option] for option in consts.periods"
                                data-ng-model="model.period"
                                data-ng-change="getStatistics()">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"
             data-ng-if="loadingStats">
            <oui-spinner></oui-spinner>
        </div>
        <canvas id="cdnStatsChart"
                class="chart chart-line"
                data-ng-hide="loadingStats"
                data-chart-labels="labels"
                data-chart-series="series"
                data-chart-data="data">
        </canvas>
    </div>
</div>
