<p data-ng-if="$ctrl.orderURL">
    Afin de régler votre commande, merci de cliquer sur le lien suivant: <span data-ng-if="$ctrl.orderURL"></span>

    <oui-message data-type="warning">La commande ne sera pas passée si vous ne cliquez pas sur le lien ci-dessus.</oui-message>

    Une fois la commande validée, vous pourrez vous rendre sur votre interface de gestion (accessible uniquement depuis les IPs autorisées à se connecter
    au vCenter de l’infrastructure) afin de valider votre certification à l'aide du code reçu par SMS.
</p>

<p data-ng-if="!$ctrl.orderURL">
    Rendez-vous directement sur votre interface de gestion (accessible uniquement depuis les IPs autorisées à se connecter
    au vCenter de l’infrastructure) afin de valider votre certification à l'aide du code reçu par SMS.
</p>

<oui-button>Interface de gestion Private Cloud</oui-button>

<oui-message data-type="info">
    <strong>La validation peut prendre de 30 minutes à 4 heures selon les cas.</strong>
    <p>Une fois cette opération terminée votre infrastructure est conforme à la certification choisie.</p>
    <p>Par la suite, vous recevrez des documents par email concernant cette activation et permettant de finaliser la partie contractuelle.</p>
    <p>L'ajout de cette certification sera visible sur votre facturation du mois prochain.</p>
</oui-message>

<oui-button class="ml-3">Terminer</oui-button>
