<div data-ng-controller="ServerCancelBandwidthVrackCtrl as ctrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="cancelOption"
         data-wizard-title="i18n.server_cancel_bandwidth_vrack_title"
         data-wizard-confirm-button-text="i18n.common_confirm">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.steps[0].isValid()"
             data-wizard-step-on-load="initUser">

            <div data-ovh-alert="cancelBandwidthConfirmationError"></div>

            <div class="text-center"
                 data-ng-if="ctrl.steps[0].loading()">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!ctrl.steps[0].loading()">
                <p class="font-weight-bold"
                   data-i18n-static="server_cancel_bandwidth_vrack_question">
                </p>
                <p data-ng-bind-html="tr('server_cancel_bandwidth_vrack_information', [ctrl.user.data.email])"></p>
            </div>

        </div>

    </div>

</div>
