<div data-ng-controller="IpMitigationStatisticsCtrl">
    <div data-wizard
         data-wizard-on-cancel="closeAction"
         data-wizard-on-finish="closeAction"
         data-wizard-hide-cancel-button="true"
         data-wizard-confirm-button-text="i18n.wizard_close"
         data-wizard-keydown-disabled="true"
         data-wizard-title="i18n.ip_mitigation_statistics_title"
         data-wizard-title-icon="mitigationStatusAuto == false && 'icon-mitigation-auto' || 'icon-mitigation-active'"
         class="module-ip-modal">

        <div data-wizard-step
            data-wizard-step-on-load="loadStatisticsScale">
            <div data-ng-if="!stats.noData">
                <p class="bold blue" data-ng-bind="tr('ip_mitigation_statistics_current_ip', [data.ip.ip])"></p>
                <div>
                    <div data-ng-hide="statisticsScalesAvailable">
                        <div class="loader"></div>
                    </div>
                    <div data-ng-show="statisticsScalesAvailable">

                        <form>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="radio">
                                        <input type="radio"
                                               name="mode"
                                               value="realTime"
                                               data-ng-model="model.mode">
                                        {{tr('ip_mitigation_statistics_mode_realtime')}}
                                    </label>
                                    <label class="radio">
                                        <input type="radio"
                                               name="mode"
                                               value="date"
                                               data-ng-model="model.mode">
                                        {{tr('ip_mitigation_statistics_mode_date')}}
                                    </label>
                                </div>
                            </div>
                        </form>

                        <div data-ng-show="model.mode == 'date'">
                            <hr />
                            <div class="row-fluid">
                                <div class="span7">
                                    <span data-i18n-static="ip_mitigation_statistics_to"></span> :
                                    <div class="inline">
                                        <div class="input-prepend no-space"
                                            data-dtp-placement="bottom"
                                            data-ng-disabled="statsLoading"
                                            data-ng-model="model.from"
                                            data-date-time-picker
                                            data-dtp-autoclose="true"
                                            data-dtp-type="date"
                                            data-dtp-min-view-mode="days"
                                            data-dtp-end-date="{{today.toString()}}"
                                            data-ng-change="getStatistics()"
                                            data-dtp-model-timezone="local">
                                            <span class="add-on">
                                               <i data-time-icon="icon-time" data-date-icon="icon-calendar" style="margin: 2px 0 0 2px;"></i>
                                            </span>
                                            <input type="text" style="width: 175px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="span5">
                                    <span data-i18n-static="ip_mitigation_statistics_scale"></span> :
                                    <select name="period" class="input-medium"
                                        data-ng-disabled="statsLoading"
                                        data-ng-change="getStatistics()"
                                        data-ng-options="i18n['ip_mitigation_statistics_statistics_scale' + option] for option in statisticsScalesAvailable"
                                        data-ng-model="model.scale">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-if="(model.from || model.mode == 'realTime') && !stats.noData">
                <div data-ng-if="stats && (!statsLoading || model.mode == 'realTime')">
                    <div data-chart="statsChart" data-ng-model="chartOptions" data-chart-title="{{i18n.statistics}}" id="statsChart"></div>
                </div>
                <div data-ng-if="(!stats || model.mode == 'date') && statsLoading">
                    <div class="loader"></div>
                </div>
            </div>
            <p class="center red" data-ng-if="stats.noData" data-ng-bind="tr('ip_mitigation_statistics_no_data', data.ip.ip)"></p>
        </div>
    </div>
</div>
