<div data-ng-if="worksDetails && worksDetails.length">
    <p>
        <span data-ng-bind=":: 'core_works_description' | translate"></span>
    </p>
    <button type="button"
            class="btn btn-block btn-default"
            data-ng-click="openListModal(worksDetails)"
            data-ng-bind=":: 'core_works_link' | translate">
    </button>
    <div id="{{ modalId }}"
         class="modal fade currentAction"
         role="dialog">
        <div class="modal-dialog">
            <div class="modal-content"
                 data-ng-include="worksStepPath">
            </div>
        </div>
    </div>
</div>
