<oui-page-header
    data-heading="{{:: 'billing_title' | translate}}">
    <oui-header-tabs>
        <oui-header-tabs-item
            data-text="{{:: 'billing_home_title' | translate}}"
            href="{{:: $ctrl.homeLink }}"
            data-active="$ctrl.currentActiveLink() === $ctrl.homeLink"
            data-ng-if="!$ctrl.isEnterpriseCustomer">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{:: 'billing_agreements_title' | translate}}"
            href="{{:: $ctrl.agreementsLink }}"
            data-active="$ctrl.currentActiveLink() === $ctrl.agreementsLink">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{:: 'billing_ssh_title' | translate}}"
            href="{{:: $ctrl.sshLink }}"
            data-active="$ctrl.currentActiveLink() === $ctrl.sshLink">
        </oui-header-tabs-item>
    </oui-header-tabs>
</oui-page-header>

<div data-ui-view>
    <div class="tab-content">
        <div data-ovh-alert></div>

        <form novalidate>
            <oui-field
                data-ng-if="$ctrl.nicBilling.length > 1"
                data-label="{{::'autorenew_service_autorenew_contact_filter' | translate}}"
                data-size="l">
                <label class="oui-select">
                    <select name="billingAutoRenew"
                        class="oui-select__input"
                        data-ng-change="$ctrl.onNicBillingChange()"
                        data-ng-model-options="{ debounce: 500 }"
                        data-ng-model="$ctrl.nicBillingFilter"
                        data-ng-options="nicBilling for nicBilling in $ctrl.nicBilling track by nicBilling">
                        <option value=""
                            data-translate="autorenew_service_autorenew_contact_filter_all">
                        </option>
                    </select>
                    <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                </label>
            </oui-field>
        </form>

        <oui-datagrid
            data-empty-placeholder="{{:: 'autorenew_empty' | translate }}"
            data-rows="$ctrl.services"
            data-on-row-select="$ctrl.onRowSelection($rows)"
            data-selectable-rows>

            <extra-top>
                <oui-dropdown>
                    <oui-dropdown-trigger data-text="{{:: 'autorenew_service_action_title' | translate }}"></oui-dropdown-trigger>
                    <oui-dropdown-content>
                        <!-- <a class="oui-dropdown-option"
                            data-ui-sref="app.account.billing.payment.method"
                            data-track-on="click"
                            data-track-type="action"
                            data-track-name="services::payment_types::edit::payment_types_settings">
                            <span data-translate="autorenew_manage_my_payment_means"></span>
                        </a>
                        <a data-ng-if="automaticRenewV2Mean.available"
                            class="oui-dropdown-option"
                            target="_blank"
                            rel="noopener"
                            data-ng-href="{{ urls.renewAlign }}"
                            data-track-on="click"
                            data-track-type="action"
                            data-track-name="services::autoRenew::edit::autoRenew_date_settings">
                            <span data-translate="autorenew_service_update_date_button_caption"></span>
                        </a> -->
                        <oui-dropdown-divider></oui-dropdown-divider>
                        <button type="button"
                            class="oui-dropdown-option"
                            data-export-csv="$ctrl.getDatasToExport()"
                            data-export-csv-separator=";"
                            data-ng-click="$ctrl.trackCSVExport()">
                            <span data-translate="billing_export_csv"></span>
                        </button>
                        <oui-dropdown-divider data-ng-if="$ctrl.canDisableAllDomains"></oui-dropdown-divider>
                        <button data-ng-if="$ctrl.canDisableAllDomains"
                            class="oui-dropdown-option"
                            type="button"
                            data-ng-click="$ctrl.disableAutorenewForDomains()"
                            data-track-on="click"
                            data-track-type="action"
                            data-track-name="services::autoRenew::edit::autoRenew_domains">
                            <span data-translate="autorenew_service_disable_all_domains"></span>
                        </button>
                    </oui-dropdown-content>
                </oui-dropdown>
            </extra-top>

            <!-- Columns -->
            <oui-column
                data-property="serviceId"
                data-title="::'autorenew_service_name' | translate"
                data-type="string"
                data-searchable
                data-sortable>
                <span data-ng-bind="::$row.serviceId" data-ng-hide="$row.serviceType === 'EXCHANGE'"></span>
                <span data-ng-bind="::$row.alternativeId" data-ng-show="$row.serviceType === 'EXCHANGE'"></span>
            </oui-column>
            <oui-column
                data-property="serviceType"
                data-title="::'autorenew_service' | translate"
                data-type="options"
                data-type-options="$ctrl.filtersOptions.serviceType"
                data-filterable
                data-sortable>
                <span data-ng-bind-html="('autorenew_service_type_' + $row.serviceType) | translate"></span>
            </oui-column>
            <oui-column
                data-property="status"
                data-title="::'autorenew_service_state' | translate"
                data-sortable>
                <span class="oui-icon oui-icon-success_circle oui-color-success-medium"
                    aria-label="{{:: 'autorenew_service_state_' + $row.status | translate }}"
                    title="{{:: 'autorenew_service_state_' + $row.status | translate }}"
                    data-ng-if="$row.status === 'OK'">
                </span>
                <span class="oui-status oui-status_error"
                    data-ng-if="$row.status !== 'OK'"
                    data-translate="{{ 'autorenew_service_state_' + $row.status }}">
                </span>
            </oui-column>
            <oui-column
                data-title="::'autorenew_service_status' | translate"
                data-type="options"
                data-type-options="$ctrl.filtersOptions.renewStatus"
                data-filterable>
                <billing-renew-label data-service-infos="$row"></billing-renew-label>
            </oui-column>
            <oui-column
                data-title="::'autorenew_service_date' | translate"
                data-type="options"
                data-type-options="$ctrl.filtersOptions.renewExpiration"
                data-filterable
                data-sortable>
                <span data-ng-if="$row && $row.expiration"
                    data-ng-class="getExpirationClass($row)">
                    <billing-renew-date data-service-infos="$row"></billing-renew-date>
                </span>
            </oui-column>
            <!-- /Columns -->

            <!-- Actions -->
            <oui-action-menu
                data-aria-label="{{:: 'autorenew_service_action_menu_tooltip' | translate }}"
                data-align="end"
                data-compact>

                <!-- MX Plan -->
                <oui-action-menu-item
                    data-ng-if="$row.serviceType === 'EMAIL_DOMAIN' && $row.status !== 'EXPIRED'"
                    data-on-click="$ctrl.terminateEmail($row)"
                    data-text="{{:: 'autorenew_service_EMAIL_DOMAIN_terminate' | translate }}">
                </oui-action-menu-item>
                <!-- /MX Plan -->

                <!-- SMS -->
                <oui-action-menu-item
                    data-ng-if="$row.serviceType === 'SMS'"
                    data-href="{{:: $ctrl.getSMSCreditBuyingURL($row) }}"
                    data-text="{{:: 'autorenew_service_action_menu_smsPack_credit' | translate }}"
                    data-external>
                </oui-action-menu-item>

                <oui-action-menu-item
                    data-ng-if="$row.serviceType === 'SMS'"
                    data-href="{{:: $ctrl.getSMSAutomaticRenewalURL($row) }}"
                    data-text="{{:: 'autorenew_service_action_menu_smsPack_automaticRenew' | translate }}"
                    data-external>
                </oui-action-menu-item>
                <!-- /SMS -->

            </oui-action-menu>
            <!-- /Actions -->

        </oui-datagrid>
    </div>
</div>
