<oui-page-header
    data-heading="{{:: 'billing_title' | translate}}">
    <oui-header-tabs>
        <oui-header-tabs-item
            data-text="{{:: 'billing_home_title' | translate}}"
            href="{{:: $ctrl.homeLink }}"
            data-active="$ctrl.currentActiveLink() === $ctrl.homeLink"
            data-ng-if="!$ctrl.isEnterpriseCustomer">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{:: 'billing_agreements_title' | translate}}"
            href="{{:: $ctrl.agreementsLink }}"
            data-active="$ctrl.currentActiveLink() === $ctrl.agreementsLink">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{:: 'billing_ssh_title' | translate}}"
            href="{{:: $ctrl.sshLink }}"
            data-active="$ctrl.currentActiveLink() === $ctrl.sshLink">
        </oui-header-tabs-item>
    </oui-header-tabs>
</oui-page-header>

<div data-ui-view>
    <div class="tab-content">
        <div data-ovh-alert></div>

        <div data-ng-if="$ctrl.nicBilling.length > 1">
            <label for="nicBilling" class="oui-label" data-translate="autorenew_service_autorenew_contact_filter"></label>
            <oui-select
                class="oui-select_l"
                id="nicBilling"
                data-name="nicBilling"
                data-model="$ctrl.nicBillingFilter"
                data-items="$ctrl.nicBilling"
                data-on-change="$ctrl.onNicBillingChange()">
            </oui-select>
        </div>

        <oui-datagrid
            id="services"
            data-page-size="10"
            data-empty-placeholder="{{:: 'autorenew_empty' | translate }}"
            data-rows-loader="$ctrl.loadServices($config)"
            data-on-row-select="$ctrl.onRowSelection($rows)"
            data-selectable-rows
            data-criteria="$ctrl.criteria">

            <extra-top>
                <oui-action-menu data-text="{{:: 'autorenew_service_action_title' | translate }}">
                    <div data-ng-if="$ctrl.selectedServices.length > 0">
                        <oui-action-menu-item
                            data-on-click="$ctrl.disableBulkAutorenew($ctrl.selectedServices)">
                            <span data-translate="billing_autorenew_service_disable_autorenew"></span>
                        </oui-action-menu-item>
                        <oui-action-menu-item
                            data-on-click="$ctrl.enableBulkAutorenew($ctrl.selectedServices)">
                            <span data-translate="billing_autorenew_service_enable_autorenew"></span>
                        </oui-action-menu-item>
                        <oui-action-menu-divider ></oui-action-menu-divider>
                    </div>
                    <button type="button"
                        class="oui-dropdown-option"
                        data-export-csv="$ctrl.getDatasToExport()"
                        data-export-csv-separator=";"
                        data-ng-click="$ctrl.trackCSVExport()">
                        <span data-translate="billing_export_csv"></span>
                    </button>
                    <div data-ng-if="$ctrl.canDisableAllDomains">
                        <oui-action-menu-divider></oui-action-menu-divider>
                        <oui-action-menu-item
                            data-on-click="$ctrl.disableAutorenewForDomains()">
                            <span data-translate="autorenew_service_disable_all_domains"></span>
                        </oui-action-menu-item>
                    </div>
                </oui-action-menu>
            </extra-top>

            <!-- Columns -->
            <oui-column
                data-property="serviceId"
                data-title="::'autorenew_service_name' | translate"
                data-type="string"
                data-searchable
                data-sortable>
                <span data-ng-bind="::$row.serviceId" data-ng-hide="$row.serviceType === 'EXCHANGE'"></span>
                <span data-ng-bind="::$row.alternativeId" data-ng-show="$row.serviceType === 'EXCHANGE'"></span>
            </oui-column>
            <oui-column
                data-property="serviceType"
                data-title="::'autorenew_service' | translate"
                data-type="options"
                data-type-options="$ctrl.filtersOptions.serviceType"
                data-filterable
                data-sortable>
                <span data-ng-bind-html="('autorenew_service_type_' + $row.serviceType) | translate"></span>
            </oui-column>
            <oui-column
                data-title="::'autorenew_service_state' | translate">
                <span class="oui-icon oui-icon-success_circle oui-color-success-medium"
                    aria-label="{{:: 'autorenew_service_state_' + $row.status | translate }}"
                    title="{{:: 'autorenew_service_state_' + $row.status | translate }}"
                    data-ng-if="$row.status === 'OK'">
                </span>
                <span class="oui-status oui-status_error"
                    data-ng-if="$row.status !== 'OK'"
                    data-translate="{{ 'autorenew_service_state_' + $row.status }}">
                </span>
            </oui-column>
            <oui-column
                data-title="::'autorenew_service_status' | translate"
                data-property="status"
                data-type="options"
                data-type-options="$ctrl.filtersOptions.renewStatus"
                data-filterable>
                <billing-renew-label data-service-infos="$row"></billing-renew-label>
            </oui-column>
            <oui-column
                data-title="::'autorenew_service_date' | translate"
                data-property="expiration"
                data-type="options"
                data-type-options="$ctrl.filtersOptions.renewExpiration"
                data-filterable>
                <span data-ng-if="$row && $row.expiration"
                    data-ng-class="getExpirationClass($row)">
                    <billing-renew-date data-service-infos="$row"></billing-renew-date>
                </span>
            </oui-column>
            <!-- /Columns -->

            <!-- Actions -->
            <oui-action-menu
                data-aria-label="{{:: 'autorenew_service_action_menu_tooltip' | translate }}"
                data-align="end"
                data-compact>

                <div data-ng-if="$row.serviceType !== 'EMAIL_DOMAIN'
                    && $row.serviceType !== 'EXCHANGE'
                    && $row.serviceType !== 'SMS'">

                    <!-- Service in autorenew -->
                    <oui-action-menu-item
                        data-ng-if="$row.renewalType !== 'oneShot'"
                        data-on-click="$ctrl.updateServices($row)"
                        data-text="{{:: 'autorenew_service_update_button_caption' | translate }}">
                    </oui-action-menu-item>
                    <oui-action-menu-item
                        data-ng-if="!$row.renew.deleteAtExpiration"
                        data-disabled="!$ctrl.canResiliate($row)"
                        data-on-click="$ctrl.resiliateService($row)"
                        data-text="{{:: 'autorenew_service_resiliate_button' | translate }}">
                    </oui-action-menu-item>
                    <!-- /Service in autorenew -->

                    <!-- Service in manual renew  -->
                    <oui-action-menu-item
                        data-ng-if="$row.renewalType !== 'oneShot'
                            && !$ctrl.isInDebt($row)
                            && !$ctrl.hasAutoRenew($row)"
                        data-disabled="$row.renew.forced"
                        data-aria-label="{{:: 'manualrenew_service_renew_button_title' | translate: { t0: $row.serviceId } }}"
                        data-href="{{:: $ctrl.getRenewUrl($row) }}"
                        data-text="{{:: 'manualrenew_service_renew_button' | translate }}"
                        data-external>
                    </oui-action-menu-item>
                    <!-- /Service in manual renew  -->
                </div>

                <!-- Exchange -->
                <div data-ng-if="$row.serviceType === 'EXCHANGE'">
                    <oui-action-menu-item
                        data-on-click="$ctrl.updateExchangeBilling($row)"
                        data-text="{{:: 'autorenew_service_update_exchange_button_caption' | translate }}">
                    </oui-action-menu-item>
                    <oui-action-menu-item
                        data-ng-if="!$row.renew.deleteAtExpiration"
                        data-disabled="!$ctrl.canResiliate($row)"
                        data-on-click="$ctrl.resiliateExchangeService($row)"
                        data-text="{{:: 'autorenew_service_resiliate_button' | translate }}">
                    </oui-action-menu-item>
                </div>
                <!-- /Exchange -->

                <!-- MX Plan -->
                <oui-action-menu-item
                    data-ng-if="$row.serviceType === 'EMAIL_DOMAIN' && $row.status !== 'EXPIRED'"
                    data-on-click="$ctrl.terminateEmail($row)"
                    data-text="{{:: 'autorenew_service_EMAIL_DOMAIN_terminate' | translate }}">
                </oui-action-menu-item>
                <!-- /MX Plan -->

                <!-- SMS -->
                <div data-ng-if="$row.serviceType === 'SMS'">
                    <oui-action-menu-item
                        data-href="{{:: $ctrl.getSMSCreditBuyingURL($row) }}"
                        data-text="{{:: 'autorenew_service_action_menu_smsPack_credit' | translate }}"
                        data-external>
                    </oui-action-menu-item>

                    <oui-action-menu-item
                        data-href="{{:: $ctrl.getSMSAutomaticRenewalURL($row) }}"
                        data-text="{{:: 'autorenew_service_action_menu_smsPack_automaticRenew' | translate }}"
                        data-external>
                    </oui-action-menu-item>
                </div>
                <!-- /SMS -->

                <!-- Service with termination asked by the customer -->
                <oui-action-menu-item
                    data-ng-if="$ctrl.canCancelResiliation($row)
                        && $row.serviceType !== 'EMAIL_DOMAIN'"
                    data-on-click="$ctrl.cancelServiceResiliation($row)"
                    data-text="{{:: 'autorenew_service_canceldelete_button' | translate }}">
                </oui-action-menu-item>
                <!-- /Service with termination asked by the customer -->

            </oui-action-menu>
            <!-- /Actions -->

        </oui-datagrid>
    </div>
</div>
