<oui-page-header
    data-heading="{{:: 'billing_title' | translate}}">
    <oui-header-tabs>
        <oui-header-tabs-item
            data-text="{{:: 'billing_home_title' | translate}}"
            href="{{:: homeLink }}"
            data-active="currentActiveLink() === homeLink"
            data-ng-if="!isEnterpriseCustomer">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{:: 'billing_agreements_title' | translate}}"
            href="{{:: agreementsLink }}"
            data-active="currentActiveLink() === agreementsLink">
        </oui-header-tabs-item>
        <oui-header-tabs-item
            data-text="{{:: 'billing_ssh_title' | translate}}"
            href="{{:: sshLink }}"
            data-active="currentActiveLink() === sshLink">
        </oui-header-tabs-item>
    </oui-header-tabs>
</oui-page-header>

<div data-ui-view>
    <div id="billing-autorenew">
        <div class="text-center" data-ng-if="initLoading">
            <oui-spinner data-size="l"></oui-spinner>
        </div>

        <div class="tab-content" data-ng-if="!initLoading">

            <div data-ovh-alert></div>

            <oui-message
                data-dismissable
                data-type="success"
                data-ng-if="mustDisplayDeleteAtExpirationCancellingBanner">
                <span
                    data-translate="autorenew_service_deleteAtExpiration_banner"
                    data-translate-values="{ serviceName: serviceToKeep.serviceId }"></span>
                <button
                    data-ng-click="cancelDeleteService(serviceToKeep)"
                    data-translate="autorenew_service_deleteAtExpiration_banner_cancel"
                    class="oui-button oui-button_link m-0 py-0 pl-3"></button>
            </oui-message>

            <oui-message
                data-ng-if="!automaticRenewV2Mean.loading && automaticRenewV2Mean.available && (!automaticRenewV2Mean.allowed || (automaticRenewV2Mean.allowed && !nicRenew.active && nicRenew.initialized)) && !services.data.userSubsidiaryHasRecentAutorenew"
                data-type="error"
                data-aria-close-button-label="{{ 'browser_alert_close' | translate }}"
                data-on-dismissed="automaticRenewV2Mean.noMeanMessageClose()"
                data-dismissable>
                <p data-ng-if="!automaticRenewV2Mean.allowed" data-translate="autorenew_service_renew_requires_mean_and_date"></p>
                <p data-ng-if="automaticRenewV2Mean.allowed && !nicRenew.active && nicRenew.initialized">
                    <span data-translate="autorenew_service_activate_alert"></span>
                    <button class="btn btn-default"
                            type="button"
                            data-ng-click="setAction('active', { nicRenew: nicRenew }, 'autoRenew')"
                            data-translate="autorenew_service_active_title">
                    </button>
                </p>
            </oui-message>

            <form novalidate>
                <oui-field
                    data-ng-if="nicBillingFilter.values.length > 1"
                    data-label="{{::'autorenew_service_autorenew_contact_filter' | translate}}"
                    data-size="l">
                    <label class="oui-select">
                        <select name="billingAutoRenew"
                            class="oui-select__input"
                            data-ng-model-options="{ debounce: 500 }"
                            data-ng-model="nicBillingFilter.model"
                            data-ng-change="onNicBillingChange()"
                            data-ng-options="nicBilling for nicBilling in nicBillingFilter.values track by nicBilling">
                            <option value=""
                                data-translate="autorenew_service_autorenew_contact_filter_all">
                            </option>
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </label>
                </oui-field>
            </form>

            <div class="oui-box"
                 data-ng-if="services.selected.length > 0 || selected.both">
                <p class="text-info"
                   data-translate="autorenew_service_mass_actions_caption">
                </p>
                <button type="button"
                        class="oui-button oui-button_secondary"
                        data-ng-click="updateServices()"
                        data-translate="autorenew_service_update_button_caption">
                </button>
                <button type="button"
                        class="oui-button oui-button_secondary"
                        data-ng-click="manualRenew()"
                        data-ng-disabled="!selected.hasManualRenew"
                        data-translate="manualrenew_service_renew_button">
                </button>
            </div>

            <oui-message
                class="mb-2"
                data-ng-if="services.error"
                data-type="error"
                data-on-dismissed="message=null"
                data-dismissable>
                <span data-ng-bind-html="services.error"></span>
            </oui-message>

            <!-- TEMP -->
            <select class="form-control input-sm"
                data-ng-options="type.text for type in servicesTypes"
                data-ng-model="serviceTypeObject.value"
                data-ng-click="loaded = true"
                data-ng-change="onSelectedTypeChanged()">
            </select>
            <select class="form-control input-sm"
                data-ng-options="(('services_filter_duration_' + renew) | translate) for renew in renewFilter.values"
                data-ng-model="renewFilter.model"
                data-ng-change="onSelectedrenewChange()">
            </select>
            <select class="form-control input-sm"
                data-ng-options="key as value for (key, value) in renewalFilter.labels"
                data-ng-model="renewalFilter.model"
                data-ng-change="onSelectedRenewalChange()">
            </select>
            <!-- /TEMP -->

            <oui-datagrid
                data-empty-placeholder="{{::'autorenew_empty' | translate}}"
                data-rows="services.data.list.results"
                data-selectable-rows>
                <extra-top>
                    <oui-dropdown>
                        <oui-dropdown-trigger data-text="{{:: 'autorenew_service_action_title' | translate }}"></oui-dropdown-trigger>
                        <oui-dropdown-content>
                            <a class="oui-dropdown-option"
                            data-ui-sref="app.account.billing.payment.method"
                            data-track-on="click"
                            data-track-type="action"
                            data-track-name="services::payment_types::edit::payment_types_settings">
                                <span data-translate="autorenew_manage_my_payment_means"></span>
                            </a>
                            <a data-ng-if="automaticRenewV2Mean.available"
                            class="oui-dropdown-option"
                            target="_blank"
                            rel="noopener"
                            data-ng-href="{{ urls.renewAlign }}"
                            data-track-on="click"
                            data-track-type="action"
                            data-track-name="services::autoRenew::edit::autoRenew_date_settings">
                                <span data-translate="autorenew_service_update_date_button_caption"></span>
                            </a>
                            <button data-ng-if="canDisableAllDomains"
                                    class="oui-dropdown-option"
                                    type="button"
                                    data-ng-click="disableAutorenewForDomains()"
                                    data-track-on="click"
                                    data-track-type="action"
                                    data-track-name="services::autoRenew::edit::autoRenew_domains">
                                <span data-translate="autorenew_service_disable_all_domains"></span>
                            </button>
                            <oui-dropdown-divider></oui-dropdown-divider>
                            <button type="button"
                                    class="oui-dropdown-option"
                                    data-export-csv="getDatasToExport()"
                                    data-export-csv-separator=";"
                                    data-ng-disabled="load.exportCSV"
                                    data-ng-click="trackCSVExport()">
                                    <span data-translate="billing_export_csv"></span>
                            </button>
                        </oui-dropdown-content>
                    </oui-dropdown>
                </extra-top>

                <!-- Columns -->
                <oui-column
                    data-property="serviceId"
                    data-title="::'autorenew_service_name' | translate"
                    data-type="string"
                    data-searchable
                    data-sortable>
                    <span data-ng-bind="::$row.serviceId" data-ng-hide="$row.serviceType === 'EXCHANGE'"></span>
                    <span data-ng-bind="::$row.alternativeId" data-ng-show="$row.serviceType === 'EXCHANGE'"></span>
                </oui-column>
                <oui-column
                    data-property="serviceType"
                    data-title="::'autorenew_service' | translate"
                    data-type="options"
                    data-type-options="{ hideOperators: true }"
                    data-filterable
                    data-sortable>
                    <span data-ng-bind-html="('autorenew_service_type_' + $row.serviceType) | translate"></span>
                </oui-column>
                <oui-column
                    data-property="status"
                    data-title="::'autorenew_service_state' | translate"
                    data-sortable>
                    <span class="oui-icon oui-icon-success_circle oui-color-success-medium" data-ng-if="$row.status === 'OK'"></span>
                    <span data-ng-if="$row.status !== 'OK'" data-translate="{{ 'autorenew_service_state_' + $row.status }}"></span>
                </oui-column>
                <oui-column
                    data-title="::'autorenew_service_status' | translate"
                    data-type="options"
                    data-type-options="{ hideOperators: true }"
                    data-filterable>
                    <billing-renew-label data-service-infos="$row"></billing-renew-label>
                </oui-column>
                <oui-column
                    data-property="expiration"
                    data-title="::'autorenew_service_date' | translate"
                    data-type="options"
                    data-type-options="{ hideOperators: true }"
                    data-filterable
                    data-sortable>
                    <span data-ng-if="$row && $row.expiration"
                          data-ng-class="getExpirationClass($row)">
                        <billing-renew-date data-service-infos="$row"></billing-renew-date>
                    </span>
                </oui-column>
                <!-- /Columns -->

                <oui-action-menu
                    data-aria-label="{{:: 'autorenew_service_action_menu_tooltip' | translate }}"
                    data-align="end"
                    data-compact>

                    TODO :D !

                </oui-action-menu>
            </oui-datagrid>
        </div>
    </div>
</div>
