# COMMON
tmp
.DS_Store
.idea
Messages_*_*.json
.setting/
node_modules/
dist/
dist-CA/
dist-EU/
dist-US/
client/app/login.html
client/app/auth.html
client/app/css/main.css
client/app/css/main-scss.css
client/app/css/main-scss.css.map
client/app/doubleAuthentication.html
client/app/components/ovh-utils-angular/
client/app/js
client/app/resources/i18n/*/*.json
client/app/resources/angular/i18n/
client/app/components/ovh-angular-otrs
tools/
*~
test-reports/
test-reports.tar.gz
*_flymake.js
server/mocks/apiv6/*.js
server/certificate/server.crt
server/certificate/server.csr
server/certificate/server.key

# MODULES COMMON
client/app/js/app/directives/*Directives.js
client/app/js/app/controllers/*Controllers.js
client/app/js/app/filters/*Filters.js
client/app/js/app/services/*Services.js
client/app/js/app/*App.js
!client/app/js/app/managerApp.js

# MODULE SUPPORT
client/app/css/support/
client/app/images/support/
client/app/js/app/controllers/support/
client/app/js/app/directives/support/
client/app/js/app/services/support/
client/app/resources/i18n/support/
client/app/views/configuration/support/

# MODULE EXCHANGE
client/app/exchange/
client/app/resources/i18n/exchange/
client/app/css/exchange/
client/app/images/exchange/

# UI KIT ICONS
client/app/css/icons/
