<oui-message
    data-type="warning"
    data-ng-if="$ctrl.usersWhoCanReceiveSMS.length === 0">
Au moins l'un de vos utilisateurs administrateur doit avoir un numéro de mobile,

une adresse email et être "token validator". Cela permet d'activer l'authentification à 2 facteurs pour les actions d'administrateur sur le vCenter.

Vous pouvez configurer vos utilisateurs en cliquant sur <a data-ui-sref="app.dedicatedClouds.users">ce lien</a>.
</oui-message>

<p>Afin de valider l'activation de l'authentification à deux facteurs, certains de vos utilisateurs recevront un token par SMS.</p>

<div data-ng-if="$ctrl.usersWhoCanReceiveSMS.length > 0">
    <p>Utilisateurs qui peuvent valider des tokens par SMS :</p>

    <oui-datagrid
        data-rows-loader="$ctrl.mapUsersWhoCanReceiveSMS()">
        <oui-column
            data-title="'Identifiant'"
            data-property="userName"
            data-type="string"></oui-column>
        <oui-column
            data-title="'Prénom'"
            data-property="firstName"
            data-type="string"></oui-column>
        <oui-column
            data-title="'Nom'"
            data-property="lastName"
            data-type="string"></oui-column>
        <oui-column
            data-title="'Adresse e-mail'"
            data-property="emailAddress"
            data-type="string"></oui-column>
        <oui-column
            data-title="'Numéro de téléphone'"
            data-property="phoneNumber"
            data-type="string"></oui-column>
    </oui-datagrid>
</div>

<button
    type="button"
    class="oui-button oui-button_secondary"
    data-ui-sref="app.dedicatedClouds.servicePackCertificationActivation.requiredConfiguration">
    Précédent
</button>

<button
    data-ng-if="$ctrl.usersWhoCanReceiveSMS.length > 0"
    type="button"
    class="oui-button oui-button_primary ml-3"
    data-ui-sref="app.dedicatedClouds.servicePackCertificationActivation.confirmation">
    Suivant
</button>
