<oui-spinner data-ng-hide="!loadingLicensesInformations || loadingLicensesError"></oui-spinner>

<div data-ng-hide="loadingLicensesInformations || loadingLicensesError">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-9">
                <h1 data-i18n-static="license_dashboard_title"></h1>
            </div>
            <div class="col-sm-3 d-flex">
                <div class="btn-group ml-auto mt-4">
                    <button type="button"
                            class="oui-button oui-button_dropdown mb-0"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-toggle="dropdown">
                        <span data-i18n-static="common_actions"></span>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right m-0 p-0">
                        <li>
                            <a class="btn btn-link"
                               data-ui-sref="app.license.order"
                               data-i18n-static="license_order_title_button">
                            </a>
                        </li>
                        <li>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="setAction('spla/add/license-spla-add')"
                                    data-i18n-static="license_spla_add_title_button">
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-5">
        <div data-ovh-alert></div>
        <div class="table-responsive mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="btn-group"
                                 data-uib-dropdown>
                                <button id="dLabelLicence"
                                        type="button"
                                        class="btn btn-link"
                                        data-uib-dropdown-toggle>
                                    {{ i18n['license_dashboard_table_title_type'] }} {{ i18n['license_designation_' + filterType] && licencesTableLoading == false && " ( " + licenses.list.results.length + " " + i18n['license_designation_' + filterType] + " )" || "" }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu"
                                    data-uib-dropdown-menu role="menu"
                                    aria-labelledby="dLabelLicence">
                                    <li role="menuitem"
                                        data-ng-class="{ 'selected': type == filterType }"
                                        data-ng-repeat="type in licenses.availableTypes">
                                        <button type="button"
                                                class="btn btn-link"
                                                data-ng-click="search(type)"
                                                data-ng-bind="i18n['license_designation_' + type] || '-'">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </th>
                        <th scope="col"
                            data-i18n-static="license_dashboard_table_title_id">
                        </th>
                        <th scope="col"
                            data-i18n-static="license_dashboard_table_title_ip">
                        </th>
                        <th scope="col"
                            data-i18n-static="license_dashboard_table_title_service">
                        </th>
                        <th scope="col"
                            colspan="2"
                            data-i18n-static="license_dashboard_table_title_expiration">
                        </th>
                    </tr>
                </thead>
                <tbody data-ng-show="licencesTableLoading">
                    <tr>
                        <td colspan="6"
                            class="text-center">
                            <oui-spinner data-size="s"></oui-spinner>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="!licencesTableLoading && licenses.list.results.length == 0">
                    <tr>
                        <td colspan="6"
                            class="text-center"
                            data-i18n-static="license_dashboard_table_empty">
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="!licencesTableLoading && licenses.list.results.length > 0">
                    <tr data-ng-repeat="license in licenses.list.results"
                        data-ng-show="license.billingStatus !== 'EXPIRED'">
                        <th scope="row">
                            <img alt="{{ license.type }}"
                                 width="20"
                                 height="20"
                                 data-ng-src="images/license/{{license.type}}_icon.png" />
                            <span data-ng-show="license.type != licenseTypes.SPLA"
                                  data-ng-bind="tr('license_designation_' + license.type + '_version_' + license.version)">
                            </span>
                            <span data-ng-show="license.type == licenseTypes.SPLA"
                                  data-ng-bind="tr('license_designation_' + license.type + '_type_' + license.splaType)">
                            </span>
                        </th>
                        <td data-ng-bind="::license.id || '-'"></td>
                        <td data-ng-bind="::license.ip || '-'"></td>
                        <td data-ng-bind="::license.serviceName || '-'"></td>
                        <td>
                            <service-expiration-label
                                service-infos="license">
                            </service-expiration-label>
                            <service-expiration-date
                                hide-renew-action="true"
                                service-name="license.id"
                                service-type=""
                                service-infos="license">
                            </service-expiration-date>
                        </td>
                        <td>
                            <div class="btn-group"
                                 data-uib-dropdown
                                 data-dropdown-append-to-body>
                                <button id="btn-license-action-{{ index }}"
                                        type="button"
                                        class="btn btn-link"
                                        data-uib-dropdown-toggle>
                                    <span class="ovh-font ovh-font-dots align-top" aria-hidden="true"></span>
                                    <span class="sr-only"
                                          data-i18n-static="common_actions">
                                    </span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right"
                                    role="menu"
                                    aria-labelledby="btn-license-action-{{ index }}"
                                    data-uib-dropdown-menu>
                                    <li role="menuitem">
                                        <a class="btn btn-link"
                                           data-ui-sref="app.license.detail({
                                               licenceId: getLicenseId(license)
                                           })"
                                           data-i18n-static="license_dashboard_table_popover_details">
                                        </a>
                                    </li>
                                    <li role="menuitem"
                                        data-ng-show="license.canBeMoved === true && !license.isExpired">
                                        <button type="button"
                                                class="btn btn-link"
                                                data-ng-click="setAction('migrate/license-migrate', { 'license': license })"
                                                data-i18n-static="license_dashboard_table_popover_move">
                                        </button>
                                    </li>
                                    <li role="menuitem"
                                        data-ng-show="license.type === licenseTypes.SPLA">
                                        <button type="button"
                                                class="btn btn-link"
                                                data-ng-click="setAction('spla/revoke/license-spla-revoke', { 'license': license })"
                                                data-i18n-static="license_dashboard_table_popover_revoke">
                                        </button>
                                    </li>
                                    <li role="menuitem"
                                        data-ng-show="license.canBeUpgraded === true && !license.isExpired">
                                        <a class="btn btn-link"
                                           data-ui-sref="app.license.upgrade({
                                               licenceId: getLicenseId(license)
                                           })"
                                           data-i18n-static="license_dashboard_table_popover_upgrade">
                                        </a>
                                    </li>
                                    <li role="menuitem"
                                        data-ng-if="license.isExpired">
                                        <a target="_blank"
                                           rel="noopener"
                                           data-ng-href="{{ getRenewUrl() + license['id'] }}"
                                           data-i18n-static="license_dashboard_table_popover_renew">
                                        </a>
                                    </li>
                                    <li role="menuitem"
                                        data-ng-if="license.type !== licenseTypes.SPLA && !license.isExpired">
                                        <button type="button"
                                                class="btn btn-link"
                                                data-ng-click="setAction('delete/license-delete', { 'license': license })"
                                                data-i18n-static="license_dashboard_table_popover_delete">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-show="!licencesTableLoading && licenses.list.results.length > 0"
             data-pagination-server-side="licensesPagination"
             data-pagination-server-side-function="loadLicenses"
             data-pagination-server-side-paginated-stuff="licenses"
             data-pagination-server-side-table-loading="licensesTableLoading">
        </div>
    </div>
    <!-- /.container-fluid -->

</div>

<div id="currentAction" class="modal fade currentAction" tabindex="-1" data-role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div id="modal-container" class="modal-content" data-ng-include="stepPath"></div>
        <div id="modal-help" class="help4wizards" style="width: 230px;"></div>
    </div>
</div>
