<div class="useraccount-emails-details">
    <div class="page-header">
        <h1 data-translate="user_account_email_detail"></h1>
    </div>
    <!-- /.page-header -->
    <div class="tab-content">
        <div class="oui-back-button">
            <a class="oui-button oui-button_icon-alone"
               data-ui-sref="app.account.useraccount.emails">
                <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
            </a>
            <h2 class="oui-back-button_title oui-header_2"
                data-translate="user_account_email_back">
            </h2>
        </div>
        <div data-ovh-alert="user_account_email_detail"></div>
        <div class="text-center"
             data-ng-if="$ctrl.isLoading">
            <oui-spinner></oui-spinner>
        </div>
        <div data-ng-if="!$ctrl.isLoading">
            <h3 data-ng-bind="$ctrl.emailNotification.subject"></h3>
            <p>
                <strong data-translate="user_account_email_detail_date"></strong>
                <span data-ng-bind="$ctrl.emailNotification.date | date : 'short'"></span>
            </p>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-default"
                            type="button"
                            data-ng-if="$ctrl.emailNotification.bodyCook"
                            data-ng-click="$ctrl.emailNotification.displayBodyCook = !$ctrl.emailNotification.displayBodyCook">
                        <span data-ng-if="$ctrl.emailNotification.displayBodyCook"
                              data-translate="user_account_detail_raw_version">
                        </span>
                        <span data-ng-if="!$ctrl.emailNotification.displayBodyCook"
                              data-translate="user_account_detail_cook_version">
                        </span>
                        <span class="fa"
                              data-ng-class="{
                                  'fa-eye': $ctrl.emailNotification.displayBodyCook,
                                  'fa-eye-slash': !$ctrl.emailNotification.displayBodyCook
                              }"
                              aria-hidden="true">
                        </span>
                    </button>
                    <pre data-ng-if="$ctrl.emailNotification.displayBodyCook"
                         data-ng-bind-html="$ctrl.emailNotification.bodyCook">
                    </pre>
                    <pre data-ng-if="!$ctrl.emailNotification.displayBodyCook"
                         data-ng-bind="$ctrl.emailNotification.body">
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.useraccount-emails-details -->
