<div class="cdn-dedicated-manage">
    <!-- Loader -->
    <div class="text-center m-5"
         data-ng-if="$ctrl.loading">
        <oui-spinner></oui-spinner>
    </div> <!-- End of Loader -->

    <!-- Section Content -->
    <div data-ng-if="!$ctrl.loading">
        <!-- Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-9">
                    <h1 class="word-break mb-0"
                        data-ng-bind="$ctrl.cdn.serviceName">
                    </h1>
                </div>
                <div class="col-sm-3 d-flex">
                    <div class="btn-group ml-auto mt-4">
                        <button type="button"
                                class="oui-button oui-button_dropdown mb-0"
                                aria-haspopup="true"
                                aria-expanded="false"
                                data-toggle="dropdown">
                            <span data-translate="common_actions"></span>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a class="btn btn-block btn-link"
                                   data-ui-sref="app.networks.cdn.dedicated.domain-add"
                                   data-translate="cdn_dedicated_domain_add_button_title">
                                </a>
                            </li>
                            <li>
                                <button type="button"
                                        class="btn btn-block btn-link"
                                        data-ng-click="setAction('domain/rule/order/cdn-dedicated-domain-rule-order')"
                                        data-translate="cdn_configuration_cacherules_upgrade_title_button">
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="btn btn-block btn-link"
                                        data-ng-click="setAction('quota/order/cdn-dedicated-quota-order')"
                                        data-translate="cdn_configuration_order_quota_title">
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End of Header -->

        <!-- Tabs -->
        <responsive-tabs>
            <responsive-tab data-state="app.networks.cdn.dedicated">{{ 'cdn_tab_statistics' | translate }}</responsive-tab>
            <responsive-tab data-state="app.networks.cdn.dedicated.ssl">{{ 'cdn_tab_ssl' | translate }}</responsive-tab>
            <responsive-tab-more>
                <i class="fa fa-plus"></i>
            </responsive-tab-more>
        </responsive-tabs> <!-- End of Tabs -->

        <!-- Tab Content -->
        <div class="tab-content">
            <div class="alert"
                 role="alert"
                 data-ng-class="alertType"
                 data-ng-if="message">
                <i class="close icon-remove" data-ng-click="message = null"></i>
                <span data-ng-bind="message"></span>
            </div>

            <div data-ovh-alert="cdnDedicatedManage"></div>

            <div data-ui-view="cdnView"></div>
        </div> <!-- End of Tab Content -->
    </div>

</div>
