<div data-ng-controller="DedicatedCloudSubDatacenterVeeamCtrl">

    <h2 data-i18n-static="dedicatedCloud_tab_backup"></h2>

    <div class="text-center"
         data-ng-if="loading">
        <oui-spinner></oui-spinner>
    </div>
    <div class="row"
         data-ng-if="!loading && veeam.model">
        <dl class="col-sm-9">
            <dt data-i18n-static="dedicatedCloud_tab_veeam_state"></dt>
            <dd data-ng-bind="tr('dedicatedCloud_tab_veeam_' + veeam.model.state.toUpperCase())"></dd>
        </dl>
        <div class="col-sm-3">
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-if="veeam.model.state === veeam.constants.DISABLED && host.length"
                    data-ng-click="canBeActivated() && setAction('datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable', datacenter.model.name)"
                    data-ng-disabled="!canBeActivated()"
                    data-i18n-static="dedicatedCloud_tab_veeam_on">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-if="veeam.model.state === veeam.constants.ENABLED && host.length"
                    data-ng-click="canBeDisabled() && setAction('datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable', datacenter.model.name)"
                    data-ng-disabled="!canBeDisabled()"
                    data-i18n-static="dedicatedCloud_tab_veeam_off">
            </button>
        </div>
    </div>
</div>
