<div data-ng-controller="DedicatedCloudSubDatacenterVeeamBackupEnableCtrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="enableBackup"
         data-wizard-title="i18n.dedicatedCloud_tab_veeam_enable_title">

        <div data-wizard-step
             data-wizard-step-valid="!loading">

            <div class="text-center"
                 data-ng-if="loading">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!loading">
                <p data-ng-bind-html="tr('dedicatedCloud_tab_veeam_enable_message', datacenterName)"></p>
                <p data-ng-bind-html="tr('dedicatedCloud_tab_veeam_enable_message2')"></p>
            </div>

        </div>

    </div>

</div>
