<div data-ng-controller="DedicatedCloudConfirmTerminateCtrl">

    <div data-wizard
         data-wizard-on-cancel="cancel"
         data-wizard-on-finish="confirm"
         data-wizard-title=":: 'dedicatedCloud_confirm_close_service' | translate"
         data-wizard-confirm-button-text=":: 'dedicatedCloud_confirm_close_confirm' | translate"
         data-wizard-cancel-button-text=":: 'dedicatedCloud_confirm_close_cancel' | translate">

        <div data-wizard-step
             data-wizard-step-valid="!loaders.loading && form.reason">

            <p class="text-info">
                <strong data-translate="dedicatedCloud_confirm_close_question"></strong>
            </p>
            <div class="radio"
                 data-ng-repeat="reason in reasons track by $index">
                <label>
                    <input type="radio"
                           name="reasons"
                           value="{{ reason }}"
                           data-ng-model="form.reason">
                    <span data-translate="{{ 'dedicatedCloud_confirm_close_reason_' + reason.toLowerCase() }}"></span>
                </label>
            </div>
            <p class="text-info">
                <strong data-translate="dedicatedCloud_confirm_close_feedback"></strong>
            </p>
            <textarea class="form-control no-resize"
                      rows="6"
                      maxlength="450"
                      data-ng-model="form.commentary">
            </textarea>

        </div>

    </div>

</div>
