<div data-ng-controller="CdnTabSslCtrl">

    <h2 data-translate="cdn_tab_ssl"></h2>

    <div class="text-center"
         data-ng-show="loading">
        <oui-spinner></oui-spinner>
    </div>
    <div class="row"
         data-ng-show="ssl == null && !loading">
        <div class="col-sm-9"
             data-translate="cdn_configuration_no_ssl">
        </div>
        <div class="col-sm-3">
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('manage/ssl/add/cdn-dedicated-ssl-add')"
                    data-translate="cdn_configuration_add_ssl_title">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('manage/ssl/generate/cdn-dedicated-ssl-generate', ssl)"
                    data-ng-if="!disableDelCertificat()"
                    data-translate="cdn_configuration_generate_ssl_title">
            </button>
        </div>
    </div>
    <div class="row"
         data-ng-show="ssl != null && !loading">
        <div class="col-sm-9">
            <dl>
                <dt data-translate="cdn_configuration_ssl_name"></dt>
                <dd data-ng-bind="ssl.name"></dd>
                <dt data-translate="cdn_configuration_ssl_cn"></dt>
                <dd data-ng-bind="ssl.cn"></dd>
                <dt data-translate="cdn_configuration_ssl_status"></dt>
                <dd>
                    <span class="label"
                          data-ng-class="getBadgeClass(ssl.status)"
                          data-ng-bind="'cdn_configuration_ssl_state_' + ssl.status.toUpperCase() | translate"></span>
                    <span class="text-danger ml-3"
                          data-ng-if="taskErrorMessage"
                          data-ng-bind="taskErrorMessage">
                    </span>
                </dd>
                <dt data-translate="cdn_configuration_ssl_certificateValidFrom"></dt>
                <dd data-ng-bind="ssl.certificateValidFrom | date:'mediumDate'"></dd>
                <dt data-translate="cdn_configuration_ssl_certificateValidTo"></dt>
                <dd data-ng-bind="ssl.certificateValidTo | date:'mediumDate'"></dd>
                <dt data-translate="cdn_configuration_ssl_certificateProvider"></dt>
                <dd data-translate="{{ 'cdn_configuration_ssl_provider_' + ssl.certificateProvider }}"></dd>
            </dl>
        </div>
        <div class="col-sm-3">
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-if="!disableDelCertificat()"
                    data-ng-click="setAction('manage/ssl/generate/cdn-dedicated-ssl-generate', ssl)"
                    data-translate="cdn_configuration_generate_ssl_title">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-if="!disableDelCertificat()"
                    data-ng-click="setAction('manage/ssl/update/cdn-dedicated-ssl-update', ssl)"
                    data-translate="cdn_configuration_update_ssl_title">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-if="!disableDelCertificat()"
                    data-ng-click="setAction('manage/ssl/delete/cdn-dedicated-ssl-delete', ssl)"
                    data-translate="cdn_configuration_delete_ssl_title">
            </button>
        </div>
    </div>
</div>
