<div id="main-container"
     data-ui-view="dedicatedCloudView">

    <div class="text-center mt-5"
         data-ng-if="loadingInformations && !loadingError">
        <oui-spinner data-size="l"></oui-spinner>
    </div>

    <div data-ng-if="!loadingInformations">

        <header class="page-header"
                role="banner">
            <div class="row">
                <div class="col-md-9">
                    <form name="formEditDisplayName"
                          novalidate>
                        <div class="mb-3"
                             data-ng-if="!dedicatedCloudDescription.editMode">
                            <div class="d-flex">
                                <h1 class="d-inline-block mb-0 word-break"
                                    data-ng-bind="dedicatedCloud.description">
                                </h1>
                                <button type="button"
                                        title="{{ i18n.wizard_modify }}"
                                        class="btn btn-icon my-auto ml-2"
                                        data-ng-click="editDescription()">
                                    <span class="oui-icon oui-icon-pen_line oui-icon_small" aria-hidden="true"></span>
                                </button>
                            </div>
                            <em data-ng-bind="dedicatedCloud.serviceName"></em>
                        </div>
                        <div class="form-group my-4"
                             data-ng-if="dedicatedCloudDescription.editMode">
                            <div class="oui-input-group">
                                <input type="text"
                                       class="oui-input"
                                       name="newDisplayName"
                                       data-ng-model="dedicatedCloudDescription.model">
                                <button type="submit"
                                        class="oui-button oui-button_small-width"
                                        aria-label="{{ i18n.dedicatedCloud_edit_description_valid }}"
                                        data-ng-click="setDescription()"
                                        data-ng-disabled="!formEditDisplayName.newDisplayName.$dirty || formEditDisplayName.$invalid">
                                    <span class="oui-icon oui-icon-success oui-icon_small" aria-hidden="true"></span>
                                </button>
                                <button type="button"
                                        class="oui-button oui-button_small-width"
                                        aria-label="{{ i18n.dedicatedCloud_edit_description_cancel }}"
                                        data-ng-click="cancelDescription()">
                                    <span class="oui-icon oui-icon-error oui-icon_small" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="btn-group ml-auto mt-4">
                        <button class="oui-button oui-button_dropdown mb-0"
                                type="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                data-toggle="dropdown">
                            <span data-i18n-static="common_actions"></span>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li data-ng-if="dedicatedCloud.isEnableMonthly">
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="setAction('resource/upgrade/dedicatedCloud-resource-upgrade', {
                                            upgradeType: 'hourlyToMonthly',
                                            type: 'all'
                                        })"
                                        data-ng-disabled="getRight('host') || getRight('filer')"
                                        data-i18n-static="dedicatedCloud_updateResource_toMonthly">
                                </button>
                            </li>
                            <li>
                                <a class="btn btn-link"
                                   data-ui-sref="app.license.order"
                                   data-i18n-static="dedicatedCloud_order_license">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-link"
                                   href="#/configuration/ip?serviceName={{dedicatedCloud.name}}"
                                   data-i18n-static="dedicatedCloud_order_block">
                                </a>
                            </li>
                            <li data-ng-if="dedicatedCloud.canSubscribe">
                                <a class="btn btn-link"
                                   data-ui-sref="app.dedicatedClouds.ml-subscribe"
                                   data-i18n-static="dedicatedCloud_subscribe_mailing">
                                </a>
                            </li>
                            <li data-ng-if="dedicatedCloud.upgradable">
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="setAction('resource/upgrade/dedicatedCloud-resource-upgrade', {upgradeType: 'demoToMonthly', type: 'account' })"
                                        data-i18n-static="dedicatedCloud_upgrade_button">
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="setAction('terminate/dedicatedCloud-terminate',dedicatedCloud)"
                                        data-i18n-static="dedicatedCloud_close_service">
                                </button>
                            </li>
                            <li data-ng-if="dedicatedCloud.vScopeUrl">
                                <a class="btn btn-link"
                                   target="_blank"
                                   data-ng-href="{{dedicatedCloud.vScopeUrl}}"
                                   rel="noopener">
                                    <span data-i18n-static="dedicatedCloud_datacenter_go_vscope"></span>
                                    <i class="fa fa-external-link ml-1"></i>
                                </a>
                            </li>
                            <li data-ng-if="dedicatedCloud.webInterfaceUrl">
                                <a class="btn btn-link"
                                   data-ng-href="{{dedicatedCloud.webInterfaceUrl}}"
                                   target="_blank"
                                   rel="noopener">
                                    <span data-i18n-static="dedicatedCloud_datacenter_go_web_interface"></span>
                                    <i class="fa fa-external-link ml-1"></i>
                                </a>
                            </li>
                            <li data-ng-if="dedicatedCloud.certifiedInterfaceUrl && dedicatedCloud.advancedSecurity">
                                <a class="btn btn-link"
                                   data-ng-href="{{dedicatedCloud.certifiedInterfaceUrl}}"
                                   target="_blank"
                                   rel="noopener">
                                    <span data-i18n-static="dedicatedCloud_datacenter_go_certified_web_interface"></span>
                                    <i class="fa fa-external-link ml-1"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- Tabs -->
        <responsive-tabs>
            <responsive-tab data-state="app.dedicatedClouds"
                            data-dropdown-title="{{ i18n.dedicatedCloud_tab_dashboard }}">
                <span data-i18n-static="dedicatedCloud_tab_dashboard"></span>
            </responsive-tab>
            <responsive-tab data-state="app.dedicatedClouds.datacenters"
                            data-dropdown-title="{{ i18n.dedicatedCloud_tab_datacenter }}"
                            data-ng-if="!dedicatedCloud.isExpired">
                <span data-i18n-static="dedicatedCloud_tab_datacenter"></span>
            </responsive-tab>
            <responsive-tab data-state="app.dedicatedClouds.users"
                            data-dropdown-title="{{ i18n.dedicatedCloud_tab_user }}"
                            data-ng-if="!dedicatedCloud.isExpired">
                <span data-i18n-static="dedicatedCloud_tab_user"></span>
            </responsive-tab>
            <responsive-tab data-state="app.dedicatedClouds.security"
                            data-dropdown-title="{{ i18n.dedicatedCloud_tab_security }}"
                            data-ng-if="!dedicatedCloud.isExpired">
                <span data-i18n-static="dedicatedCloud_tab_security"></span>
            </responsive-tab>
            <responsive-tab data-state="app.dedicatedClouds.operation"
                            data-dropdown-title="{{ i18n.dedicatedCloud_tab_operation }}"
                            data-ng-if="!dedicatedCloud.isExpired">
                <span data-i18n-static="dedicatedCloud_tab_operation"></span>
            </responsive-tab>
            <responsive-tab-more>
                <i class="fa fa-plus"></i>
            </responsive-tab-more>
        </responsive-tabs> <!-- End of Tabs -->

        <div class="tab-content">

            <div class="alert alert-dismissible"
                 data-ng-class="alertType"
                 data-ng-show="message">
                <i class="close icon-remove" data-ng-click="message=null"></i>
                <span data-ng-bind-html="message"></span>
            </div>

            <div data-ovh-alert="dedicatedCloud"></div>

            <div data-ng-if="notifications.HDS_READY_NOTIFICATION" class="alert alert-info">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        data-ng-click="stopNotification(HDS_READY_NOTIFICATION)">
                    &times;
                </button>
                <i class="fa fa-info" aria-hidden="true"></i>
                <span data-ng-bind-html="tr('dedicatedCloud_banner_hdc_ready_label')"></span>
                <a class="btn btn-link"
                   role="button"
                   data-i18n-static="dedicatedCloud_banner_hdc_ready_contact_me"
                   data-ng-click="contactMeForHds()">
                </a>
            </div>

            <div class="alert alert-info"
                 data-ng-if="discount.AMDPCC">
                <button type="button"
                        class="close"
                        data-dismiss="alert">
                    &times;
                </button>
                <i class="fa fa-exclamation"></i>
                <span data-i18n-static="dedicatedCloud_discount_AMD"></span>
            </div>

            <div data-ovh-alert="dedicatedCloud_alert"></div>

            <div data-ui-view="pccView"></div>

        </div>
    </div>

    <div id="currentAction" class="modal fade currentAction" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modal-container" class="modal-content" data-ng-include="stepPath"></div>
            <div id="modal-help" class="help4wizards"></div>
        </div>
    </div>

</div>
