<div class="billing-orders">
    <oui-page-header data-heading="{{ :: 'orders_page_title' | translate }}"></oui-page-header>
    <div class="container-fluid my-5">
        <div class="row d-md-flex">
            <div class="col-md-12 col-lg-12">
                <oui-datagrid page-size="10" rows="$ctrl.orders" row-loader="$ctrl.loadRow($row)">
                    <oui-column title=":: 'orders_date' | translate" 
                                property="date" 
                                type="date"
                                filterable sortable="desc">
                      {{ $value | date: 'mediumDate' }}
                    </oui-column>
                    <oui-column title=":: 'orders_id' | translate" 
                                property="orderId" 
                                type="string"
                                searchable filterable sortable>
                    </oui-column>
                    <oui-column title=":: 'orders_status' | translate" 
                                property="status"
                                type="options"
                                type-options="$ctrl.getStateEnumFilter()"
                                filterable>
                      {{:: 'orders_order_status_' + $value | translate}}
                    </oui-column>
                    <oui-column title=":: 'orders_total_price' | translate" 
                                property="priceWithTax.text" 
                                type="string"
                                sortable> 
                    </oui-column>
                    <oui-action-menu align="end" compact>
                        <oui-action-menu-item text="{{:: 'orders_url' | translate }}" 
                                              data-ng-href="{{ $row.url }}"
                                              external>
                        </oui-action-menu-item>
                        <oui-action-menu-item text="{{:: 'orders_bill_url' | translate }}" 
                                              data-ng-if="$row.bill"
                                              data-ng-href="{{ $row.bill.url }}"
                                              external>
                        </oui-action-menu-item>
                        <oui-action-menu-item text="{{:: 'orders_bill_url_pdf' | translate }}" 
                                              data-ng-if="$row.bill"
                                              data-ng-href="{{ $row.bill.pdfUrl }}"
                                              external>
                        </oui-action-menu-item>
                        <oui-action-menu-item
                            data-ng-if="$row.canRetract"
                            data-ui-sref="app.account.billing.orders.retract({ id: $row.orderId })">
                                <span data-translate="orders_order_action_retract"></span>
                        </oui-action-menu-item>
                    </oui-action-menu>
                </oui-datagrid>
            </div>
        </div>
    </div>
</div>

<!--

                                              data-track-on="click"
                                              data-track-type="action"
                                              data-track-name="orders::open_invoices"
                    <td data-ng-if="isVATNeeded"
                        data-ng-bind="::order.priceWithTax.text">
                    </td>
                    <td data-ng-if="!isVATNeeded"
                        data-ng-bind="::order.priceWithoutTax.text">
                    </td>
                    <td class="text-right">
                        <oui-action-menu data-compact>
                            <a role="menuitem"
                               target="_blank"
                               rel="noopener"
                               class="oui-dropdown-option"
                               data-ng-if="order.bill.url"
                               data-ng-href="{{ ::order.bill.url }}">
                                <span data-translate="table_download_html_invoice"></span>
                                <span class="oui-icon oui-icon-page_line" aria-hidden="true"></span>
                            </a>
                            <a role="menuitem"
                               target="_blank"
                               rel="noopener"
                               class="oui-dropdown-option"
                               data-ng-if="order.bill.pdfUrl"
                               data-ng-href="{{ ::order.bill.pdfUrl}}">
                                <span data-translate="table_download_pdf_invoice"></span>
                                <span class="oui-icon oui-icon-pdf_line" aria-hidden="true"></span>
                            </a>
                        </oui-action-menu>
-->
