<div class="row-fluid">
    <div class="module-useraccount-sections-infos-container">

        <div data-ovh-alert="InfoAlert"></div>

        <div class="row-fluid" data-ng-hide="loading">
            <form class="span9" role="form" name="myAccountForm" data-ng-submit="submitData()">

                    <!-- firstname -->
                    <div class="form-group top-space-5" data-ng-class="{
                    'error': myAccountForm.firstName.$dirty && myAccountForm.firstName.$error,
                     'success' : myAccountForm.firstName.$dirty && myAccountForm.firstName.$valid }">
                        <label>
                            <span data-i18n-static="user_account_firstname"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input type="text" name="firstName"
                               placeholder=""
                               data-ng-model="model.firstName" required/>
                    </div>

                    <!-- name -->
                    <div class="form-group top-space-5" data-ng-class="{
                                'error': myAccountForm.lastName.$dirty && myAccountForm.lastName.$error,
                                'success' : myAccountForm.lastName.$dirty && myAccountForm.lastName.$valid }">
                        <label>
                            <span data-i18n-static="user_account_lastname"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input type="text" name="lastName"
                               placeholder=""
                               data-ng-model="model.lastName" required/>
                    </div>

                    <!-- legalform -->
                    <div class="form-group top-space-5">
                        <label class="control-label">
                            <span data-i18n-static="useraccount_sub_contacts_add_form_legalform_label"></span>
                            <sup class="red">*</sup>
                        </label>
                        <select name="legalform"
                                data-ng-model="model.legalForm"
                                data-ng-options="i18n['user_account_legalform_' + legalform] for legalform in controls.legalforms">
                        </select>
                    </div>

                    <!-- Language -->
                    <div class="form-group top-space-5">
                        <label class="control-label">
                            <span data-i18n-static="useraccount_sub_contacts_add_form_language_label"></span>
                            <sup class="red">*</sup>
                        </label>
                        <select name="language" id="language"
                                data-ng-model="model.language"
                                data-ng-options="language.value as language.name for language in controls.languages">
                        </select>
                        <div data-ng-messages="myAccountForm.language.$error" role="alert">
                            <div class="text-error" data-ng-message="required">
                                <p data-i18n-static="useraccount_contacts_owner_required"></p>
                            </div>
                        </div>
                    </div>

                    <!-- email -->
                    <div class="form-group top-space-5" data-ng-class="{
                                'error': myAccountForm.email.$dirty && myAccountForm.email.$error,
                                'success' : myAccountForm.email.$dirty && myAccountForm.email.$valid }">
                        <label class="control-label">
                            <span data-i18n-static="user_account_email"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input type='email' name="email" data-ng-model="model.email" required/>
                    </div>

                    <!-- Phone -->
                    <div class="form-group top-space-5">
                        <label class="control-label">
                            <span data-i18n-static="useraccount_contacts_owner_phone"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input id="phone" name="phone"
                               type="text"
                               maxlength="250"
                               data-ng-model="model.phone" required/>
                        <div data-ng-messages="myAccountForm.phone.$error" role="alert">
                            <div class="text-error" data-ng-message="maxlength">
                                <p data-i18n-static="useraccount_contacts_owner_to_long"></p>
                            </div>
                        </div>
                    </div>

                    <!-- organisation -->
                    <div class="form-group top-space-5" data-ng-if="model.legalForm !== 'individual'">
                        <label class="control-label">
                            <span data-i18n-static="useraccount_contacts_owner_organisation"></span>
                        </label>
                        <input name="organisationName" type='text'
                               placeholder=""
                               data-ng-model="model.organisationName"/>
                    </div>

                    <!-- address -->
                    <div class="form-group top-space-5" data-ng-class="{
                                'error': myAccountForm.address.line1.$dirty && myAccountForm.address.line1.$error,
                                'success' : myAccountForm.address.line1.$dirty && myAccountForm.address.line1.$valid }">
                        <label class="control-label">
                            <span data-i18n-static="user_account_address"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input type='text'
                                   placeholder="{{i18n.user_account_address}}"
                                   name="address"
                                   data-ng-model="model.address.line1" required/>
                    </div>

                    <!-- city -->
                    <div class="form-group top-space-5" data-ng-class="{
                                'error': myAccountForm.address.city.$dirty && myAccountForm.address.city.$error,
                                'success' : myAccountForm.address.city.$dirty && myAccountForm.address.city.$valid }">
                        <label class="control-label">
                            <span data-i18n-static="user_account_city"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input type="text" name="city"
                               placeholder="{{i18n.user_account_city}}"
                               data-ng-model="model.address.city" required/>
                    </div>

                    <!-- country -->
                    <div class="form-group top-space-5" data-ng-class="{
                                'error': myAccountForm.address.country.$dirty && myAccountForm.address.country.$error,
                                'success' : myAccountForm.address.country.$dirty && myAccountForm.address.country.$valid }">
                        <label class="control-label">
                            <span data-i18n-static="user_account_country"></span>
                            <sup class="red">*</sup>
                        </label>
                        <select name="country"
                                data-ng-model="model.address.country"
                                data-ng-options="country.countryCode as country.label for country in controls.countries"
                                required>
                        </select>
                    </div>

                    <!-- zip -->
                    <div class="form-group top-space-5" data-ng-class="{
                                'error': myAccountForm.address.zip.$dirty &&  myAccountForm.address.zip.$error,
                                'success' : myAccountForm.address.zip.$dirty &&  myAccountForm.address.zip.$valid }">
                        <label class="control-label">
                            <span data-i18n-static="user_account_zip"></span>
                            <sup class="red">*</sup>
                        </label>
                        <input type='text' name="zip" style="width: 60px;"
                               placeholder=""
                               data-ng-model="model.address.zip" required/>
                    </div>

                    <div class="top-space">
                        <button type="submit" class="btn btn-block btn-action btn-simple pull-right"
                                data-ng-disabled="isSaveDisabled()" data-i18n-static="user_account_OK"></button>
                        <button type="button" class="btn btn-block btn-action btn-simple" style="float:left"
                                data-ng-click="cancel()"
                                data-i18n-static="user_account_cancel"></button>
                    </div>
                </form>
        </div>
        <div class="row-fluid" data-ng-hide="loading">
            <p>
                <span class="red">* </span>
                <span data-i18n-static="useraccount_sub_contacts_order_sql_mandatory_field"></span>
            </p>
        </div>
    </div>

    <div class="row-fluid mtop70" data-ng-show="loading">
        <div class="span12 loader" data-i18n-static="loading_message"></div>
    </div>
</div>
