<div class="row d-md-flex">

    <!-- GENERAL INFORMATIONS -->
    <div class="col-md-4 mb-5">
        <oui-tile
            class="h-100"
            data-heading="{{:: 'dedicatedCloud_information_title' | translate }}">
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_description' | translate }}"
                data-description="{{ $ctrl.currentService.description }}">
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate: { t0: ('dedicatedCloud_description' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-text="{{:: 'common_change' | translate }}"
                        data-ng-click=":: $ctrl.openingModaleToEditDescription()"></oui-action-menu-item>
                </oui-action-menu>
            </oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_type' | translate }}"
                data-description="{{:: $ctrl.buildDescription() }}"></oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_commercialRange' | translate }}"
                data-description="{{:: $ctrl.currentService.commercialRange }}"></oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_pcc_zone' | translate }}"
                data-description="{{:: $ctrl.currentService.location }}"></oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_access' | translate }}"
                data-description="{{:: $ctrl.getUserAccessPolicyLabel() }}"></oui-tile-definition>
            <oui-tile-definition data-term="{{:: 'dedicatedCloud_bandwidth' | translate }}">
                <oui-tile-description
                    class="oui-status oui-status_info"
                    data-translate="dedicatedCloud_coming_soon"></oui-tile-description>
            </oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_datacenter_count' | translate }}"
                data-description="{{:: $ctrl.currentService.datacenterCount }}"></oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_nb_bloc_IP_ripe' | translate }}">
                <oui-tile-description
                    data-ng-if="$ctrl.currentService.ipRipeCount === 0"
                    data-translate="dedicatedCloud_nb_bloc_IP_no_data"></oui-tile-description>
                <oui-tile-description
                    data-ng-if="$ctrl.currentService.ipRipeCount > 0"
                    data-ng-bind="$ctrl.currentService.ipRipeCount"></oui-tile-description>
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate:{ t0: ('dedicatedCloud_order_block' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-text="{{:: 'dedicatedCloud_order_block' | translate }}"
                        data-ui-sref="app.ip({ serviceName: $ctrl.currentService.name })">
                    </oui-action-menu-item>
                </oui-action-menu>
            </oui-tile-definition>
            <oui-tile-definition
                data-ng-if="$ctrl.currentService.ipArinCount > 0"
                data-term="{{:: 'dedicatedCloud_nb_bloc_IP_arin' | translate }}"
                data-definition="{{:: $ctrl.currentService.ipArinCount }}">
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate:{ t0: ('dedicatedCloud_order_block' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-text="{{:: 'dedicatedCloud_order_block' | translate }}"
                        data-ui-sref="app.ip({ serviceName: $ctrl.currentService.name })">
                    </oui-action-menu-item>
                </oui-action-menu>
            </oui-tile-definition>
            <oui-tile-definition data-term="{{:: 'dedicatedCloud_subscription_links' | translate }}">
                <oui-tile-description>
                    <a
                        class="d-block oui-link_icon"
                        target="_blank"
                        rel="noopener"
                        data-ng-href="{{:: $ctrl.currentService.vScopeUrl }}">
                        <span data-translate="dedicatedCloud_datacenter_go_vscope"></span>
                        <span
                            class="oui-icon oui-icon-external_link"
                            aria-hidden="true"></span>
                        <span
                            class="sr-only"
                            data-translate="common_new_tab"></span>
                    </a>
                    <a
                        class="d-block oui-link_icon"
                        target="_blank"
                        rel="noopener"
                        data-ng-if=":: $ctrl.currentService.webInterfaceUrl"
                        data-ng-href="{{:: $ctrl.currentService.webInterfaceUrl}}">
                        <span data-translate="dedicatedCloud_datacenter_go_web_interface"></span>
                        <span
                            class="oui-icon oui-icon-external_link"
                            aria-hidden="true"></span>
                        <span
                            class="sr-only"
                            data-translate="common_new_tab"></span>
                    </a>
                </oui-tile-description>
            </oui-tile-definition>
        </oui-tile>
    </div>

    <!-- OPTIONS -->
    <div class="col-md-4 mb-5">
        <oui-tile
            class="h-100"
            data-heading="{{:: 'dedicatedCloud_options_title' | translate }}">
            <oui-tile-definition data-term="{{:: 'dedicatedCloud_dashboard_options_basicOptions_description' | translate }}">
                <oui-tile-description class="oui-list oui-list_separated m-0">
                    <ul
                        class="oui-list__items pl-3"
                        data-ng-if="$ctrl.allExistingOptions.length > 1">
                        <li
                            class="oui-list__item oui-list__group pt-3"
                            data-ng-class="{
                                'pb-3': !$last,
                            }"
                            data-ng-repeat="option in $ctrl.allExistingOptions track by option.name">
                            <span data-ng-bind="'dedicatedCloud_dashboard_options_basicOptions_names_' + option.name | translate"></span>
                            <dedicated-cloud-activation-status data-status="option.status"></dedicated-cloud-activation-status>
                            <a
                                class="d-block oui-link_icon"
                                target="_blank"
                                rel="noopener"
                                data-ng-if="option.status === $ctrl.DEDICATED_CLOUD_ACTIVATION_STATUS.disabled"
                                data-ng-href="{{ option.descriptionURL }}">
                                <span data-translate="dedicatedCloud_dashboard_options_basicOptions_moreInformation"></span>
                                <span
                                    class="oui-icon oui-icon-external_link"
                                    aria-hidden="true"></span>
                                <span
                                    class="sr-only"
                                    data-translate="common_new_tab"></span>
                            </a>
                        </li>
                    </ul>
                </oui-tile-description>
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate: { t0: ('dedicatedCloud_dashboard_options_basicOptions_menu_changeOption' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-text="{{ $ctrl.options.basicOption.title }}"
                        data-disabled="!$ctrl.orderableServicePacksWithOnlyBasicOptions.length"
                        data-ui-sref=".servicePack({
                            activationType: 'basicOptions',
                            orderableServicePacks: $ctrl.orderableServicePacksWithOnlyBasicOptions,
                            servicePacks: $ctrl.servicePacks,
                        })">
                    </oui-action-menu-item>
                </oui-action-menu>
            </oui-tile-definition>
            <oui-tile-definition data-term="{{:: 'dedicatedCloud_dashboard_options_certifications_description' | translate }}">
                <oui-tile-description>
                    <p data-ng-bind="$ctrl.currentCertification
                        ? (('dedicatedCloud_dashboard_options_certifications_names_' + currentServicePack.name) | translate)
                        : 'Aucune'"></p>

                        <a
                            class="oui-link_icon"
                            target="_blank"
                            rel="noopener"
                            data-ng-if=":: $ctrl.currentService.certifiedInterfaceUrl && $ctrl.currentService.advancedSecurity"
                            data-ng-href="{{:: $ctrl.currentService.certifiedInterfaceUrl }}">
                            <span data-translate="dedicatedCloud_datacenter_go_certified_web_interface"></span>
                            <span
                                class="oui-icon oui-icon-external_link"
                                aria-hidden="true"></span>
                            <span
                                class="sr-only"
                                data-translate="common_new_tab"></span>
                        </a>
                    </oui-tile-description>
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate: { t0: ('dedicatedCloud_dashboard_options_certifications_menu_changeCertification' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-disabled="$ctrl.orderableServicePacksWithCertifications.length === 0"
                        data-text="{{:: 'dedicatedCloud_dashboard_options_certifications_menu_changeCertification' | translate }}"
                        data-ui-sref=".servicePack({
                            activationType: 'certification',
                            orderableServicePacks: $ctrl.orderableServicePacksWithCertifications,
                            servicePacks: $ctrl.servicePacks,
                        })">
                    </oui-action-menu-item>
                </oui-action-menu>
            </oui-tile-definition>
        </oui-tile>
    </div>

    <!-- SUBSCRIPTIONS -->
    <div class="col-md-4 mb-5">
        <oui-tile
            class="h-100"
            data-heading="{{:: 'dedicatedCloud_subscription_title' | translate }}">
            <oui-tile-definition
                data-ng-if="$ctrl.currentService.isEnableMonthly"
                data-term="{{:: 'dedicatedCloud_subscription_resource' | translate }}"
                data-description="{{:: ($ctrl.currentService.isEnableMonthly ? 'dedicatedCloud_subscription_resource_yearly' : 'dedicatedCloud_subscription_resource_monthly') | translate }}">
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate:{ t0: ('dedicatedCloud_updateResource_toMonthly' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-text="{{:: 'dedicatedCloud_updateResource_toMonthly' | translate }}"
                        data-on-click="$ctrl.setAction(
                            'resource/upgrade/dedicatedCloud-resource-upgrade',
                            {
                                upgradeType: 'hourlyToMonthly',
                                type: 'all'
                            }
                        )"></oui-action-menu-item>
                    </oui-action-menu>
            </oui-tile-definition>
            <oui-tile-definition
                data-term="{{:: 'dedicatedCloud_subscription_mailing_list' | translate }}"
                data-description="{{:: $ctrl.currentUser.email }}">
                <oui-action-menu
                    data-aria-label="{{:: 'menu_action_label' | translate:{ t0: ('dedicatedCloud_subscribe_mailing' | translate) } }}"
                    data-compact
                    data-align="end">
                    <oui-action-menu-item
                        data-text="{{:: 'dedicatedCloud_subscribe_mailing' | translate }}"
                        data-ui-sref=".ml-subscribe">
                    </oui-action-menu-item>
                </oui-action-menu>
            </oui-tile-definition>
            <div
                data-ng-if="$ctrl.currentService.serviceInfos"
                class="oui-tile__item">
                <dl class="oui-tile__definition">
                    <dt class="oui-tile__term">
                        <service-expiration-label data-service-infos="$ctrl.currentService.serviceInfos"></service-expiration-label>
                    </dt>
                    <dd class="oui-link">
                        <service-expiration-date
                            data-service-name="$ctrl.currentService.name"
                            data-service-type="'DEDICATED_CLOUD'"
                            data-service-infos="$ctrl.currentService.serviceInfos"
                            data-force-hide-renew-action="true"></service-expiration-date>
                    </dd>
                </dl>
                <div class="oui-tile__actions">
                    <oui-action-menu
                        data-aria-label="{{:: 'dedicatedCloud_order_license' | translate }}"
                        data-align="end"
                        data-compact>
                        <oui-action-menu-item
                            data-text="{{:: 'dedicatedCloud_order_license' | translate }}"
                            data-ui-sref="app.license.order">
                        </oui-action-menu-item>
                    </oui-action-menu>
                </div>
            </div>
        </oui-tile>
    </div>
</div>
