<div>
    <h1 class="page-header"
        data-translate="payment_mean_title">
    </h1>

    <div class="tab-content">

        <div data-ovh-alert></div>

        <p class="alert alert-info"
           role="alert"
           data-ng-if="guide">
            <span data-translate="autorenew_service_autorenew_guide_help"></span>
            <a data-ng-href="{{guide}}" target="_blank">
                <span data-translate="autorenew_guide_help"></span>
                <i class="fa fa-external-link"
                   aria-hidden="true">
                </i>
            </a>
        </p>

        <a class="btn btn-default"
           data-ng-if="canAddPaymentMeans"
           data-ng-href="#/billing/mean/add"
           data-translate="payment_mean_add_title">
        </a>
        <button type="button" class="btn btn-default"
                title="{{ 'payment_mean_action_unavailable_for_our_subsidiary' | translate }}"
                data-ng-if="!canAddPaymentMeans"
                disabled="disabled"
                data-translate="payment_mean_add_title">
        </button>

        <div class="table-responsive">
            <table class="table table-hover mt-2">
                <thead>
                    <tr>
                        <th scope="col"
                            colspan="3"
                            data-translate="mean_table_head_type">
                        </th>
                        <th scope="col"
                            data-translate="mean_table_head_description">
                        </th>
                        <th scope="col"
                            data-translate="payment_mean_set_default">
                        </th>
                        <th scope="col"
                            data-translate="mean_table_head_state">
                        </th>
                        <th scope="col"
                            data-ng-if="isCreditWithThreeDsValidation() && hasMean(paymentsMean.creditCards)"
                            data-translate="mean_table_head_3d_secure">
                        </th>
                        <th scope="col"
                            data-translate="payment_mean_delete_payment_mean">
                        </th>
                    </tr>
                </thead>
                <tbody data-ng-if="loading.means">
                    <tr>
                        <td data-ng-attr-colspan="{{:: isCreditWithThreeDsValidation() && hasMean(paymentsMean.creditCards) ? 8 : 7 }}"
                            class="text-center">
                            <oui-spinner data-size="s"></oui-spinner>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loading.means && !hasMean()">
                    <tr>
                        <td data-ng-attr-colspan="{{:: isCreditWithThreeDsValidation() && hasMean(paymentsMean.creditCards) ? 8 : 7 }}"
                            class="text-center"
                            data-translate="common_payment_type_none">
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loading.means && hasMean(paymentsMean.paypals)">
                    <tr data-ng-repeat="mean in paymentsMean.paypals track by mean.id">
                        <th scope="row"
                            data-translate="common_payment_type_paypal">
                        </th>
                        <td colspan="2"
                            data-ng-bind=":: mean.email">
                        </td>
                        <td>
                            <div data-ng-show="!editMode">
                                <em data-translate="payment_mean_no_description"
                                    data-ng-if="!mean.description">
                                </em>
                                <span data-ng-bind="mean.description"
                                      data-ng-if="mean.description">
                                </span>
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="editMode = true"
                                        title="{{ :: 'payment_mean_description_edit' | translate }}">
                                    <i class="fa fa-edit"
                                       aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div data-ng-show="editMode"
                                 class="input-group">
                                <input type="text"
                                       class="form-control"
                                       data-ng-model="newDescription" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="updateMean('paypal', mean, newDescription); editMode = false"
                                            title="{{ :: 'payment_mean_description_save' | translate }}">
                                        <i class="fa fa-check"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="newDescription = ''; editMode = false"
                                            title="{{ :: 'payment_mean_description_cancel' | translate }}">
                                        <i class="fa fa-times"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            <input type="radio"
                                   data-ng-model="mean.defaultPaymentMean"
                                   data-ng-value="true"
                                   data-ng-change="setAsDefaultPaymentMean(mean, 'paypal')">
                        </td>
                        <td data-translate="{{ :: 'paymentType_status_' + mean.state }}"></td>
                        <td data-ng-if=":: isCreditWithThreeDsValidation() && hasMean(paymentsMean.creditCards)"></td>
                        <td class="text-center">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-disabled="mean.defaultPaymentMean"
                                    data-ng-click="setAction('delete', { details: mean, type: 'paypal' }, 'mean')"
                                    title="{{ :: 'payment_mean_delete_payment_mean' | translate }}">
                                <i class="fa fa-trash"
                                   aria-hidden="true">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loading.means && hasMean(paymentsMean.creditCards)">
                    <tr data-ng-repeat="mean in paymentsMean.creditCards track by mean.id">
                        <th scope="row"
                            data-translate="common_payment_type_creditCard"></th>
                        <td class="text-center"
                            data-ng-if="mean.getIcon">
                            <img width="37"
                                 height="22"
                                 data-ng-src="images/billing/billing/mean/payment-{{ mean.getIcon() }}.svg"
                                 data-ng-attr-alt="{{ mean.type }}">
                        </td>
                        <td data-ng-attr-colspan="{{ mean.getIcon ? 1 : 2 }}">
                            <span data-ng-bind="::mean.number"></span>
                            <br />
                            <span data-ng-if="isCreditWithExpiration()"
                                  data-translate="common_payment_type_creditCard_expiration_date">
                            </span>
                            <span data-ng-bind="mean.expirationDate|date:'MM/yyyy'"></span>
                        </td>
                        <td>
                            <div data-ng-show="!editMode">
                                <em data-translate="payment_mean_no_description"
                                    data-ng-if="!mean.description">
                                </em>
                                <span data-ng-bind="mean.description"
                                      data-ng-if="mean.description">
                                </span>
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="editMode = true"
                                        title="{{ :: 'payment_mean_description_edit' | translate }}">
                                    <i class="fa fa-edit"
                                       aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div data-ng-show="editMode"
                                 class="input-group">
                                <input type="text"
                                       class="form-control"
                                       data-ng-model="newDescription" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="updateMean('creditCard', mean, newDescription); editMode = false"
                                            title="{{ :: 'payment_mean_description_save' | translate }}">
                                        <i class="fa fa-check"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="newDescription = ''; editMode = false"
                                            title="{{ :: 'payment_mean_description_cancel' | translate }}">
                                        <i class="fa fa-times"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            <input type="radio"
                                   data-ng-model="mean.defaultPaymentMean"
                                   data-ng-value="true"
                                   data-ng-disabled="mean.state !== 'valid'"
                                   data-ng-change="setAsDefaultPaymentMean(mean, 'creditCard')">
                        </td>
                        <td data-translate="paymentType_status_{{ mean.state | lowercase }}"></td>
                        <td class="text-center"
                            data-ng-if="isCreditWithThreeDsValidation()">
                            <span class="label"
                                  data-ng-class="{
                                      'label-success': mean.threeDsValidated,
                                      'label-danger': !mean.threeDsValidated
                                  }"
                                  data-translate=":: ('mean_table_head_3d_secure_' + mean.threeDsValidated) | translate">
                            </span>
                        </td>
                        <td class="text-center">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-disabled="mean.defaultPaymentMean"
                                    data-ng-click="setAction('delete', { details: mean, type: 'creditCard' }, 'mean')"
                                    title="{{ :: 'payment_mean_delete_payment_mean' | translate }}">
                                <i class="fa fa-trash"
                                   aria-label="{{ :: 'payment_mean_delete_payment_mean' | translate }}"
                                   aria-hidden="true">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loading.means && hasMean(paymentsMean.bankAccounts)">
                    <tr data-ng-class="{
                            'text-warning': mean.state == 'proposedByCustomer'
                        }"
                        data-ng-repeat="mean in paymentsMean.bankAccounts track by mean.id">
                        <th scope="row"
                            data-translate="common_payment_type_bankAccount"></th>
                        <td colspan="2"
                            data-ng-bind=":: mean.iban">
                        </td>
                        <td>
                            <div data-ng-show="!editMode">
                                <em data-translate="payment_mean_no_description"
                                    data-ng-if="!mean.description">
                                </em>
                                <span data-ng-bind="mean.description"
                                      data-ng-if="mean.description">
                                </span>
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="editMode = true"
                                        title="{{ :: 'payment_mean_description_edit' | translate }}">
                                    <i class="fa fa-edit"
                                       aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div data-ng-show="editMode"
                                 class="input-group">
                                <input type="text"
                                       class="form-control"
                                       data-ng-model="newDescription" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="updateMean('bankAccount', mean, newDescription); editMode = false"
                                            title="{{ :: 'payment_mean_description_save' | translate }}">
                                        <i class="fa fa-check"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="newDescription = ''; editMode = false"
                                            title="{{ :: 'payment_mean_description_cancel' | translate }}">
                                        <i class="fa fa-times"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            <label for="setDefaultPaymentMean{{ $id }}"
                                   class="sr-only"
                                   data-translate="payment_mean_radio_select_default">
                            </label>
                            <input id="setDefaultPaymentMean{{ $id }}"
                                   type="radio"
                                   data-ng-model="mean.defaultPaymentMean"
                                   data-ng-value="true"
                                   data-ng-change="setAsDefaultPaymentMean(mean, 'bankAccount')"
                                   data-ng-disabled="mean.state=='pendingValidation'">
                        </td>
                        <td>
                            <span data-ng-if="mean.state !== 'pendingValidation'"
                                  data-ng-bind="i18n['paymentType_status_' + mean.state]">
                            </span>
                            <span data-ng-if="mean.state === 'pendingValidation'"
                                  data-translate="paymentType_status_waiting_for_documents">
                            </span>
                            <p data-ng-if="mean.state === 'pendingValidation'">
                                <a data-ng-href="{{ mean.validationDocumentLink  }}"
                                   target="_blank"
                                   title="{{ 'payment_mean_return_by_mail_procedure' | translate }} {{ billing_common_link_new_window }}"
                                   data-translate="payment_mean_return_by_mail_procedure">
                                </a>
                            </p>
                        </td>
                        <td data-ng-if=":: hasMean(paymentsMean.creditCards)"></td>
                        <td class="text-center">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-disabled="mean.defaultPaymentMean"
                                    data-ng-click="setAction('delete', { details: mean, type: 'bankAccount' }, 'mean');"
                                    title="{{ :: 'payment_mean_delete_payment_mean' | translate }}">
                                <i class="fa fa-trash"
                                   aria-hidden="true">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loading.means && hasMean(paymentsMean.deferredPaymentAccounts)">
                    <tr data-ng-class="{
                            'text-warning': mean.state == 'proposedByCustomer'
                        }"
                        data-ng-repeat="mean in paymentsMean.deferredPaymentAccounts track by mean.id">
                        <th scope="row"
                            data-translate="common_payment_type_deferredPaymentAccount"></th>
                        <td colspan="2"
                            data-ng-bind=":: mean.label">
                        </td>
                        <td>
                            <div data-ng-show="!editMode">
                                <em data-translate="payment_mean_no_description"
                                    data-ng-show="!mean.description">
                                </em>
                                <span data-ng-bind="mean.description"
                                      data-ng-show="mean.description">
                                </span>
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="editMode = true">
                                    <i class="fa fa-edit"
                                       aria-label="{{ :: 'payment_mean_description_edit' | translate }}"
                                       aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div data-ng-show="editMode"
                                 class="input-group">
                                <label for="descriptionTextInput{{ $id }}"
                                       class="sr-only"
                                       data-translate="payment_mean_description_input">
                                </label>
                                <input id="descriptionTextInput{{ $id }}"
                                       class="form-control"
                                       type="text"
                                       data-ng-model="newDescription" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="updateMean('deferredPaymentAccount', mean, newDescription); editMode = false"
                                            title="{{ 'payment_mean_description_save' | translate }}">
                                        <i class="fa fa-check"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-click="newDescription = ''; editMode = false"
                                            title="{{ 'payment_mean_description_cancel' | translate }}">
                                        <i class="fa fa-times"
                                           aria-hidden="true">
                                        </i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            <label for="setDefaultPaymentMean{{ $id }}"
                                   class="sr-only"
                                   data-translate="payment_mean_radio_select_default">
                            </label>
                            <input id="setDefaultPaymentMean{{ $id }}"
                                   type="radio"
                                   data-ng-model="mean.defaultPaymentMean"
                                   data-ng-value="true"
                                   data-ng-change="setAsDefaultPaymentMean(mean, 'deferredPaymentAccount')"
                                   data-ng-disabled="mean.state === 'pendingValidation'">
                        </td>
                        <td data-ng-bind=":: 'paymentType_status_' + mean.state | translate"></td>
                        <td data-ng-if=":: isCreditWithThreeDsValidation() && hasMean(paymentsMean.creditCards)"></td>
                        <td class="text-center">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-disabled="true"
                                    title="{{ :: 'payment_mean_delete_payment_mean' | translate }}">
                                <i class="fa fa-trash"
                                   aria-hidden="true">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
