@import 'css/source.less';

.ovh-manager-dedicated-app {
  #nprogress {
    .peg {
      box-shadow: none;
    }
  }

  .tile-clipboard {
    width: rem-calc(300);
    margin: 0;
  }

  .font-inherit {
    font-size: inherit;
  }
}
