<div class="dedicatedCloud-users-rights">

    <div class="text-center"
         data-ng-if="$ctrl.loading.init">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-if="!$ctrl.loading.init">
        <h2 data-ng-bind-html="tr('dedicatedCloud_USER_rights_management_by_datacenter', [$ctrl.selectedUser.name])"></h2>

        <a class="d-inline-block mb-5"
           data-ui-sref="^"
           title="{{ i18n.common_back }}">
            <span class="fa fa-chevron-left mr-2"
                  aria-hidden="true">
            </span>
            <span data-i18n-static="common_back"></span>
        </a>

        <div class="alert alert-danger"
             role="alert"
             data-ng-show="warningLine"
             data-i18n-static="dedicatedCloud_USER_warning_line">
        </div>

        <div class="row">
            <div class="col-sm-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"
                                data-i18n-static="dedicatedCloud_datacenter_count">
                            </th>
                            <th scope="col"
                                class="text-center"
                                data-i18n-static="dedicatedCloud_USER_access_vsphere">
                            </th>
                            <th scope="col"
                                class="text-center"
                                data-i18n-static="dedicatedCloud_USER_resource">
                            </th>
                            <th scope="col"
                                class="text-center"
                                data-i18n-static="dedicatedCloud_USER_VM_NETWORK_ROLE">
                            </th>
                            <th scope="col"
                                class="text-center"
                                data-i18n-static="dedicatedCloud_USER_NETWORK_ROLE">
                            </th>
                            <th scope="col"
                                class="text-center">
                                <button type="button"
                                        class="btn btn-link p-0"
                                        title="{{ i18n.common_refresh }}"
                                        data-ng-click="$ctrl.refreshTableRights()">
                                    <span class="fa fa-refresh" aria-label="{{ i18n.common_refresh }}"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-ng-show="$ctrl.loading.rights">
                        <tr>
                            <td colspan="6"
                                class="text-center">
                                <oui-spinner data-size="s"></oui-spinner>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-hide="$ctrl.loading.rights">
                        <tr data-ng-repeat="(rightIndex, right) in $ctrl.rights.list.results"
                            data-ng-class="{ 'warningLine': (warningLine && rightsCurrentEdit.datacenterId == right.datacenterId) }">
                            <th scope="row"
                                data-ng-bind="right.datacenterName">
                            </th>
                            <td class="text-center"
                                data-ng-bind="tr('dedicatedCloud_USER_right_'+right.right)">
                            </td>
                            <td class="text-center">
                                <span class="fa"
                                      aria-label="{{ i18n.dedicatedCloud_USER_resource }}"
                                      data-ng-class="{
                                          'fa-check': right.canAddResource === true,
                                          'fa-ban': right.canAddResource === false
                                      }">
                                </span>
                            </td>
                            <td class="text-center"
                                data-ng-bind="tr('dedicatedCloud_USER_right_'+right.vmNetworkRole)">
                            </td>
                            <td class="text-center"
                                data-ng-bind="tr('dedicatedCloud_USER_right_'+right.networkRole)">
                            </td>
                            <td class="text-center">
                                <button type="button"
                                        class="btn btn-link"
                                        title="{{ tr('dedicatedCloud_USER_right_modify' )}}"
                                        data-ng-click="setAction('user/rights/edit/dedicatedCloud-user-rights-edit', { rightId: right.rightId })">
                                    <span class="oui-icon oui-icon-pen_line" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div data-pagination-server-side="rightTable"
                     data-pagination-server-side-function="$ctrl.loadUserRight"
                     data-pagination-server-side-paginated-stuff="$ctrl.rights"
                     data-pagination-server-side-table-loading="$ctrl.loading.rights">
                </div>
            </div>
        </div>
    </div>

</div>
