<div class="module-useraccount-sections-credentials-container"
     data-ng-controller="UserAccount.controllers.credentials as $ctrl">

    <div class="page-header">
        <h1 data-i18n-static="user_credentials_title"></h1>
    </div>

    <div class="tab-content">

        <div data-ovh-alert="userCredentials"></div>

        <!-- CREDENTIALS EXPLAIN -->
        <div class="alert alert-info"
             role="alert">
            <p>
                <strong data-i18n-static="user_credentials_info"></strong>
            </p>
        </div>

        <!-- CREDENTIALS LIST -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th data-i18n-static="user_credentials_name" scope="col"></th>
                        <th data-i18n-static="user_credentials_desc" scope="col"></th>
                        <th data-i18n-static="user_credentials_creation_date" scope="col"></th>
                        <th data-i18n-static="user_credentials_expiration_date" scope="col"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-ng-show="$ctrl.credentialsLoading">
                    <tr>
                        <td colspan="8"
                            class="text-center">
                            <oui-spinner data-size="s"></oui-spinner>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="$ctrl.credentials.length === 0 && !$ctrl.credentialsLoading">
                    <tr>
                        <td colspan="8"
                            class="text-center font-italic"
                            data-i18n-static="user_credentials_table_empty">
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="$ctrl.credentials.length > 0 && !$ctrl.credentialsLoading">
                    <tr data-ng-repeat-start="credential in $ctrl.credentials track by $index">
                        <td>
                            <button class="oui-button oui-button_link" title="{{ tr('user_credentials_show_permissions') }}"
                                data-ng-if="!credential.isExpanded" data-ng-click="credential.isExpanded = true">
                                <i class="oui-icon oui-icon-chevron-right"></i>
                            </button>
                            <button class="oui-button oui-button_link" title="{{ tr('user_credentials_hide_permissions') }}"
                                data-ng-if="credential.isExpanded" data-ng-click="credential.isExpanded = false">
                                <i class="oui-icon oui-icon-chevron-down"></i>
                            </button>
                        </td>
                        <td data-ng-bind="credential.application.name"></td>
                        <td data-ng-bind="credential.application.description"></td>
                        <td data-ng-bind="credential.creation | date"></td>
                        <td data-ng-bind="credential.expiration | date"></td>
                        <td class="text-right">
                            <button type="button"
                                class="oui-button oui-button_secondary"
                                data-ng-click="setAction('credentials/delete/user-credentials-delete', credential)"
                                data-i18n-static="user_credentials_delete">
                            </button>
                        </td>
                    </tr>
                    <tr data-ng-show="credential.isExpanded" data-ng-repeat-end>
                        <td colspan="3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th data-i18n-static="user_credentials_permissions_method" scope="col"></th>
                                    <th data-i18n-static="user_credentials_permissions_path" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="rule in credential.rules track by $index">
                                    <td>
                                        <span class="label ng-binding" data-ng-class="{
                                            'label-danger': rule.method == 'DELETE',
                                            'label-success': rule.method == 'POST',
                                            'label-info': rule.method == 'GET',
                                            'label-warning': rule.method == 'PUT'
                                            }" data-ng-bind="rule.method"></span>
                                    </td>
                                    <td data-ng-bind="rule.path"></td>
                                </tr>                                
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

