<div class="module-useraccount-sections-credentials-container">

    <div class="page-header">
        <h1 data-i18n-static="user_credentials_title"></h1>
    </div>

    <div class="tab-content">

        <div data-ovh-alert="userCredentials"></div>

        <!-- CREDENTIALS EXPLAIN -->
        <oui-message class="d-block mb-4"
                     data-type="info">
            <span data-i18n-static="user_credentials_info"></span>
        </oui-message>

        <!-- CREDENTIALS LIST -->
        <oui-datagrid data-rows-loader="$ctrl.loadDatagridCredentials($config)"
                      data-row-loader="$ctrl.transformItem($row)">
            <oui-column data-title=":: i18n.user_credentials_name"
                        data-property="name">
            </oui-column>
            <oui-column data-title=":: i18n.user_credentials_desc">
                <span data-ng-if="$row.description.length > 20"
                      data-ng-bind="($row.description | limitTo:'15') + '…'"
                      data-uib-tooltip="{{ $row.description }}">
                </span>
                <span data-ng-if="$row.description.length <= 20"
                      data-ng-bind="$row.description">
                </span>
            </oui-column>
            <oui-column data-title=":: i18n.user_credentials_creation_date">
                <span data-ng-bind="$row.creation | date"></span>
            </oui-column>
            <oui-column data-title=":: i18n.user_credentials_expiration_date">
                <span data-ng-bind="($row.expiration | date) || '-'"></span>
            </oui-column>
            <oui-action-menu data-align="end"
                             data-compact>
                <oui-action-menu-item data-text="{{:: i18n.user_credentials_read }}"
                                      data-ng-click="setAction('credentials/read/user-credentials-read', $row)">
                </oui-action-menu-item>
                <oui-action-menu-item data-text="{{:: i18n.user_credentials_delete }}"
                                      data-ng-click="setAction('credentials/delete/user-credentials-delete', $row)">
                </oui-action-menu-item>
            </oui-action-menu>
        </oui-datagrid>
    </div>

</div>
