.lh30 {
	line-height: 30px;
}

.monospace { font-family: Monospace, sans-serif; }

/*********************************************************
    !Agreements
**********************************************************/

.module-useraccount-sections-agreements-container .contract {
  word-wrap: break-word;
  word-break: keep-all;
  text-align: justify;
  max-height: 400px;
}

.module-useraccount-sections-agreements-container .backButton {
  margin-right: 2em;
  margin-top: 1.2em;
}

/* Contacts */
.module-useraccount-sections-contacts-container .tab-content {
  overflow: inherit !important;
}

.module-useraccount-sections-contacts-container td .btn.btn-icon:hover,
.module-useraccount-sections-contacts-container td .btn.btn-icon:focus,
.module-useraccount-sections-contacts-container td .btn.btn-icon:active {
  padding: 0 10px !important;
}

.module-useraccount-sections-emails-container pre {
  word-break: normal;
  word-wrap: normal;
}

.module-useraccount-container .popover .popover-content .popover-menu .btn-link:hover {
  color: #ffffff;
  background-color: #54a89b;
  text-decoration: none;
  font-weight: bold;
}

.module-useraccount-container .popover .popover-content .popover-menu a:hover span {
  background-color: inherit;
}

.module-useraccount-container .popover .popover-content .popover-menu .btn-link:hover span {
  background-color: inherit;
}
