.new-security-section {
    margin-bottom: 32px;
}

.new-security-section .new-security-section__2fa-lists {
    margin-top: 32px;
}

.new-security-section .new-security-section__2fa-lists > .media:not(:last-child) > .media-body {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e9ebed;
}

.new-security-section-wizard-choice-icon {
    margin-right: 12px;
}
