<div id="billing-statements-details" data-ng-controller="Billing.controllers.HistoryDetailsCtrl">
    <div data-ovh-alert></div>

    <div data-ng-if="loading.init">
        <div class="loader"></div>
        <p class="text-center" data-i18n-static="statements_details_page_loader"></p>
    </div>

    <a class="btn btn-default btn-module-billing btn-module-billing-back pull-left tspace rightspace"
       href="#/billing/history"
       title="{{ tr('statements_details_return_to_statements') }}">
        <i class="icon-backward"></i>
    </a>

    <section class="operation-list" data-ng-if="!loading.init">
        <h1 class="black-title" data-i18n-static="statements_details_operations_title" ></h1>

        <table class="billing-table table table-hover pretty top-space" >
            <caption class="sr-only" data-i18n-static="statements_details_table_caption"></caption>
            <thead>
                <tr>
                    <th data-i18n-static="statements_details_table_header_date"></th>
                    <th data-i18n-static="statements_details_table_header_operation"></th>
                    <th data-i18n-static="statements_details_table_header_status"></th>
                    <th data-i18n-static="statements_details_table_header_amount"></th>
                    <th data-i18n-static="statements_details_table_header_document"></th>
                </tr>
            </thead>

            <tbody data-ng-if="!loading.init && operationIds.length === 0 ">
                <tr>
                    <td colspan="5">
                        <p class="text-center" data-i18n-static="statements_table_no_detail"></p>
                    </td>
                </tr>
            </tbody>

            <tbody data-ng-if="!loading.init && operationIds.length > 0 ">
                <tr data-ng-repeat="operation in operations track by operation.operationId">
                    <td data-ng-bind="::operation.date | date:'mediumDate'"></td>
                    <td data-ng-bind="::operation | debtOperationDescription"></td>
                    <td data-ng-class="'operation-status-' + (operation.status | lowercase)" data-ng-bind="::operation | debtOperationStatus"></td>
                    <td data-ng-bind="::operation.amount.text"></td>
                    <td data-ng-switch="operation.type">
                        <span data-ng-switch-when="ORDER">
                            <a class="btn btn-icon"
                               data-ng-if="!bill"
                               data-ng-href="{{ ::order.url }}"
                               data-ng-attr-title="{{ tr('statements_details_table_order_link') }}"
                               target="_blank">
                                <i class="fa fa-code"></i>
                            </a>

                            <a class="btn btn-icon"
                               data-ng-if="bill"
                               data-ng-href="{{ ::bill.url }}"
                               data-ng-attr-title="{{ tr('statements_details_table_invoice_html_link') }}"
                               target="_blank">
                                <i class="fa fa-code"></i>
                            </a>

                            <a class="btn btn-icon"
                               data-ng-if="bill"
                               data-ng-href="{{ ::bill.pdfUrl }}"
                               data-ng-attr-title="{{ tr('statements_details_table_invoice_pdf_link') }}"
                               target="_blank">
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>

            <tbody data-ng-if="loading.init || loading.operations">
                <tr>
                    <td colspan="5">
                        <div class="loader"></div>
                    </td>
                </tr>
            </tbody>

            <!-- PAGINATION -->
            <tfoot data-ng-show="!loading.init && operationIds.length > 5">
            <tr>
                <td colspan="5">
                    <div class="pagination new-pagination"
                         data-pagination-front
                         data-items="operationIds"
                         data-paginated-items="operations"
                         data-current-page="pagination.currentPage"
                         data-nb-pages="pagination.nbPages"
                         data-items-per-page="pagination.itemsPerPage"
                         data-transform-item="transformItem(item)"
                         data-on-transform-item-done="onTransformItemDone(items)"
                         data-page-placeholder="{{ tr('pagination_page', [pagination.currentPage, pagination.nbPages]) }}"
                         data-item-per-page-placeholder="{{ tr('pagination_display') }}">
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </section>

</div>
