<div data-ng-controller="DedicatedCloudSubDatacenterVeeamBackupDisableCtrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="disableBackup"
         data-wizard-title="i18n.dedicatedCloud_tab_veeam_disable_title">

        <div data-wizard-step
             data-wizard-step-valid="!loading">

            <div class="text-center"
                 data-ng-if="loading">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!loading">
                <p data-ng-bind-html="tr('dedicatedCloud_tab_veeam_disable_message', datacenterName)"></p>
                <p data-ng-bind-html="tr('dedicatedCloud_tab_veeam_disable_message2')"></p>
                <p class="text-center text-danger"
                   data-i18n-static="dedicatedCloud_tab_veeam_disable_message_alert">
               </p>
            </div>

        </div>

    </div>

</div>
