<div>

    <h2 data-translate="cdn_domain_tab_statistics"></h2>

    <div class="text-center"
         data-ng-show="loadingConsts">
        <oui-spinner></oui-spinner>
    </div>
    <div data-ng-hide="loadingConsts">
        <div class="text-center"
             data-ng-show="loadingStats">
            <oui-spinner></oui-spinner>
        </div>
        <div class="oui-box mb-5"
             data-ng-hide="loadingStats">
            <div class="row">
                <div class="col-sm-6">
                    <label for="dataType"
                           class="oui-label d-inline-block align-middle mr-2">
                        <span data-translate="cdn_statistics_visualize"></span>&nbsp;:
                    </label>
                    <div class="oui-select mb-0 oui-select_inline align-middle">
                        <select name="datatype"
                                class="oui-select__input"
                                id="dataType"
                                data-ng-options="(('cdn_stats_type_' + option) | translate) for option in consts.types"
                                data-ng-model="model.dataType"
                                data-ng-change="getStatistics()">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="period"
                           class="oui-label d-inline-block align-middle mr-2">
                        <span data-translate="cdn_statistics_from"></span>&nbsp;:
                    </label>
                    <div class="oui-select mb-0 oui-select_inline align-middle">
                        <select name="period"
                                class="oui-select__input"
                                id="period"
                                data-ng-options="(('cdn_statistics_period_' + option) | translate) for option in consts.periods"
                                data-ng-model="model.period"
                                data-ng-change="getStatistics()">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="cdnDomainStatsChart"
                class="chart chart-line"
                data-ng-hide="loadingStats"
                data-chart-labels="labels"
                data-chart-series="series"
                data-chart-data="data">
        </canvas>
    </div>
</div>
