<div class="cdn-dedicated-domain-statistics">

    <h2 data-translate="cdn_domain_tab_statistics"></h2>

    <div class="text-center"
         data-ng-if="$ctrl.loading.stats">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-if="!$ctrl.loading.stats">
        <div class="oui-box mb-5">
            <div class="row">
                <div class="col-sm-6">
                    <label for="dataType"
                           class="oui-label d-inline-block align-middle mr-2">
                        <span data-translate="cdn_statistics_visualize"></span>&nbsp;:
                    </label>
                    <div class="oui-select mb-0 oui-select_inline align-middle">
                        <select name="datatype"
                                class="oui-select__input"
                                id="dataType"
                                data-ng-options="(('cdn_stats_type_' + option) | translate) for option in $ctrl.availableValues"
                                data-ng-model="$ctrl.model.value"
                                data-ng-change="$ctrl.getStatistics()">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="period"
                           class="oui-label d-inline-block align-middle mr-2">
                        <span data-translate="cdn_statistics_from"></span>&nbsp;:
                    </label>
                    <div class="oui-select mb-0 oui-select_inline align-middle">
                        <select name="period"
                                class="oui-select__input"
                                id="period"
                                data-ng-options="(('cdn_stats_period_' + option) | translate) for option in $ctrl.availablePeriods"
                                data-ng-model="$ctrl.model.period"
                                data-ng-change="$ctrl.getStatistics()">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <canvas id="cdnDomainStatsChart"
                class="chart chart-line"
                data-chart-labels="$ctrl.labels"
                data-chart-series="$ctrl.series"
                data-chart-data="$ctrl.data">
        </canvas>
    </div>
</div>
