<div class="cdn-dedicated-domain">

    <div class="text-center mt-5"
         data-ng-if="$ctrl.loading">
        <oui-spinner data-size="l"></oui-spinner>
    </div>

    <!-- Header -->
    <div data-ng-if="!$ctrl.loading">

        <header class="page-header"
                role="banner">
            <h1 data-ng-bind="$ctrl.cdnDomain.domain"></h1>
        </header> <!-- End of Header -->

        <!-- Tabs -->
        <responsive-tabs>
            <responsive-tab data-state="app.networks.cdn.dedicated.domain">{{ 'cdn_domain_tab_general' | translate }}</responsive-tab>
            <responsive-tab data-state="app.networks.cdn.dedicated.domain.statistics">{{ 'cdn_domain_tab_statistics' | translate }}</responsive-tab>
            <responsive-tab data-state="app.networks.cdn.dedicated.domain.rule">{{ 'cdn_domain_tab_rule' | translate }}</responsive-tab>
            <responsive-tab-more>
                <i class="fa fa-plus"></i>
            </responsive-tab-more>
        </responsive-tabs> <!-- End of Tabs -->

        <!-- Tab Content -->
        <div class="tab-content">
            <div class="alert alert-dismissible"
                 role="alert"
                 data-ng-class="alertType"
                 data-ng-if="message">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                        data-ng-click="message = null">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span data-ng-bind="message"></span>
            </div>

            <div data-ovh-alert="cdnDedicatedDomain"></div>

            <div data-ui-view="cdnDomainView"></div>
        </div> <!-- End of Tab Content -->

    </div>
</div>
