<div class="billing-payment-method__info-container billing-payment-method-add-credit-card">

    <div class="text-center"
         data-ng-show="$ctrl.isLoading">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-show="!$ctrl.isLoading">

        <div class="form-group"
             data-ng-if="!$ctrl.isEditing">
            <h2 class="oui-header_2 align-items-center d-flex justify-content-between">
                <span data-i18n-static="payment_mean_contact_presentation_billingContactId_title"></span>
                <button type="button"
                        class="oui-button oui-button_secondary mb-0"
                        data-ng-click="$ctrl.toggleChangeContact()"
                        data-i18n-static="payment_mean_contact_presentation_update_label">
                </button>
            </h2>
            <address class="oui-box oui-box_light clearfix">
                <strong class="d-block">
                    <span data-ng-bind="$ctrl.contactSelected.value.firstName"></span>
                    <span data-ng-bind="$ctrl.contactSelected.value.lastName"></span>
                </strong>
                <span class="d-block"
                      data-ng-bind="$ctrl.contactSelected.value.address.line1">
                </span>
                <div>
                    <span data-ng-bind="$ctrl.contactSelected.value.address.zip"></span>
                    <span data-ng-bind="$ctrl.contactSelected.value.address.city"></span>
                </div>
                <span class="d-block"
                      data-ng-bind="$ctrl.contactSelected.value.address.country">
                </span>
                <span class="d-block">
                    <span data-i18n-static="payment_mean_contact_presentation_phone_email"></span> <span data-ng-bind="$ctrl.contactSelected.value.email"></span>
                </span>
            </address>
        </div>

        <div class="form-group"
             data-ng-if="$ctrl.isEditing">
            <h2 class="oui-header_2"
                data-i18n-static="payment_mean_contact_presentation_update_title_billingContactId">
            </h2>
            <form class="form-horizontal"
                  name="createContactForm"
                  novalidate
                  data-ng-submit="$ctrl.createContact()">
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="oui-radio">
                            <input class="oui-radio__input" type="radio" name="reuse" id="reuse"
                                   data-ng-model="$ctrl.selectionMode"
                                   data-ng-disabled="!$ctrl.contacts.length"
                                   data-ng-value="'reuse'">
                            <label class="oui-radio__label-container" for="reuse">
                                <span class="oui-radio__label"
                                      data-i18n-static="payment_mean_contact_presentation_reuse_contact">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="oui-radio">
                            <input class="oui-radio__input" type="radio" name="create" id="create"
                                   data-ng-model="$ctrl.selectionMode"
                                   data-ng-value="'create'">
                            <label class="oui-radio__label-container" for="create">
                                <span class="oui-radio__label"
                                      data-i18n-static="payment_mean_contact_presentation_create_contact">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div data-ng-if="$ctrl.selectionMode === 'reuse'">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="oui-select">
                                <select id="select" name="select" class="oui-select__input"
                                        data-ng-model="$ctrl.contactSelected"
                                        data-ng-options="contact.label for contact in $ctrl.contacts track by contact.value.id">
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                    <address class="oui-box oui-box_light mb-3">
                        <strong class="d-block">
                            <span data-ng-bind="$ctrl.contactSelected.value.firstName"></span>
                            <span data-ng-bind="$ctrl.contactSelected.value.lastName"></span>
                        </strong>
                        <span class="d-block"
                              data-ng-bind="$ctrl.contactSelected.value.address.line1">
                        </span>
                        <div>
                            <span data-ng-bind="$ctrl.contactSelected.value.address.zip"></span>
                            <span data-ng-bind="$ctrl.contactSelected.value.address.city"></span>
                        </div>
                        <span class="d-block"
                              data-ng-bind="$ctrl.contactSelected.value.address.country">
                        </span>
                        <span class="d-block">
                            <span data-i18n-static="payment_mean_contact_presentation_email_label"></span> <span data-ng-bind="$ctrl.contactSelected.value.email"></span>
                        </span>
                    </address>
                </div>
                <div data-ng-if="$ctrl.selectionMode === 'create'">
                    <h3 class="oui-header_3"
                        data-i18n-static="payment_mean_contact_creation_main_title">
                    </h3>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">

                            <!-- GENERAL_INFORMATIONS -->
                            <fieldset class="mb-5">
                                <legend data-i18n-static="payment_mean_contact_creation_fieldset_GENERAL_INFORMATIONS"></legend>

                                <!-- FIRSTNAME -->
                                <div class="oui-input-formfield">
                                    <input type="text" id="default_select_firstName" name="firstName" class="oui-input" required
                                           placeholder="{{ 'payment_mean_contact_creation_label_firstName' | UAi18n }}"
                                           data-ng-model="$ctrl.contactForm.firstName"
                                           data-ng-class="{
                                               'oui-input_error': createContactForm.firstName.$touched && createContactForm.firstName.$invalid
                                           }">
                                    <label for="default_select_firstName" class="oui-label"
                                           data-i18n-static="payment_mean_contact_creation_label_firstName">
                                    </label>
                                </div> <!-- End of FIRSTNAME -->

                                <!-- LASTNAME -->
                                <div class="oui-input-formfield">
                                    <input type="text" id="default_select_lastName" name="lastName" class="oui-input" required
                                           placeholder="{{ 'payment_mean_contact_creation_label_lastName' | UAi18n }}"
                                           data-ng-model="$ctrl.contactForm.lastName"
                                           data-ng-class="{
                                               'oui-input_error': createContactForm.lastName.$touched && createContactForm.lastName.$invalid
                                           }">
                                    <label for="default_select_lastName" class="oui-label"
                                           data-i18n-static="payment_mean_contact_creation_label_lastName">
                                    </label>
                                </div> <!-- End of LASTNAME -->

                                <!-- COUNTRY -->
                                <div class="oui-select-formfield">
                                    <div class="oui-select">
                                        <select id="country" name="country" class="oui-select__input"
                                                data-ng-model="$ctrl.contactForm.address.country"
                                                data-ng-options="country.code as country.label for country in $ctrl.enums.country">
                                        </select>
                                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                                        <label for="country" class="oui-label"
                                               data-i18n-static="payment_mean_contact_creation_label_country">
                                        </label>
                                    </div>
                                </div> <!-- End of COUNTRY -->

                            </fieldset> <!-- End of GENERAL_INFORMATIONS -->

                            <!-- PROFILE -->
                            <fieldset class="mb-5">
                                <legend data-i18n-static="payment_mean_contact_creation_fieldset_PROFILE"></legend>

                                <!-- ADDRESS.LINE1 -->
                                <div class="oui-input-formfield">
                                    <input type="text" id="default_input_address_line1" name="address.line1" class="oui-input" required
                                           placeholder="{{ 'payment_mean_contact_creation_label_address_line1' | UAi18n }}"
                                           data-ng-model="$ctrl.contactForm.address.line1"
                                           data-ng-class="{
                                               'oui-input_error': createContactForm['address.line1'].$touched && createContactForm['address.line1'].$invalid
                                           }">
                                    <label for="default_input_address_line1" class="oui-label"
                                           data-i18n-static="payment_mean_contact_creation_label_address_line1">
                                    </label>
                                </div> <!-- Enf of ADDRESS.LINE1 -->

                                <!-- ADDRESS.ZIP -->
                                <div class="oui-input-formfield">
                                    <input type="text" id="default_input_address.zip" name="address.zip" class="oui-input" required
                                           placeholder="{{ 'payment_mean_contact_creation_label_address_zip' | UAi18n }}"
                                           data-ng-model="$ctrl.contactForm.address.zip"
                                           data-ng-class="{
                                               'oui-input_error': createContactForm['address.zip'].$touched && createContactForm['address.zip'].$invalid
                                           }">
                                    <label for="default_input_address.zip" class="oui-label"
                                           data-i18n-static="payment_mean_contact_creation_label_address_zip">
                                    </label>
                                </div> <!-- End of ADDRESS.ZIP -->

                                <!-- ADDRESS.CITY -->
                                <div class="oui-input-formfield">
                                    <input type="text" id="default_input_address.city" name="address.city" class="oui-input" required
                                           placeholder="{{ 'payment_mean_contact_creation_label_address_city' | UAi18n }}"
                                           data-ng-model="$ctrl.contactForm.address.city"
                                           data-ng-class="{
                                               'oui-input_error': createContactForm['address.city'].$touched && createContactForm['address.city'].$invalid
                                           }">
                                    <label for="default_input_address.city" class="oui-label"
                                           data-i18n-static="payment_mean_contact_creation_label_address_city">
                                    </label>
                                </div> <!-- End of ADDRESS.CITY -->

                                <!-- ADDRESS.PROVINCE -->
                                <div class="oui-input-formfield">
                                    <input type="text" id="default_input_address_province" name="address.province" class="oui-input"
                                           placeholder="{{ 'payment_mean_contact_creation_label_address_area' | UAi18n }}"
                                           data-ng-model="$ctrl.contactForm.address.province">
                                    <label for="default_input_address_province" class="oui-label">
                                        <span data-ng-bind="$ctrl.getTranslatedArea()"></span>
                                        <span data-i18n-static="payment_mean_contact_creation_label_optional"></span>
                                    </label>
                                </div> <!-- End of ADDRESS.PROVINCE -->

                            </fieldset> <!-- End of PROFILE -->

                            <div class="oui-message oui-message_error" role="alert"
                                 data-ng-if="$ctrl.hasError">
                                <span class="oui-icon oui-icon-error_circle oui-icon_bicolor" aria-hidden="true"></span>
                                <p class="oui-message__body" data-ng-bind="$ctrl.hasError"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div data-ng-class="$ctrl.selectionMode === 'create' ? 'col-sm-8 col-sm-offset-2' : 'col-sm-12'">
                        <hr data-ng-if="$ctrl.selectionMode === 'create'">
                        <button type="submit"
                                class="oui-button oui-button_secondary"
                                data-ng-disabled="createContactForm.$invalid || $ctrl.isCreating"
                                data-i18n-static="payment_mean_contact_contact_creation_submit">
                        </button>
                        <button type="button"
                                class="oui-button oui-button_link"
                                data-ng-click="$ctrl.cancelContactForm()"
                                data-ng-disabled="$ctrl.isCreating"
                                data-i18n-static="payment_mean_contact_contact_creation_cancel">
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <h2 data-i18n-static="payment_mean_contact_presentation_new_card_title"></h2>
        <!-- Keep this id otherwise vantiv could not replace it by its iframe -->
        <div id="eProtectIframe">
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           data-ng-model="$ctrl.isDefault" />
                    <span data-i18n-static="payment_mean_set_default_after_validation"></span>
                </label>
            </div>
        </div>

        <button class="oui-button oui-button_primary"
                type="button"
                data-ng-click="$ctrl.onAddClick()"
                data-ng-disabled="($ctrl.isEditing && $ctrl.selectionMode === 'create')
                                   || !$ctrl.contactSelected.value.id"
                data-i18n-static="billing_payment_method_credit_card_add">
        </button>
    </div>
</div>
