<div class="row-fluid">
    <div class="module-useraccount-sections-contacts-container span12">

        <div data-ovh-alert="InfoAlert"></div>

        <h1 data-translate="useraccount_sub_contacts"></h1>

        <div class="row-fluid">
            <div class="module-useraccount-sections-contacts-container span12">

                <div class="row-fluid marginb10">
                    <div class="span2">
                        <button data-ng-click="ctrl.addContact()"
                                class="btn btn-block expert fs12" type="button">
                            <i class="fa fa-plus"></i>
                            <span data-translate="useraccount_sub_contacts_table_action_add"></span>
                        </button>
                    </div>
                </div>

                <table class="table table-hover pretty">
                    <thead>
                        <tr>
                            <th data-translate="useraccount_sub_contacts_table_header_name"></th>
                            <th data-translate="useraccount_sub_contacts_table_header_last_name"></th>
                            <th data-translate="useraccount_sub_contacts_table_header_email"></th>
                            <th data-translate="useraccount_sub_contacts_table_header_action" style="width: 20px;"></th>
                        </tr>
                    </thead>

                    <tbody data-ng-show="ctrl.loaders.contacts">
                        <tr>
                            <td colspan="4" class="center">
                                <span class="span12 loader center"></span>
                            </td>
                        </tr>
                    </tbody>

                    <tbody data-ng-show="!ctrl.loaders.contacts && ctrl.services.length === 0">
                        <tr>
                            <td colspan="4" class="center">
                                <span data-translate="useraccount_contacts_no_services"></span>
                            </td>
                        </tr>
                    </tbody>

                    <tbody data-ng-show="!ctrl.loaders.services && ctrl.services.length > 0">
                        <tr data-ng-repeat="service in ctrl.services">
                            <td class="wordbreak" data-ng-bind="::service.firstName"></td>
                            <td class="wordbreak" data-ng-bind="::service.lastName"></td>
                            <td class="wordbreak" data-ng-bind="::service.email"></td>

                            <td class="center">
                                <div class="dropdown pull-right" dropdown>
                                    <a class="dropdown-toggle" dropdown-toggle href="#">
                                        <i class="icon-action-multiple"></i>&nbsp;<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" data-role="menu" data-aria-labelledby="dLabel">
                                        <li data-ng-click="ctrl.updateContact(service)">
                                            <span data-translate="useraccount_sub_contacts_table_action_edit"></span>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="table table-pretty"
                     data-pagination-front
                     data-items="ctrl.contactsIds"
                     data-paginated-items="ctrl.services"
                     data-current-page="currentPage"
                     data-items-per-page="itemsPerPage"
                     data-nb-pages="nbPages"
                     data-transform-item="ctrl.transformItem(item)"
                     data-on-transform-item-done="ctrl.onTransformItemDone(items)"
                     data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
                     data-item-per-page-placeholder="{{ 'pagination_display' | translate }}"></div>
            </div>
        </div>

    </div>
</div>
