<oui-message
    data-type="info"
    data-dismissable="false"
    data-ng-if="!$ctrl.hasDefaultMeansOfPayment">
    Vous n'avez pas de moyen de paiement par défaut. Avoir un moyen de paiement par défaut vous permettrait d'activer vos options automatiquement,
    sans passer par un bon de commande.

    <p data-ng-if="$ctrl.currentUser.ovhSubsidiary !== 'PL'">
        Vous pouvez ajouter un moyen de payement par défaut en cliquant sur ce <a data-ui-sref="app.account.billing.payment.method">lien</a>.
    </p>

    Si vous continuez l'activation sans bon de commande, un bon de commande sera créé et il vous faudra le valider lors de l'étape suivante.
</oui-message>

<p>
    Vous êtes sur le point d'activer le pack d'options NSX + vROps pour XXX€/mois supplémentaire êtes vous sûr(e) de vouloir faire cela ?
</p>

<button
    type="button"
    class="oui-button oui-button_secondary"
    data-ui-sref="app.dedicatedClouds.servicePackBasicOptionActivation.selection">
    Précédent
</button>

<button
    type="submit"
    class="oui-button oui-button_primary ml-3"
    data-ng-if="!$ctrl.orderIsInProgress">
    Confirmer
</button>

<oui-spinner data-ng-if="$ctrl.orderIsInProgress"></oui-spinner>
