<div data-ng-controller="CdnAddSslCtrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addSsl"
         data-wizard-title="{{ 'cdn_configuration_add_ssl_title' | translate }}">

        <div data-wizard-step
             data-wizard-step-valid="entry.certificate && entry.key && entry.name">

            <p data-translate="cdn_configuration_ssl_add_step1"></p>
            <div class="form-group">
                <label for="name"
                       class="control-label"
                       data-translate="cdn_configuration_ssl_name">
                </label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       data-ng-model="entry.name"
                       data-ng-pattern="/^[\S]+$/" />
            </div>
            <div class="form-group">
                <label for="certificate"
                       class="control-label"
                       data-translate="cdn_configuration_ssl_certificate">
                </label>
                <textarea class="form-control"
                          id="certificate"
                          name="certificate"
                          rows="5"
                          data-ng-model="entry.certificate">
                </textarea>
            </div>
            <div class="form-group">
                <label for="key"
                       class="control-label"
                       data-translate="cdn_configuration_ssl_key">
                </label>
                <textarea class="form-control"
                          id="key"
                          name="key"
                          rows="5"
                          data-ng-model="entry.key">
                </textarea>
            </div>
            <div class="form-group">
                <label for="chain"
                       class="control-label"
                       data-translate="cdn_configuration_ssl_chain">
                </label>
                <textarea class="form-control"
                          id="chain"
                          name="chain"
                          rows="5"
                          data-ng-model="entry.chain">
                </textarea>
            </div>

        </div>

        <div data-wizard-step>
            <p data-translate="cdn_configuration_ssl_add_step2"></p>
            <dl>
                <dt data-translate="cdn_configuration_ssl_name"></dt>
                <dd data-ng-bind="entry.name"></dd>
                <dt data-translate="cdn_configuration_ssl_certificate"></dt>
                <dd data-ng-bind-html="entry.certificate"></dd>
                <dt data-translate="cdn_configuration_ssl_key"></dt>
                <dd data-ng-bind-html="entry.key"></dd>
                <dt data-ng-if="entry.chain"
                    data-translate="cdn_configuration_ssl_chain">
                </dt>
                <dd data-ng-if="entry.chain"
                    data-ng-bind-html="entry.chain">
                </dd>
            </dl>

        </div>

    </div>

</div>
