<div data-ovh-alert="bandwithError"></div>

<div class="row d-md-flex">
    <div class="col-sm-4">
        <div class="oui-tile mb-5 h-100">
            <h3 class="oui-tile__title"
                data-translate="housing_tab_stats_legend_general">
            </h3>
            <div class="oui-tile__body text-center"
                 data-ng-if="loadingHousingInformations">
                <oui-spinner></oui-spinner>
            </div>
            <div class="oui-tile__body"
                 data-ng-if="!loadingHousingInformations">
                <ul class="list-unstyled">
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_status">
                            </strong>
                            <span class="label"
                                  data-ng-class="{
                                      'label-success': housing.status === 'ok',
                                      'label-warning' : housing.status === 'error',
                                      'label-important': housing.status === 'hacked' || housing.status === 'hacked_blocked'
                                  }"
                                  data-translate="{{ 'housing_status_' + housing.status }}">
                            </span>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong data-translate="housing_name"></strong>
                            <div>
                                <span data-ng-show="housing.name"
                                      data-ng-bind="housing.name">
                                </span>
                                <span class="text-muted"
                                      data-ng-hide="!housing.name"
                                      data-translate="housing_configuration_name_unavailable">
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_legend_bay">
                            </strong>
                            <span data-ng-bind=":: housing.rack"></span>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_securitycode">
                            </strong>
                            <span data-ng-bind=":: housing.securityCode"></span>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <dt>
                                <service-expiration-label
                                        service-infos="housing.serviceInfos">
                                </service-expiration-label>
                            </dt>
                            <dd>
                                <service-expiration-date
                                        service-name="housing.name"
                                        service-type="'DEDICATED_HOUSING'"
                                        service-infos="housing.serviceInfos">
                                </service-expiration-date>
                            </dd>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <dt data-translate="housing_creation_date"></dt>
                            <dd data-ng-bind="housing.creation | date:'mediumDate'"></dd>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="oui-tile mb-5 h-100">
            <h3 class="oui-tile__title"
                data-translate="housing_tab_stats_legend_network">
            </h3>
            <div class="oui-tile__body"
                 data-ng-repeat="network in housing.network track by $index">
                <ul class="list-unstyled">
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong data-translate="housing_tab_stats_ipv4"></strong>
                            <div>
                                <span data-ng-bind=":: network.ipv4.network"></span>
                                <a class="btn btn-default"
                                   data-ng-href="{{ '#/configuration/ip?tab=IP&serviceName=' + housing.name }}">
                                    <i class="icon-cog"></i>
                                    <span data-translate="housing_configuration_ipv4_manage"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_gateway">
                            </strong>
                            <span data-ng-bind=":: network.ipv4.gateway || '-'"></span>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_ipv6">
                            </strong>
                            <span data-ng-bind=":: network.ipv6.network || '-'"></span>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_gateway">
                            </strong>
                            <span data-ng-bind=":: network.ipv6.gateway || '-'"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="oui-tile mb-5 h-100">
            <h3 class="oui-tile__title"
                data-translate="housing_tab_stats_legend_route">
            </h3>
            <div class="oui-tile__body"
                 data-ng-repeat="network in housing.network track by $index">
                <ul class="list-unstyled">
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_router">
                            </strong>
                            <span data-ng-bind=":: network.link.router || '-'"></span>
                        </div>
                    </li>
                    <li class="oui-tile__item">
                        <div class="oui-tile__definition">
                            <strong class="d-block"
                                    data-translate="housing_tab_stats_port">
                            </strong>
                            <span data-ng-bind=":: network.link.port || '-'"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
