<div data-ng-controller="LicenseMigrateCtrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="migrate"
         data-wizard-title="i18n.license_migrate_title"
         data-wizard-bread-crumb>

        <div data-wizard-step
             data-wizard-step-valid="areMigrationOptionsValids()"
             data-wizard-step-on-load="getIps">

            <strong data-i18n-static="license_migrate_step1_question"></strong>

            <oui-spinner data-ng-show="loaders.ips"></oui-spinner>

            <div data-ng-show="loaders.ips == false">
                <strong class="text-danger"
                        data-ng-show="availableIpBlock.ips.length == 0"
                        data-i18n-static="license_migrate_step1_no_ip_available">
                </strong>
                <form class="form-horizontal"
                      name="ipForm"
                      data-ng-show="availableIpBlock.ips.length > 0">
                    <div class="form-group">
                        <label for="selectedIpBlock"
                               class="control-label"
                               data-i18n-static="license_migrate_step1_ip_block">
                        </label>
                        <select class="form-control"
                                id="selectedIpBlock"
                                name="selectedIpBlock"
                                data-ng-options="ip as getBlockDisplay(ip) group by ip.serviceName for ip in availableIpBlock.ips | filter:filters.block.type | filter:filters.block.search"
                                data-ng-model="selected.ipBlock">
                            <option value=""
                                    data-ng-disabled="true"
                                    data-i18n-static="license_migrate_common_choose">
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         data-ng-class="{
                             'has-error': !ipValid.value
                         }">
                        <label for="targetIp"
                               class="control-label"
                               data-i18n-static="license_migrate_step1_ip">
                        </label>
                        <input type="text"
                               class="form-control"
                               id="targetIp"
                               name="targetIp"
                               list="ips"
                               data-ng-show="!oneIp"
                               data-ng-model="selected.ip"
                               data-ng-change="ipIsValid()" />
                        <span data-ng-show="oneIp"
                              data-ng-bind="selected.ip">
                        </span>
                    </div>
                </form>
                <div data-ng-show="selected.ip && ipValid.value">
                    <div data-ng-show="loaders.canBeMovedTo">
                        <oui-spinner data-size="s"
                                    data-inline="true">
                        </oui-spinner>
                        <span class="ml-2"
                              data-i18n-static="license_migrate_step1_compatibility_loading">
                        </span>
                    </div>
                    <div data-ng-hide="loaders.canBeMovedTo">
                        <div data-ng-show="ipCanBeMoved.value == true">
                            <i class="icon-ok" aria-hidden="true"></i>
                            <span class="mt-2"
                                  data-i18n-static="license_migrate_step1_compatibility_ok">
                            </span>
                        </div>
                        <div data-ng-show="ipCanBeMoved.value == false">
                            <i class="icon-remove" aria-hidden="true"></i>
                            <span class="mt-2"
                                  data-i18n-static="license_migrate_step1_compatibility_nok">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div data-wizard-step>

            <strong data-i18n-static="license_migrate_step2_question"></strong>
            <dl>
                <dt data-i18n-static="license_migrate_step2_ip_actual"></dt>
                <dd data-ng-bind="license.ip"></dd>
                <dt data-i18n-static="license_migrate_step2_ip_new"></dt>
                <dd data-ng-bind="selected.ip"></dd>
            </dl>

        </div>

    </div>

</div>
