<div data-ui-view>

    <oui-back-button data-ui-sref="^">
        <span data-translate="billing_autoRenew_update_backButton_content"></span>
    </oui-back-button>

    <p
        class="mt-4"
        data-translate="billing_autoRenew_update_header_explanation_1"></p>
    <p data-translate="billing_autoRenew_update_header_explanation_2"></p>

    <table class="oui-datagrid">
        <thead class="oui-datagrid__headers">
            <tr>
                <th
                    scope="col"
                    class="oui-datagrid__header"
                    data-translate="billing_autoRenew_update_table_header_serviceType"></th>
                <th
                    scope="col"
                    class="oui-datagrid__header"
                    data-translate="billing_autoRenew_update_table_header_services"></th>
                <th
                    scope="col"
                    class="oui-datagrid__header w-25"
                    data-translate="billing_autoRenew_update_table_header_renewalType"></th>
            </tr>
        </thead>
        <tbody>
            <tr
                data-ng-if="$ctrl.serviceTypes.length === 0"
                class="oui-datagrid__row">
                <td
                    colspan="3"
                    class="oui-datagrid__cell"
                    data-translate="billing_autoRenew_update_table_empty"></td>
            </tr>
            <tr
                data-ng-repeat="serviceType in $ctrl.serviceTypes track by serviceType.name"
                data-ng-if="serviceType.services.length > 0"
                class="oui-datagrid__row">
                <td
                    scope="row"
                    class="oui-datagrid__cell"
                    data-translate="{{:: 'autorenew_service_type_' + serviceType.name }}"></td>
                <td class="oui-datagrid__cell">
                    <div data-ng-repeat="service in serviceType.services track by $index">
                        <span class="oui-chip oui-chip_closable mx-2">
                            <span data-ng-bind="service.serviceId"></span>
                            <button
                                data-ng-if="!$ctrl.disableAllInputs"
                                data-ng-click="$ctrl.onClickOnServiceChipCloseButton(service, serviceType)"
                                type="button"
                                class="oui-chip__close">
                                <span
                                    class="oui-icon oui-icon-close_thin"
                                    aria-hidden="true"></span>
                                <span
                                    class="sr-only"
                                    data-translate="billing_autoRenew_update_table_removeService"
                                    data-translate-values="{
                                        serviceName: service.serviceId
                                    }"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="oui-datagrid__cell">
                    <oui-select
                        data-ng-if="serviceType.allowsRenewalChange"
                        data-on-change="$ctrl.updateConfirmationButtonAvailability()"
                        data-match="displayValue"
                        data-model="serviceType.selectedRenewalType"
                        data-placeholder="{{:: 'billing_autoRenew_update_table_renewalTypeSelection_placeholder' | translate }}"
                        data-items="serviceType.availableRenewalTypes"
                        data-align="start">
                        <span ng-bind="$item.displayValue"></span>
                    </oui-select>
                    <span
                        data-ng-if="!serviceType.allowsRenewalChange"
                        data-translate="billing_autoRenew_update_cantChangeRenewalType"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <oui-button
        data-disabled="!$ctrl.confirmationButtonIsAvailable"
        data-on-click="$ctrl.$state.go('app.account.billing.service.autoRenew.update.confirmation', { serviceTypes: $ctrl.serviceTypes })"
        data-variant="primary"
        data-text="{{:: 'billing_autoRenew_update_continueButton_text' | translate }}"></oui-button>

    <oui-button
        data-on-click="$ctrl.$state.go('^')"
        data-variant="link"
        data-text="{{:: 'billing_autoRenew_update_cancelButton_text' | translate }}"></oui-button>
</div>
