<div data-ng-controller="Billing.controllers.AutoRenew.update">

    <div data-wizard
         data-wizard-on-cancel="closeAction"
         data-wizard-on-finish="updateRenew"
         data-wizard-title="{{ 'autorenew_service_update_title' | translate }}">

        <div data-wizard-step data-wizard-step-valid="hasChanged">
            <p data-ng-bind-html="'autorenew_service_update_intro' | translate "></p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"
                            data-translate="autorenew_service_name"></th>
                        <th scope="col"
                            data-translate="autorenew_service_type" ></th>
                        <th scope="col"
                            class="text-nowrap">
                            <span data-translate="autorenew_service_renew"></span>
                        </th>
                        <th scope="col"
                            class="text-nowrap">
                            <span data-translate="autorenew_service_frequency"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="service in selectedServices | orderBy:'serviceType':false track by $index">
                        <th scope="row">
                            <span data-ng-bind="::service.serviceId | sliceContent:25"></span>
                        </th>
                        <td>
                            <span data-ng-bind-html="'autorenew_service_type_'+ service.serviceType | translate"></span>
                        </td>
                        <td>
                            <select name="renewType"
                                    class="form-control"
                                    data-ng-disabled="service.renew.automatic && service.renew.forced"
                                    data-ng-change="onChange()"
                                    data-ng-model="service.newRenewType">
                                <option value="auto" data-ng-selected="service.renew.automatic"
                                        data-translate="autorenew_service_renew_auto">
                                </option>
                                <option value="manuel" data-ng-selected="!service.renew.automatic"
                                        data-translate="autorenew_service_renew_manuel">
                                </option>
                            </select>
                        </td>
                        <td class="text-center">
                            <select name="renewPeriod"
                                    class="form-control"
                                    data-ng-if="service.newRenewType === 'auto' && service.possibleRenewPeriod.length > 1"
                                    data-ng-change="onChange()"
                                    data-ng-options="period as getPeriodTranslation(period) for period in service.possibleRenewPeriod"
                                    data-ng-model="service.newRenewPeriod">
                            </select>
                            <span data-ng-if="service.newRenewType === 'auto' && service.possibleRenewPeriod.length === 1"> {{getPeriodTranslation(service.newRenewPeriod)}}</span>
                            <span data-ng-if="service.newRenewType === 'manuel'"> - </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div data-wizard-step
             data-wizard-step-on-load="loadContracts"
             data-wizard-step-valid="agree.value">

            <p data-ng-bind-html="'autorenew_service_update_step2_summary' | translate "></p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"
                            data-translate="autorenew_service_name"></th>
                        <th scope="col"
                            data-translate="autorenew_service_type" ></th>
                        <th scope="col"
                            class="text-nowrap">
                            <span data-translate="autorenew_service_update_now"></span>
                        </th>
                        <th scope="col"
                            class="text-nowrap">
                            <span data-translate="autorenew_service_update_future"></span>
                        </th>
                    </tr>
                </thead>


                <tbody>
                    <tr data-ng-repeat="service in selectedServices | orderBy:'serviceType':false track by $index">
                        <th scope="row">
                            <span data-ng-bind="service.serviceId | sliceContent:25"></span>
                        </th>
                        <td>
                            <span data-translate="{{ 'autorenew_service_type_'+ service.serviceType }}"></span>
                        </td>

                        <td>
                            <div data-ng-if="service.renew.automatic">
                                <span data-translate="autorenew_service_renew_auto"></span>:
                                <span data-ng-if="service.renew.period" data-ng-bind="getPeriodTranslation(service.renew.period)"></span>
                            </div>
                            <span data-ng-if="!service.renew.automatic" data-translate="autorenew_service_renew_manuel"></span>
                        </td>

                        <td class="text-center"
                            data-ng-class="{'font-weight-bold' : hasChange(service)}">
                            <div data-ng-if="service.newRenewType === 'auto'">
                                <span data-translate="autorenew_service_renew_auto"></span>:
                                <span data-ng-if="service.newRenewPeriod" data-ng-bind="getPeriodTranslation(service.newRenewPeriod)"></span>
                            </div>
                            <span data-ng-if="service.newRenewType === 'manuel'" data-translate="autorenew_service_renew_manuel"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div data-ng-if="loading.contracts"
                 class="text-center">
                 <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!loading.contracts && contracts.length > 0"
                 data-contracts="contracts"
                 data-full-text="false"
                 data-ng-model="agree.value">
            </div>
        </div>
    </div>
</div>
