<div>

    <h1 class="page-header"
        data-translate="payment_mean_add_title">
    </h1>

    <div class="tab-content">

        <a href="#/billing/mean"
           title="{{ :: 'payment_mean_back' | translate }}">
            <i class="fa fa-chevron-left"
               aria-hidden="true">
            </i>
            <span data-translate="payment_mean_back"></span>
        </a>

        <div data-ovh-alert></div>

        <form name="paymentMeanForm"
              data-ng-show="!meanAdded"
              class="mt-4"
              novalidate>

            <div class="text-center"
                 data-ng-if="loader.means">
                <oui-spinner></oui-spinner>
            </div>

            <div class="form-group w-50"
                 data-ng-if="!loader.means">
                <label class="control-label"
                       for="meanType"
                       data-translate="mean_table_head_type">
                </label>
                <select id="meanType"
                        name="meanType"
                        class="form-control"
                        title="{{ 'add_mean_select_title_' + titleTypeOfSelect | translate }}"
                        data-ng-disabled="meanIslocked"
                        data-ng-change="mean.validationType = null;"
                        data-ng-options="mean as (('common_payment_type_' + mean) | translate) for mean in means"
                        data-ng-model="mean.type">
                    <option value=""
                            data-ng-disabled="true"
                            data-translate="common_choose">
                    </option>
                </select>
            </div>

            <div data-ng-if="mean.type"
                 class="w-50">

                <p data-ng-bind-html="('paymentMean_add_message_' + mean.type) | translate"></p>
                <div data-ng-if="mean.type === 'bankAccount'">

                    <div class="form-group">
                        <label for="iban"
                               class="control-label required"
                               data-translate="paymentMean_label_iban">
                        </label>
                        <input id="iban"
                               name="iban"
                               type="text"
                               class="form-control"
                               data-ng-model="mean.iban"
                               required
                               data-ng-change="checkIban()"/>
                        <div data-ng-repeat="(error, hasError) in paymentMeanForm.iban.$error"
                             role="alert">
                            <span class="text-danger"
                                  data-ng-bind="('paymentMean_error_' + error) | translate"
                                  data-ng-if="hasError && paymentMeanForm.iban.$dirty">
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bic"
                               class="control-label required"
                               data-translate="paymentMean_label_bic">
                        </label>
                        <input type="text"
                               id="bic"
                               name="bic"
                               type="text"
                               class="form-control"
                               data-ng-model="mean.bic"
                               required
                               data-ng-change="checkBic()"/>
                        <div data-ng-repeat="(error, hasError) in paymentMeanForm.bic.$error"
                             role="alert">
                            <span class="text-danger"
                                  data-ng-bind="('paymentMean_error_' + error) | translate"
                                  data-ng-if="hasError && paymentMeanForm.bic.$dirty">
                            </span>
                        </div>
                    </div>

                    <fieldset>
                        <legend class="mb-5" data-translate="paymentMean_label_ownerAddress"></legend>
                        <div data-ng-if="customerIsFromFrance">
                            <div class="form-group">
                                <label for="addressNumber"
                                        class="control-label"
                                        data-translate="paymentMean_label_addressNumber">
                                </label>
                                <input type="text"
                                        id="addressNumber"
                                        name="addressNumber"
                                        class="form-control"
                                        data-ng-model="mean.addressNumber"
                                        data-ng-maxlength="255">
                                <div data-ng-repeat="(error, hasError) in paymentMeanForm.addressNumber.$error"
                                    role="alert">
                                    <span class="text-danger"
                                        data-ng-bind="('paymentMean_error_' + error) | translate"
                                        data-ng-if="hasError && paymentMeanForm.addressNumber.$dirty" >
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="addressStreetName"
                                        class="control-label required"
                                        data-translate="paymentMean_label_addressStreetName">
                                </label>
                                <input type="text"
                                        id="addressStreetName"
                                        name="addressStreetName"
                                        class="form-control"
                                        data-ng-model="mean.addressStreetName"
                                        data-ng-maxlength="255"
                                        required>
                                <div data-ng-repeat="(error, hasError) in paymentMeanForm.addressStreetName.$error"
                                    role="alert">
                                    <span class="text-danger"
                                        data-ng-bind="('paymentMean_error_' + error) | translate"
                                        data-ng-if="hasError && paymentMeanForm.addressStreetName.$dirty" >
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="addressPostalCode"
                                        class="control-label required"
                                        data-translate="paymentMean_label_addressPostalCode">
                                </label>
                                <input type="number"
                                        id="addressPostalCode"
                                        name="addressPostalCode"
                                        class="form-control"
                                        data-ng-model="mean.addressPostalCode"
                                        data-ng-pattern="/^\d{5}$/"
                                        min="01000"
                                        min="99999"
                                        required>
                                <div data-ng-repeat="(error, hasError) in paymentMeanForm.addressPostalCode.$error"
                                    role="alert">
                                    <span class="text-danger"
                                        data-ng-bind="('paymentMean_error_addressPostalCode_' + error) | translate"
                                        data-ng-if="hasError && paymentMeanForm.addressPostalCode.$dirty" >
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="addressTown"
                                        class="control-label required"
                                        data-translate="paymentMean_label_addressTown">
                                </label>
                                <input type="text"
                                        id="addressTown"
                                        name="addressTown"
                                        class="form-control"
                                        data-ng-model="mean.addressTown"
                                        data-ng-maxlength="255"
                                        required>
                                <div data-ng-repeat="(error, hasError) in paymentMeanForm.addressTown.$error"
                                    role="alert">
                                    <span class="text-danger"
                                        data-ng-bind="('paymentMean_error_' + error) | translate"
                                        data-ng-if="hasError && paymentMeanForm.addressTown.$dirty" >
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div
                            data-ng-if="!customerIsFromFrance"
                            class="form-group">
                            <label for="ownerAddress"
                                    class="control-label required"
                                    data-translate="paymentMean_label_ownerAddress">
                            </label>
                            <input type="text"
                                    id="ownerAddress"
                                    name="ownerAddress"
                                    class="form-control"
                                    data-ng-model="mean.ownerAddress"
                                    data-ng-maxlength="255"
                                    required>
                            <div data-ng-repeat="(error, hasError) in paymentMeanForm.ownerAddress.$error"
                                    role="alert">
                                <span class="text-danger"
                                        data-ng-bind="('paymentMean_error_' + error) | translate"
                                        data-ng-if="hasError && paymentMeanForm.ownerAddress.$dirty" >
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ownerName"
                                class="control-label required"
                                data-translate="paymentMean_label_ownerName">
                            </label>
                            <input type="text"
                                id="ownerName"
                                name="ownerName"
                                class="form-control"
                                data-ng-model="mean.ownerName"
                                data-ng-minlength="5"
                                data-ng-maxlength="255"
                                required/>
                            <div data-ng-repeat="(error, hasError) in paymentMeanForm.ownerName.$error"
                                role="alert">
                                <span class="text-danger"
                                    data-ng-bind="('paymentMean_error_' + error) | translate"
                                    data-ng-if="hasError && paymentMeanForm.ownerName.$dirty">
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="checkbox"
                        data-ng-show="canPaymentTypeSetDefaultAtCreation(mean.type)">
                    <label>
                        <input type="checkbox"
                                data-ng-model="mean.setDefault" />
                        <span data-translate="payment_mean_set_default_after_validation"></span>
                    </label>
                </div>

                <button type="button"
                        class="btn btn-primary"
                        data-ng-show="mean.type"
                        data-ng-click="add()"
                        data-translate="payment_mean_add"
                        data-ng-disabled="(paymentMeanForm.$invalid && paymentMeanForm.$dirty) || !mean.type || loader.add">
                </button>
            </div>

        </form>
    </div>
</div>
