<div class="row-fluid">
    <div class="module-useraccount-sections-infos-container">

        <div data-ovh-alert="InfoAlert"></div>

        <div class="row-fluid" data-ng-hide="loading">
            <form class="span9" role="form" name="newAccountForm" data-ng-submit="submitData()">

                <!-- firstname -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.firstName.$dirty && newAccountForm.firstName.$error,
                                'success' : newAccountForm.firstName.$dirty && newAccountForm.firstName.$valid}">
                    <label>
                        <span data-translate="user_account_firstname"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input type="text" name="firstName"
                           placeholder="{{ 'user_account_firstname' | translate }}"
                           data-ng-model="model.firstName" required/>
                </div>

                <!-- name -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.lastName.$dirty && newAccountForm.lastName.$error,
                                'success' : newAccountForm.lastName.$dirty && newAccountForm.lastName.$valid }">
                    <label>
                        <span data-translate="user_account_lastname"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input type="text" name="lastName"
                           placeholder="{{ 'user_account_lastname' | translate }}"
                           data-ng-model="model.lastName" required/>
                </div>

                <!-- legalform -->
                <div class="form-group top-space-5">
                    <label class="control-label">
                        <span data-translate="useraccount_sub_contacts_add_form_legalform_label"></span>
                        <sup class="red">*</sup>
                    </label>
                    <select name="legalform"
                            data-ng-model="model.legalForm"
                            data-ng-options="i18n['user_account_legalform_' + legalform] for legalform in controls.legalforms">
                    </select>
                </div>

                <!-- Language -->
                <div class="form-group top-space-5">
                    <label class="control-label">
                        <span data-translate="useraccount_sub_contacts_add_form_language_label"></span>
                        <sup class="red">*</sup>
                    </label>
                    <select name="language" id="language"
                            data-ng-model="model.language"
                            data-ng-options="language.value as language.name for language in controls.languages">
                    </select>
                    <div data-ng-messages="newAccountForm.language.$error" role="alert">
                        <div class="text-error" data-ng-message="required">
                            <p data-translate="useraccount_contacts_owner_required"></p>
                        </div>
                    </div>
                </div>

                <!-- email -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.email.$dirty && newAccountForm.email.$error,
                                'success' : newAccountForm.email.$dirty && newAccountForm.email.$valid }">
                    <label class="control-label">
                        <span data-translate="user_account_email"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input type='email' name="email"
                           placeholder="{{ 'user_account_email' | translate }}"
                           data-ng-model="model.email" required/>
                </div>

                <!-- Phone -->
                <div class="form-group top-space-5">
                    <label class="control-label">
                        <span data-translate="useraccount_contacts_owner_phone"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input id="phone" name="phone"
                           type="text"
                           maxlength="250"
                           placeholder="{{ 'useraccount_contacts_owner_phone' | translate }}"
                           data-ng-model="model.phone" required/>
                    <div data-ng-messages="newAccountForm.phone.$error" role="alert">
                        <div class="text-error" data-ng-message="maxlength">
                            <p data-translate="useraccount_contacts_owner_to_long"></p>
                        </div>
                    </div>
                </div>

                <!-- organisation -->
                <div class="form-group top-space-5" data-ng-if="model.legalForm !== 'individual'">
                    <label class="control-label">
                        <span data-translate="useraccount_contacts_owner_organisation"></span>
                    </label>
                    <input name="organisationName" type='text'
                           placeholder="{{ 'useraccount_contacts_owner_organisation' | translate }}"
                           data-ng-model="model.organisationName"/>
                </div>

                <!-- address -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.address.line1.$dirty && newAccountForm.address.line1.$error,
                                'success' : newAccountForm.address.line1.$dirty && newAccountForm.address.line1.$valid }">
                    <label class="control-label">
                        <span data-translate="user_account_address"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input type='text'
                           placeholder="{{ 'user_account_address' | translate }}"
                           name="address"
                           data-ng-model="model.address.line1" required/>
                </div>

                <!-- city -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.address.city.$dirty && newAccountForm.address.city.$error,
                                'success' : newAccountForm.address.city.$dirty && newAccountForm.address.city.$valid }">
                    <label class="control-label">
                        <span data-translate="user_account_city"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input type="text" name="city"
                           placeholder="{{ 'user_account_city' | translate }}"
                           data-ng-model="model.address.city" required/>
                </div>

                <!-- country -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.address.country.$dirty && newAccountForm.address.country.$error,
                                'success' : newAccountForm.address.country.$dirty && newAccountForm.address.country.$valid }">
                    <label class="control-label">
                        <span data-translate="user_account_country"></span>
                        <sup class="red">*</sup>
                    </label>
                    <select name="country"
                            data-ng-model="model.address.country"
                            data-ng-options="country.countryCode as country.label for country in controls.countries"
                            required>
                    </select>
                </div>

                <!-- zip -->
                <div class="form-group top-space-5" data-ng-class="{
                                'error': newAccountForm.address.zip.$dirty &&  newAccountForm.address.zip.$error,
                                'success' : newAccountForm.address.zip.$dirty &&  newAccountForm.address.zip.$valid }">
                    <label class="control-label">
                        <span data-translate="user_account_zip"></span>
                        <sup class="red">*</sup>
                    </label>
                    <input type='text' name="zip" style="width: 60px;"
                           data-ng-model="model.address.zip" required/>
                </div>

                <div class="top-space">
                    <button type="submit" class="btn btn-block btn-action btn-simple pull-right"
                            data-ng-disabled="newAccountForm.$invalid"
                            data-translate="user_account_OK"></button>
                    <button type="button" class="btn btn-block btn-action btn-simple" style="float:left"
                            data-ng-click="goBack()"
                            data-translate="user_account_cancel"></button>
                </div>
            </form>
        </div>
        <div class="row-fluid" data-ng-hide="loading">
            <p>
                <span class="red">* </span>
                <span data-translate="useraccount_sub_contacts_order_sql_mandatory_field"></span>
            </p>
        </div>
    </div>

    <div class="row-fluid mtop70" data-ng-show="loading">
        <div class="span12 loader" data-translate="loading_message"></div>
    </div>
</div>
