<div class="module-useraccount-sections-emails-container">

    <div class="page-header">
        <h1 data-i18n-static="user_account_email_list_title"></h1>
    </div>

    <div class="tab-content">
        <div data-ovh-alert="user_account_email"></div>
        <p class="my-5">
            <span data-i18n-static="user_account_email_info"></span><br />
            <span data-i18n-static="user_account_email_assitance_info"></span>
            <a href="#/ticket" data-i18n-static="user_account_email_assitance_title"></a>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th data-i18n-static="user_account_table_email_subject"></th>
                        <th class="text-center" data-i18n-static="user_account_table_email_date"></th>
                        <th class="text-center" style="width: 35px;">
                            <button class="btn btn-link"
                                    title="{{ i18n.user_account_table_email_refresh }}"
                                    data-ng-click="getEmailIds(true)"
                                    data-ng-disabled="loaders.emails">
                                <span class="fa fa-refresh"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody data-ng-if="loaders.emails">
                    <tr>
                        <td colspan="3"
                            class="text-center">
                            <oui-spinner data-size="s"></oui-spinner>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loaders.emails && !emails.ids.length">
                    <tr>
                        <td colspan="3"
                            class="text-center"
                            data-i18n-static="user_account_table_email_nodata">
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!loaders.emails && emails.ids.length">
                    <tr data-ng-repeat="email in emails.detail | orderBy:'date':true">
                        <td class="wordbreak">
                            <a class="d-block"
                               data-ng-href="{{ '#/useraccount/emails/' + email.id + '?previousPage=' + currentPage }}"
                               data-ng-click="resetEmailIdsInError()"
                               data-ng-bind="email.subject">
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="d-block"
                               data-ng-href="{{ '#/useraccount/emails/' + email.id + '?previousPage=' + currentPage }}"
                               data-ng-click="resetEmailIdsInError()"
                               data-ng-bind="email.date | date : 'short'">
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="d-block"
                               data-ng-href="{{ '#/useraccount/emails/' + email.id + '?previousPage=' + currentPage }}"
                               data-ng-click="resetEmailIdsInError()">
                                <span class="fa fa-search-plus"
                                      aria-hidden="true">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-show="!loaders.emails"
             data-pagination-front
             data-items="emails.ids"
             data-paginated-items="emails.detail"
             data-current-page="currentPage"
             data-items-per-page="itemsPerPage"
             data-nb-pages="nbPages"
             data-transform-item="transformItem(item)"
             data-on-transform-item-done="onTransformItemDone(items)"
             data-page-placeholder="{{ tr('pagination_page', [currentPage, nbPages]) }}"
             data-item-per-page-placeholder="{{ tr('pagination_display') }}"></div>
        </div>

    </div>

</div>
