<div class="container-fluid mb-5 px-0">

    <div class="row d-md-flex mb-5">
        <div class="col-md-4">

            <!-- GENERAL INFORMATIONS -->
            <div class="oui-tile mb-5 h-100">
                <h3 class="oui-tile__title"
                    data-translate="server_informations_general">
                </h3>
                <div class="oui-tile__body">
                    <ul class="list-unstyled">
                        <li class="oui-tile__item"
                            data-ng-if="server.state">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_configuration_state_title">
                                        </strong>
                                        <span class="label"
                                              data-ng-class="{
                                                  'label-success': server.state == 'OK',
                                                  'label-warning': server.state == 'ERROR',
                                                  'label-danger': server.state == 'HACKED' || server.state == 'HACKED_BLOCKED'
                                              }"
                                              data-translate="{{ 'server_configuration_state_' + server.state }}">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_remove_hack_button' | translate }}"
                                            data-ng-if="server.state == 'HACKED' || server.state == 'HACKED_BLOCKED'"
                                            data-ng-click="removeHack()"
                                            data-ng-disabled="server.state == 'HACKED_BLOCKED'"
                                            data-translate="server_remove_hack_button">
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item"
                            data-ng-if="server.commercialRange !== 'housing'">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_configuration_distribution">
                                        </strong>
                                        <span data-ng-if="server.os" data-ng-bind="server.os"></span>
                                        <span class="label label-warning"
                                              data-ng-if="!server.os"
                                              data-translate="server_configuration_distribution_none">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_configuration_installation_progress_button' | translate }}"
                                            data-ng-if="!server.isExpired && server.commercialRange !== 'housing' && disable.installationInProgress"
                                            data-ng-click="setAction('installation/progress/dedicated-server-installation-progress', server)"
                                            data-ng-disabled="disable.reboot || disable.byOtherTask">
                                        <span class="icon-time"
                                              aria-hidden="true"
                                              data-ng-if="!disable.installationInProgressError">
                                        </span>
                                        <span class="fa fa-exclamation-triangle text-danger"
                                              aria-hidden="true"
                                              data-ng-if="disable.installationInProgressError">
                                        </span>
                                        <span data-translate="server_configuration_installation_progress_button"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_configuration_reinstallation_button' | translate }}"
                                            data-ng-if="server.os && !server.isExpired && server.commercialRange !== 'housing' && !disable.installationInProgress"
                                            data-ng-click="setAction('installation/choice/dedicated-server-installation-choice', server)"
                                            data-ng-disabled="disable.reboot || disable.byOtherTask"
                                            data-translate="server_configuration_reinstallation_button">
                                    </button>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_configuration_installation_button' | translate }}"
                                            data-ng-if="!server.os && !server.isExpired && server.commercialRange !== 'housing' && !disable.installationInProgress"
                                            data-ng-click="setAction('installation/choice/dedicated-server-installation-choice', server)"
                                            data-ng-disabled="disable.reboot || disable.byOtherTask"
                                            data-translate="server_configuration_installation_button">
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item"
                            data-ng-if="server.commercialRange !== 'housing'">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_configuration_boot">
                                        </strong>
                                        <span data-ng-if="server.netbootLabel"
                                              data-ng-bind="server.netbootLabel">
                                        </span>
                                        <span class="text-muted"
                                              data-ng-if="!server.netbootLabel"
                                              data-translate="server_configuration_netboot_unavailable">
                                            -
                                        </span>
                                    </div>
                                    <div class="ml-auto my-auto">
                                        <button type="button"
                                                class="btn btn-default ml-auto my-auto text-wrap"
                                                title="{{ 'server_configuration_netboot_title_button' | translate }}"
                                                data-ng-if="!server.isExpired"
                                                data-ng-click="setAction('netboot/dedicated-server-netboot')"
                                                data-ng-disabled="disable.reboot || disable.byOtherTask || server.state == 'HACKED' || server.state == 'HACKED_BLOCKED' || (disable.installationInProgress && !disable.installationInProgressError)"
                                                data-translate="server_configuration_netboot_title_button">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_configuration_description">
                                </strong>
                                <span data-ng-bind="server.commercialRange !== 'housing' ? server.description || '-' : ('server_configuration_description_housing' | translate)"></span>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <strong class="d-block my-auto">
                                        <service-expiration-label
                                            data-service-infos="serviceInfos">
                                        </service-expiration-label>
                                    </strong>
                                    <div class="ml-auto my-auto">
                                        <service-expiration-date
                                            data-shide-renew-action="!server.canOrder"
                                            data-service-name="server.name"
                                            data-service-type="'DEDICATED_SERVER'"
                                            data-service-infos="serviceInfos">
                                        </service-expiration-date>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_configuration_creation">
                                </strong>
                                <span data-ng-bind="server.creation|date:'mediumDate'"></span>
                            </div>
                        </li>
                        <li class="oui-tile__item"
                            data-ng-if="server.availableProfessionalUse">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_configuration_profesionnal_use">
                                        </strong>
                                        <span class="label label-danger"
                                              data-ng-class="{
                                                  'label-success': server.hasProfessionalUse,
                                                  'label-danger': !server.hasProfessionalUse
                                              }"
                                              data-ng-bind="'server_configuration_monitoring_' + (server.hasProfessionalUse &amp;&amp; 'activated' || 'disabled') | translate">
                                        </span>
                                        <span class="icon-info-sign middle"
                                              data-ng-if="!server.hasProfessionalUse"
                                              data-tooltip-placement="right"
                                              data-uib-tooltip="{{ 'server_configuration_profesionnal_use_info' | translate }}">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_configuration_profesionnal_use_order_button' | translate }}"
                                            data-ng-if="!server.isExpired && server.availableProfessionalUse && !server.hasProfessionalUse"
                                            data-ng-click="setAction('pro-use/order/dedicated-server-pro-use-order', server.name)"
                                            data-ng-disabled="server.order.indexOf('professionalUse') == -1"
                                            data-translate="server_configuration_profesionnal_use_order_button">
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <!-- BANDWITH -->
            <div class="oui-tile mb-5 h-100">
                <h3 class="oui-tile__title"
                    data-translate="server_bandwidth">
                </h3>
                <div class="oui-tile__body"
                     data-ng-if="bandwithError">
                    <div ovh-alert="bandwithError"></div>
                </div>
                <div class="oui-tile__body text-center"
                     data-ng-if="bandwidthInformationsLoad">
                    <oui-spinner></oui-spinner>
                </div>
                <div class="oui-tile__body"
                     data-ng-if="bandwidth && !bandwidthInformationsLoad">
                    <ul class="list-unstyled">
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_bandwidth_type">
                                        </strong>
                                        <span data-translate="{{ 'server_bandwidth_type_' + bandwidth.bandwidth.type }}"></span>
                                    </div>
                                    <div class="ml-auto my-auto" data-ng-switch="bandwidthOption">
                                        <button type="button"
                                                class="btn btn-default ml-auto my-auto text-wrap"
                                                title="{{ 'server_bandwidth_cancel_button' | translate }}"
                                                data-ng-if="!server.isExpired && bandwidthOption === 'subscribed' && featureAvailability.allowDedicatedServerBandwidthOption()"
                                                data-ng-switch-when="subscribed"
                                                data-ng-click="setAction('bandwidth/cancel/dedicated-server-bandwidth-cancel', server.name)"
                                                data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                                data-translate="server_bandwidth_cancel_button">
                                        </button>
                                        <span data-ng-switch-when="released"
                                              data-translate="server_bandwidth_option_released">
                                        </span>
                                        <button type="button"
                                                class="btn btn-default ml-auto my-auto text-wrap"
                                                title="{{ 'server_bandwidth_order_button' | translate }}"
                                                data-ng-if="!server.isExpired && server.canOrderBandwith && featureAvailability.allowDedicatedServerOrderBandwidthOption()"
                                                data-ng-switch-when="notSubscribed"
                                                data-ng-click="setAction('bandwidth/order/dedicated-server-bandwidth-order', server.name)"
                                                data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                                data-translate="server_bandwidth_order_button">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_bandwidth_connection">
                                </strong>
                                <span data-ng-bind="bandwidth.connection | bandwidth"></span>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_bandwidth_ovh_to_ovh">
                                </strong>
                                <span data-ng-bind="bandwidth.bandwidth.OvhToOvh | bandwidth"></span>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_bandwidth_ovh_to_internet">
                                </strong>
                                <span data-ng-bind="bandwidth.bandwidth.OvhToInternet | bandwidth"></span>
                                <span data-ng-if="server.canOrderQuota">
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_traffic_order_button' | translate }}"
                                            data-ng-if="!traffic.hasQuota && canOrderTraffic() && canOrderMoreTraffic() && trafficOption !== 'released'"
                                            data-ng-click="setAction('traffic/order/dedicated-server-traffic-order', server.name)"
                                            data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                            data-ng-bind="(trafficOption !== 'subscribed' ? 'server_traffic_order_button' : 'server_traffic_change_button') | translate">
                                    </button>
                                </span>
                                <span class="text-danger"
                                      data-ng-if="traffic.usage.isThrottled">
                                    <span> - </span>
                                    <span data-translate="server_consumption_throttled"></span>
                                    <span data-uib-tooltip="{{ 'server_consumption_explanation' | translate }}"
                                          data-tooltip-placement="top">
                                        <span class="icon-question-sign"></span>
                                    </span>
                                </span>
                            </div>
                        </li>
                        <li class="oui-tile__item"
                            data-ng-if="server.canOrderQuota">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_traffic">
                                        </strong>
                                        <span data-ng-if="traffic.usage.outputQuotaSize.text"
                                              data-translate="server_traffic_text"
                                              data-translate-values="{ t0: traffic.usage.outputQuotaSize.text }">
                                        </span>
                                        <span data-ng-if="!traffic.usage.outputQuotaSize.text"
                                              data-translate="server_traffic_unlimited_text"
                                              data-translate-values="{ t0: (bandwidth.bandwidth.OvhToInternet | bandwidth) }">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_traffic_order_button' | translate }}"
                                            data-ng-if="traffic.hasQuota && canOrderTraffic() && canOrderMoreTraffic()"
                                            data-ng-click="setAction('traffic/order/dedicated-server-traffic-order', server.name)"
                                            data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                            data-ng-bind="(trafficOption !== 'subscribed' ? 'server_traffic_order_button' : 'server_traffic_change_button') | translate">
                                    </button>
                                </div>
                                <div class="d-flex w-100">
                                    <div>
                                        <span data-ng-if="trafficOption === 'released'"
                                              data-translate="server_traffic_option_released">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_traffic_cancel_button' | translate }}"
                                            data-ng-if="!server.isExpired && trafficOption === 'subscribed' && trafficOption !== 'released'"
                                            data-ng-click="setAction('traffic/cancel/dedicated-server-traffic-cancel', server.name)"
                                            data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                            data-translate="server_traffic_cancel_button">
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_bandwidth_internet_to_ovh">
                                </strong>
                                <span data-ng-bind="bandwidth.bandwidth.InternetToOvh | bandwidth"></span>
                            </div>
                        </li>
                        <li class="oui-tile__item"
                            data-ng-if="bandwidth.vrack.bandwidth">
                            <div class="oui-tile__definition">
                                <strong class="d-block">
                                    <span data-translate="server_bandwidth_vrack"></span>
                                    <span class="fa fa-question-circle"
                                          data-uib-tooltip="{{ 'server_bandwidth_vrack_tooltip' | translate }}"
                                          data-tooltip-placement="top"
                                          data-tooltip-append-to-body="true">
                                    </span>
                                </strong>
                                <div class="d-flex w-100">
                                    <div>
                                        <span data-ng-bind="bandwidth.vrack.bandwidth | bandwidth"></span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_bandwidth_vrack_order_button' | translate }}"
                                            data-ng-if="canOrderVrackBandwidth() && canOrderMoreVrackBandwidth()"
                                            data-ng-click="setAction('bandwidth-vrack/order/dedicated-server-bandwidth-vrack-order', server.name)"
                                            data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                            data-ng-bind="(bandwidthVrackOption !== 'subscribed' ? 'server_bandwidth_vrack_order_button' : 'server_bandwidth_vrack_change_button') | translate">
                                    </button>
                                </div>
                                <div class="d-flex w-100">
                                    <div>
                                        <span data-ng-if="bandwidthVrackOption === 'released'"
                                              data-translate="server_bandwidth_vrack_option_released">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ 'server_bandwidth_vrack_cancel_button' | translate }}"
                                            data-ng-if="!server.isExpired && bandwidthVrackOption === 'subscribed' && worldPart !== 'US'"
                                            data-ng-click="setAction('bandwidth-vrack/cancel/dedicated-server-bandwidth-vrack-cancel', server.name)"
                                            data-ng-disabled="server.state === 'HACKED' || server.state === 'HACKED_BLOCKED'"
                                            data-translate="server_bandwidth_vrack_cancel_button">
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <!-- STATE -->
            <div class="oui-tile mb-5 h-100"
                 data-ng-if="server.commercialRange !== 'housing'">
                <h3 class="oui-tile__title"
                    data-translate="server_services_state">
                </h3>
                <div class="oui-tile__body">
                    <ul class="list-unstyled">
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <div class="d-flex w-100">
                                    <div>
                                        <strong class="d-block"
                                                data-translate="server_configuration_monitoring">
                                        </strong>
                                        <span class="label"
                                              data-ng-class="{
                                                  'label-success': server.monitored,
                                                  'label-danger': !server.monitored
                                              }"
                                              data-translate="{{ ('server_configuration_monitoring_' + (server.monitored && 'activated' || 'disabled')) }}"
                                              data-uib-tooltip="{{ server.monitored && ('server_configuration_monitoring_activate_information' | translate) || ('server_configuration_monitoring_deactivate_information' | translate) }}"
                                              data-tooltip-placement="right">
                                        </span>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default ml-auto my-auto text-wrap"
                                            title="{{ server.monitored && ('server_configuration_monitoring_deactivate_title_button' | translate) || ('server_configuration_monitoring_activate_title_button' | translate) }}"
                                            data-ng-if="!server.isExpired"
                                            data-ui-sref="app.dedicated.server.monitoringUpdate"
                                            data-ng-bind="server.monitored && ('server_configuration_monitoring_deactivate_title_button' | translate) || ('server_configuration_monitoring_activate_title_button' | translate)">
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <strong class="d-block"
                                        data-translate="server_configuration_monitoring_services">
                                </strong>
                                <span class="label d-inline-block mr-2"
                                      data-ng-repeat="monitoringProtocol in monitoringProtocolEnum"
                                      data-ng-class="isMonitoringEnabled(monitoringProtocol) ? 'label-success' : 'label-default'"
                                      data-ng-bind="monitoringProtocol">
                                </span>
                                <button type="button"
                                        class="btn btn-default btn-block mt-3 text-wrap"
                                        data-ng-click="currentView.value = 'SERVICES_MONITORING'"
                                        data-translate="server_configuration_monitoring_services_use">
                                </button>
                            </div>
                        </li>
                        <li class="oui-tile__item">
                            <div class="oui-tile__definition">
                                <p>
                                    <strong data-translate="server_configuration_services_state_links"></strong>
                                </p>
                                <ul>
                                    <li data-translate="server_configuration_services_state_links_weathermap" data-translate-values="{ t0: servicesStateLinks.weathermap }"></li>
                                    <li data-translate="server_configuration_services_state_links_vms" data-translate-values="{ t0: servicesStateLinks.vms }"></li>
                                    <li data-translate="server_configuration_services_state_links_travaux" data-translate-values="{ t0: servicesStateLinks.travaux }"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="oui-tile__item"
                            data-ng-if="worldPart !== 'US'">
                            <div class="oui-tile__definition">
                                <div data-working-status
                                     data-modal-id="'worksDedicatedServers'"
                                     data-product-type="'dedicated_server'"
                                     data-works-details="works"
                                     data-show-affiliated="true"
                                     data-show-only-active="true"
                                     data-tr="tr">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- QUOTA -->
    <div class="mb-5"
         data-ng-if="traffic.hasQuota"
         data-ng-include="'dedicated/server/consumption/consumption.html'">
    </div>

    <!-- RTM -->
    <div class="mb-5"
         data-ng-include="'dedicated/server/statistics/rtm/dedicated-server-statistics-rtm.html'">
    </div>

    <!-- MRTG -->
    <div class="oui-tile mb-5">
        <h3 class="oui-tile__title">
            <span class="d-block"
                  data-translate="server_tab_stats_legend_mrtg">
            </span>
            <span class="small"
                  data-ng-bind=":: 'server_tab_stats_title_info' | translate">
            </span>
        </h3>
        <div class="oui-tile__body text-center"
             data-ng-if="serverStatsLoad.loading">
            <oui-spinner></oui-spinner>
        </div>
        <div class="oui-tile__body"
             data-ng-if="!serverStatsLoad.loading">
            <ul class="list-unstyled">
                <li class="oui-tile__item">
                    <div class="oui-tile__definition">
                        <div class="oui-box mb-5">
                            <div class="d-md-flex align-items-md-center justify-content-md-between">
                                <div>
                                    <label for="networkChoice"
                                           class="oui-label d-inline-block align-middle mr-2"
                                           data-translate="server_tab_stats_network">
                                    </label>
                                    <div class="oui-select mb-0 oui-select_inline align-middle">
                                        <select class="oui-select__input"
                                                id="networkChoice"
                                                name="datatype"
                                                data-ng-model="serverStats.networkChoice"
                                                data-ng-change="getStatistics()">
                                            <option data-ng-repeat="network in networks | orderBy:'displayName' track by network.id"
                                                    data-ng-value="network.id"
                                                    data-ng-disabled="network.disabled"
                                                    data-ng-selected="{{ network.id === serverStats.networkChoice }}"
                                                    data-ng-bind="network.displayName">
                                            </option>
                                        </select>
                                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div>
                                    <label for="typeChoice"
                                           class="oui-label d-inline-block align-middle mr-2"
                                           data-translate="server_tab_stats_type">
                                    </label>
                                    <div class="oui-select mb-0 oui-select_inline align-middle">
                                        <select class="form-control"
                                                id="typeChoice"
                                                name="datatype"
                                                data-ng-options="('server_tab_stats_type_' + type | translate) for type in serverStats.modelconst.types"
                                                data-ng-model="serverStats.typeChoice"
                                                data-ng-change="getStatistics()">
                                        </select>
                                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div>
                                    <label for="periodeChoice"
                                           class="oui-label d-inline-block align-middle mr-2"
                                           data-translate="server_tab_stats_period">
                                    </label>
                                    <div class="oui-select mb-0 oui-select_inline align-middle">
                                        <select class="form-control"
                                                id="periodeChoice"
                                                name="datatype"
                                                data-ng-options="('server_tab_stats_period_' + periode | translate) for periode in serverStats.modelconst.periods"
                                                data-ng-model="serverStats.periodeChoice"
                                                data-ng-change="getStatistics()">
                                        </select>
                                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas id="mrtgStatsChart"
                                class="chart chart-line"
                                data-ng-if="!serverStatsLoad.error"
                                data-chart-labels="labels"
                                data-chart-series="series"
                                data-chart-data="data">
                        </canvas>
                        <div class="alert alert-danger"
                             role="alert"
                             data-ng-if="serverStatsLoad.error"
                             data-translate="server_tab_stats_no_chart">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
