<div data-ng-controller="LicenseSplaAddCtrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addSpla"
         data-wizard-title="i18n.license_spla_add_title"
         data-wizard-bread-crumb
         data-wizard-title-icon="'icon-add-licenses'">

        <div data-wizard-step
             data-wizard-step-valid="model.selected.server"
             data-wizard-step-on-load="load">

            <div class="text-center"
                 data-ng-show="model.options.availableServers == null">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-show="model.options.availableServers.length">
                <p class="font-weight-bold"
                   data-i18n-static="license_spla_add_step1_question">
                </p>
                <div class="form-group">
                    <label for="availableServers"
                           class="control-label"
                           data-i18n-static="license_spla_add_step1_server">
                    </label>
                    <select class="form-control"
                            id="availableServers"
                            name="availableServers"
                            data-ng-options="type for type in model.options.availableServers"
                            data-ng-model="model.selected.server">
                        <option selected="selected"
                                value=""
                                data-ng-disabled="true"
                                data-i18n-static="license_spla_add_step1_server_placeholder">
                        </option>
                    </select>
                </div>
            </div>

            <p class="text-danger"
               data-ng-show="model.options.availableServers.length != null && !model.options.availableServers.length"
               data-i18n-static="license_spla_add_step1_server_unavailable">
            </p>

        </div>

        <div data-wizard-step
             data-wizard-step-on-load="loadTypes"
             data-wizard-step-valid="model.selected.type && model.selected.serial">

            <p class="font-weight-bold"
               data-i18n-static="license_spla_add_step2_question">
            </p>

            <div class="text-center"
                 data-ng-show="model.options.availableTypes == null">
                <oui-spinner></oui-spinner>
            </div>

            <p class="text-danger"
               data-ng-show="model.options.availableTypes != null && model.options.availableTypes.length == 0"
               data-i18n-static="license_spla_add_step2_no_space_left">
            </p>

            <div data-ng-show="model.options.availableTypes != null && model.options.availableTypes.length > 0">
                <!-- availableTypes -->
                <div class="form-group">
                    <label for="availableTypes"
                           class="control-label"
                           data-i18n-static="license_spla_add_step2_type">
                    </label>
                    <select class="form-control"
                            id="availableTypes"
                            name="availableTypes"
                            data-ng-options="type as tr('license_spla_add_common_type_' + type) for type in model.options.availableTypes"
                            data-ng-model="model.selected.type">
                        <option selected="selected"
                                value=""
                                data-ng-disabled="true"
                                data-i18n-static="license_spla_add_step2_type_placeholder">
                        </option>
                    </select>
                </div>

                <!-- serial -->
                <div class="form-group">
                    <label for="serial"
                           class="control-label"
                           data-i18n-static="license_spla_add_step2_serial">
                    </label>
                    <input type="text"
                           class="form-control"
                           id="serial"
                           name="serial"
                           data-ng-model="model.selected.serial"
                           data-ng-pattern="/^\w{5}-\w{5}-\w{5}-\w{5}-\w{5}$/"
                           data-ng-minlength="29"
                           data-ng-maxlength="29" />
                </div>
            </div>

        </div>

        <div data-wizard-step>

            <p class="font-weight-bold"
               data-i18n-static="license_spla_add_step3_question">
            </p>
            <dl>
                <dt data-i18n-static="license_spla_add_step3_server"></dt>
                <dd data-ng-bind="model.selected.server"></dd>
                <dt data-i18n-static="license_spla_add_step3_type"></dt>
                <dd data-ng-bind="tr('license_spla_add_common_type_' + model.selected.type)"></dd>
                <dt data-i18n-static="license_spla_add_step3_serial"></dt>
                <dd data-ng-bind="model.selected.serial"></dd>
            </dl>

        </div>

    </div>

</div>
