<ul class="dropdown-menu dropdown-menu-right"
    uib-dropdown-menu>

    <li data-ng-if=":: (historyLine.url || historyLine.htmlUrl)">
        <span class="fa fa-file-code-o" aria-hidden="true"></span>
        <a target="_blank"
           data-ng-href="{{ :: (historyLine.htmlUrl || historyLine.url) }}"
           data-i18n-static="table_download_html">
        </a>
    </li>

    <li data-ng-if=":: historyLine.pdfUrl">
        <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
        <a target="_blank"
           data-ng-href="{{ :: historyLine.pdfUrl }}"
           data-i18n-static="table_download_pdf">
        </a>
    </li>

    <li data-ng-if=":: historyLine.pdfBetaUrl">
        <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
        <a target="_blank"
           data-ng-href="{{ :: historyLine.pdfBetaUrl }}"
           data-i18n-static="table_download_pdf_beta">
        </a>
    </li>

    <li data-ng-if="::ctrl.debtAccount.active">
        <span class="fa fa-eye"
              aria-hidden="true"
              data-ng-if="historyLine.debt">
        </span>
        <a data-ng-if="historyLine.debt"
           data-ui-sref="app.account.billing.history.debtDetails({ debtId: historyLine.debt.debtId })"
           data-ng-attr-title="{{ tr('statements_table_detail_link', [historyLine.billId]) }}"
           data-i18n-static="statements_table_detail_label">
        </a>

        <!-- show disabled link when the debt is not available -->
        <span class="fa fa-eye"
              aria-hidden="true"
              data-ng-if="!historyLine.debt">
        </span>
        <button type="button"
                class="btn btn-link btn-debt"
                data-ng-if="!historyLine.debt"
                data-ng-disabled="true"
                data-i18n-static="statements_table_detail_label">
        </button>
    </li>

    <li data-ng-if="historyLine.debt && historyLine.debt.dueAmount.value > 0 && !historyLine.debt.paymentOrder.url">
        <span class="fa fa-credit-card" aria-hidden="true"></span>
        <button class="btn btn-link btn-debt"
                data-ng-if="ctrl.target !== 'US'"
                type="button"
                data-ng-click="ctrl.paySingleDebt(historyLine.debt)"
                data-i18n-static="statements_table_pay_debt_button">
        </button>

        <a class="btn btn-link btn-debt"
           data-ng-if="ctrl.target === 'US'"
           data-ui-sref="app.account.billing.history.balance"
           data-i18n-static="statements_table_pay_debt_button">
        </a>
    </li>

    <li data-ng-if="historyLine.debt && historyLine.debt.todoAmount.value > 0 && historyLine.debt.paymentOrder.url">
        <span class="fa fa-credit-card" aria-hidden="true"></span>
        <a data-ng-href="{{ historyLine.debt.paymentOrder.url }}"
           data-i18n-static="statements_table_pay_debt_button">
        </a>
    </li>
</ul>
