<div>

    <div class="page-header">
        <h1 data-i18n-static="history_title2"></h1>
    </div>

    <div class="tab-content"
         data-ui-view>

        <div class="alert"
             role="alert"
             data-ng-class="ctrl.alertType"
             data-ng-if="ctrl.message">
            <button type="button"
                    class="close"
                    aria-hidden="true"
                    data-ng-click="ctrl.message = null">
            </button>
            <span data-ng-bind-html="ctrl.message"></span>
        </div>

        <div data-ng-if="ctrl.debtAccount.active"
             data-ng-show="!ctrl.loaders.paymentMeans && ctrl.debtAccount.dueAmount.value > 0" >

            <p class="text-warning"
               data-ng-if="!ctrl.hasValidDefaultPaymentMean"
               data-ng-bind-html="tr('statements_account_amount_to_pay', [ctrl.debtAccount.dueAmount.text])"></p>

            <p class="text-info"
               data-ng-if="ctrl.hasValidDefaultPaymentMean"
               data-ng-bind-html="tr('statements_account_amount_automatically_collected', [ctrl.debtAccount.dueAmount.text])"></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button type="button"
                        class="btn btn-default"
                        data-i18n-static="statements_account_pay_debt_button"
                        data-ng-click="ctrl.payAllDebts()"
                        data-ng-if="ctrl.debtAccount.active && target !== 'US'"
                        data-ng-disabled="ctrl.debtAccount.dueAmount.value === 0">
                </button>
                <a type="button"
                   class="btn btn-default"
                   data-i18n-static="statements_account_pay_debt_button"
                   data-ng-if="ctrl.debtAccount.active && ctrl.debtAccount.dueAmount.value > 0 && target === 'US'"
                   data-ui-sref="app.account.billing.history.balance">
                </a>
                <button type="button"
                        class="btn btn-default"
                        data-export-csv="ctrl.getDatasToExport()"
                        data-export-csv-separator=";"
                        data-ng-disabled="ctrl.loaders.export"
                        data-i18n-static="billing_export_csv">
                </button>
            </div>
            <div class="col-md-8">
                <div class="float-right"
                     data-billing-date-range
                     data-on-change="ctrl.onDateRangeChanged">
                </div>
                <form class="form-inline float-right mr-3">
                    <div class="input-group">
                        <input class="form-control"
                               type="search"
                               maxlength="50"
                               placeholder="{{ i18n.history_table_head_id }}"
                               data-ng-model-options="{ debounce: 1000 }"
                               data-ng-model="ctrl.searchText"
                               data-ng-change="ctrl.onSearchTextChanged()"
                               data-ng-attr-title="{{ i18n.history_table_head_id }}"
                               autofocus>
                        <span class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">
                        <span data-billing-sorting-field-button=""
                              data-label="{{ :: tr('history_table_head_id') }}"
                              data-associated-field="billId"
                              data-active-field="ctrl.orderByState.predicate"
                              data-reverse-order="ctrl.orderByState.reverse"
                              data-on-change="ctrl.onOrderStateChanged"></span>
                    </th>
                    <th scope="col">
                        <span data-billing-sorting-field-button=""
                              data-label="{{ :: tr('history_table_head_date') }}"
                              data-associated-field="date"
                              data-active-field="ctrl.orderByState.predicate"
                              data-reverse-order="ctrl.orderByState.reverse"
                              data-on-change="ctrl.onOrderStateChanged"></span>
                    </th>
                    <th scope="col">
                        <span data-billing-sorting-field-button=""
                              data-label="{{ :: ctrl.isVATNeeded && tr('history_table_head_total_with_VAT') || tr('history_table_head_total') }}"
                              data-associated-field="priceWithTax.value"
                              data-active-field="ctrl.orderByState.predicate"
                              data-reverse-order="ctrl.orderByState.reverse"
                              data-on-change="ctrl.onOrderStateChanged"></span>
                    </th>
                    <th scope="col"
                        data-ng-if="ctrl.debtAccount.active"
                        data-i18n-static="history_table_head_balance_due">
                    </th>
                    <th scope="col"
                        data-ng-if="ctrl.debtAccount.active"
                        data-i18n-static="history_table_head_due_date">
                    </th>
                    <th scope="col"
                        data-i18n-static="history_table_head_actions">
                    </th>
                </tr>
            </thead>

            <tbody data-ng-show="ctrl.loaders.history">
                <tr>
                    <td colspan="{{ ctrl.colSpan }}"
                        class="text-center">
                        <oui-spinner data-size="s"></oui-spinner>
                    </td>
                </tr>
            </tbody>

            <tbody data-ng-show="ctrl.history.length == 0 && !ctrl.loaders.history">
                <tr>
                    <td colspan="{{ ctrl.colSpan }}"
                        class="text-center"
                        data-i18n-static="history_table_empty">
                    </td>
                </tr>
            </tbody>

            <tbody data-ng-show="!ctrl.loaders.history">
                <tr data-ng-repeat="historyLine in ctrl.history track by historyLine.billId"
                    data-ng-class="{ error: historyLine.error }">

                    <th scope="row" data-ng-bind=":: historyLine.billId"></th>

                    <td>
                        <span data-ng-show="historyLine.date" data-ng-bind=":: historyLine.date | date:'mediumDate'"></span>
                        <span data-ng-hide="historyLine.date" data-i18n-static="history_table_information_not_available"></span>
                    </td>

                    <td>
                        <span data-ng-show="historyLine.priceWithTax" data-ng-bind=":: historyLine.priceWithTax.text"></span>
                        <span data-ng-hide="historyLine.priceWithTax" data-i18n-static="history_table_information_not_available"></span>
                    </td>

                    <td data-ng-if="ctrl.debtAccount.active"
                        data-ng-show="historyLine.loadingDebt">
                        <oui-spinner size="s"></oui-spinner>
                    </td>

                    <td data-ng-if="ctrl.debtAccount.active"
                        data-ng-hide="historyLine.loadingDebt">
                        <span data-ng-if="historyLine.debt"
                              data-ng-bind=":: historyLine.debt.dueAmount.text"
                              data-ng-class="{ 'text-danger text-bold': (historyLine.debt.dueAmount.value > 0 &&
                                               !(historyLine.debt.pendingAmount.value > 0 || historyLine.debt.todoAmount.value > 0)) }"></span>

                        <span data-ng-if="!historyLine.debt"
                              data-i18n-static="history_table_information_not_available"></span>
                    </td>

                    <td data-ng-if="ctrl.debtAccount.active"
                        data-ng-show="historyLine.loadingDebt">
                        <oui-spinner size="s"></oui-spinner>
                    </td>

                    <td data-ng-if="ctrl.debtAccount.active"
                        data-ng-hide="historyLine.loadingDebt">
                        <span data-ng-if="historyLine.debt">
                            <span data-ng-if="historyLine.debt.dueAmount.value === 0" data-i18n-static="history_table_debt_paid"></span>
                            <span data-ng-if="historyLine.debt.dueAmount.value > 0 && historyLine.debt.dueDate" data-ng-bind=":: historyLine.debt.dueDate | date:'mediumDate'"></span>
                            <span class="text-warning"
                                  data-ng-if="historyLine.debt.dueAmount.value > 0 && !historyLine.debt.dueDate"
                                  data-i18n-static="history_table_debt_due_immediately">
                            </span>
                        </span>
                        <span data-ng-if="!historyLine.debt"
                              data-i18n-static="history_table_information_not_available">
                        </span>
                    </td>

                    <td>
                        <div data-uib-dropdown>
                            <button type="button"
                                    class="btn btn-link"
                                    data-uib-dropdown-toggle>
                                <span class="ovh-font ovh-font-dots align-top"
                                      aria-hidden="true">
                                </span>
                            </button>
                            <ul data-uib-dropdown-menu
                                data-template-url="{{ BILLING_BASE_URL + 'history/actions-menu.html'}}">
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

        <div data-ng-show="!ctrl.loaders.history"
             data-pagination-server-side="historyTable"
             data-pagination-server-side-function="ctrl.loadHistory"
             data-pagination-server-side-paginated-stuff="ctrl.history"
             data-pagination-server-side-table-loading="ctrl.loaders.history"
             data-pagination-server-side-page-size-available="ctrl.pageSizeAvailables">
        </div>

        <div id="currentAction"
             class="modal fade currentAction"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div id="modal-container"
                     class="modal-content"
                     data-ng-include="stepPath"></div>
                <div id="modal-help"
                     class="help4wizards"></div>
            </div>
        </div>
    </div>
</div>
