<form>

    <div class="from-group">
        <label class="control-label"
               for="blockSizeSelect"
               data-translate="ip_order_ipnbr">
        </label>
        <oui-select id="blockSizeSelect"
                    name="blockSizeSelect"
                    required
                    data-placeholder="{{ 'global_select' | translate }}"
                    data-model="model.params.blockSize"
                    data-items="orderableIp.ipv4BlockSizesAll">
            <span data-ng-bind="$item"></span>
        </oui-select>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="countrySelect"
               data-translate="ip_order_country">
        </label>
        <oui-select id="countrySelect"
                    name="countrySelect"
                    required
                    data-placeholder="{{ 'global_select' | translate }}"
                    data-model="orderableIp.selectedCountry"
                    data-match="label"
                    data-on-change="onCountryChanged(modelValue)"
                    data-items="orderableIp.countries">
            <span data-ng-bind="$item.label"></span>
        </oui-select>
    </div>

    <div data-ng-if="!orderableIp.isCanadianServer">
        <div class="form-group"
             data-ng-show="model.params.blockSize > 1 && orderableIp.ipOrganisation.length">
            <label class="control-label"
                   for="organisationSelect"
                   data-translate="ip_order_organisation">
            </label>
            <oui-select id="organisationSelect"
                        name="organisationSelect"
                        required
                        data-placeholder="{{ 'global_select' | translate }}"
                        data-model="orderableIp.selectedOrganisationId"
                        data-match="organisationId"
                        data-on-change="onOrganisationChanged(modelValue)"
                        data-items="orderableIp.ipOrganisation">
                <span data-ng-bind="$item.organisationId"></span><br>
                    <span data-ng-bind="$item.lastname"></span>
                    <span data-ng-bind="$item.firstname"></span>
            </oui-select>
        </div>

        <div class="alert alert-danger"
             role="alert"
             data-ng-show="model.params.blockSize > 1 && !orderableIp.ipOrganisation.length">
            <p data-translate="ip_order_no_organisation_1"></p>
            <p>
                <button type="button"
                        class="btn btn-link"
                        data-translate="ip_order_no_organisation_2"
                        data-ng-click="orderOrganisation()">
                </button>
            </p>
        </div>
    </div>

</form>
