<form name="orderIpPCC">

    <div class="form-group">
        <label class="control-label"
               for="sizeSelect"
               data-translate="ip_order_ipblocksize">
        </label>
        <oui-select id="sizeSelect"
                    name="sizeSelect"
                    required
                    data-placeholder="{{ 'global_select' | translate }}"
                    data-model="orderableIp.subMaskSize"
                    data-match="label"
                    data-on-change="onSizeChanged(modelValue)"
                    data-items="orderableIp.size">
            <span data-ng-bind="$item.label"></span>
        </oui-select>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="countrySelect"
               data-translate="ip_order_country">
        </label>
        <oui-select id="countrySelect"
                    name="countrySelect"
                    required
                    data-placeholder="{{ 'global_select' | translate }}"
                    data-model="orderableIp.selectedCountry"
                    data-match="label"
                    data-on-change="onCountryChanged(modelValue)"
                    data-items="orderableIp.countries">
            <span data-ng-bind="$item.label"></span>
        </oui-select>
    </div>

    <div class="form-group"
         data-ng-class="{
             'has-error': orderIpPCC.networkName.$dirty && orderIpPCC.networkName.$invalid
         }">
         <oui-field data-label="{{ 'ip_order_networkname' | translate }}"
                    data-label-popover="{{ 'ip_order_networkname_help' | translate }}">
            <input class="oui-input"
                   type="text"
                   id="networkName"
                   name="networkName"
                   data-ng-model="model.params.networkName"
                   maxlength="20"
                   data-ng-pattern="/^[a-zA-Z]+\w+$/" />
          </oui-field>

    </div>

    <div class="form-group"
         data-ng-class="{
             'has-error': orderIpPCC.estimatedClientsNumber.$dirty && orderIpPCC.estimatedClientsNumber.$invalid
         }">
        <oui-field data-label="{{ 'ip_order_estimatedclientsnumber' | translate }}"
                   data-label-popover="{{ 'ip_order_estimatedclientsnumber_help' | translate }}">
            <input class="oui-input"
                   type="number"
                   id="estimatedClientsNumber"
                   name="estimatedClientsNumber"
                   data-ng-model="model.params.estimatedClientsNumber"
                   required
                   min="1" />
        </oui-field>
    </div>

    <div class="form-group"
         data-ng-class="{
             'has-error': orderIpPCC.description.$dirty && orderIpPCC.description.$invalid
         }">
        <oui-field data-label="{{ 'ip_order_description' | translate }}"
                   data-label-popover="{{ 'ip_order_description_help' | translate }}">
            <oui-textarea rows="3"
                          id="description"
                          name="description"
                          minlength="3"
                          maxlength="250"
                          data-ng-pattern="/^[a-zA-Z0-9\.,\-'!\?:;\(\)\+\/=\s]*$/"
                          required
                          data-model="model.params.description">
            </oui-textarea>
    </div>

    <div class="form-group"
         data-ng-class="{
             'has-error': orderIpPCC.usage.$dirty && orderIpPCC.usage.$invalid
         }">
        <oui-field data-label="{{ 'ip_order_usage' | translate }}"
                   data-label-popover="{{ 'ip_order_usage_help' | translate }}">
            <input class="oui-input"
                   type="text"
                   id="usage"
                   name="usage"
                   data-ng-model="model.params.usage"
                   required/>
        </oui-field>
    </div>

</form>
