<oui-spinner data-ng-if="$ctrl.loading">
</oui-spinner>
<div data-ng-if="!$ctrl.loading">
    <oui-back-button data-href="{{:: $ctrl.getBackUrl() }}"
                     data-title="{{:: tr('dedicatedCloud_host_order_title') }}">
    </oui-back-button>
    <div data-ovh-alert></div>
    <oui-message class="d-block mb-4"
                 data-type="info"
                 data-ng-if="$ctrl.user.isEnterprise"
                 data-i18n-static="core_user_enterprise_retail_prices_hpc">
    </oui-message>
    <p data-i18n-static="dedicatedCloud_host_order_info"></p>
    <p data-i18n-static="dedicatedCloud_host_order_select"></p>
    <oui-datagrid data-rows-loader="$ctrl.fetchDatagridOffers()">
        <oui-column data-title=":: tr('dedicatedCloud_host_order_host')">
            <oui-radio data-text="{{ $row.productName }}"
                       data-name="selectedOffer"
                       data-model="$ctrl.selectedOffer"
                       data-value="$row">
            </oui-radio>
        </oui-column>
        <oui-column data-title=":: tr('dedicatedCloud_host_order_speed')">
            <span data-ng-bind="$row.profile.cpu.value + ' ' + $row.profile.cpu.unit"></span>
        </oui-column>
        <oui-column data-title=":: tr('dedicatedCloud_host_order_memory')">
            <span data-ng-bind="$row.profile.ram.value + ' ' + $row.profile.ram.unit"></span>
        </oui-column>
        <oui-column data-title=":: tr('dedicatedCloud_host_order_cores')">
            <span data-ng-bind="$row.profile.core"></span>
        </oui-column>
        <oui-column data-title=":: tr('dedicatedCloud_host_order_price')">
            <span data-ng-bind="$row.prices[0].price.text"></span>
            <br />
            <small data-ng-bind="$row.prices[0].description"></small>
        </oui-column>
    </oui-datagrid>
    <p data-i18n-static="dedicatedCloud_host_order_quantity"></p>
    <oui-numeric data-model="$ctrl.quantity"
                 data-disabled="!$ctrl.selectedOffer"
                 data-min="1">
    </oui-numeric>
    <div class="mt-4">
        <oui-button data-variant="primary"
                    data-disabled="!$ctrl.selectedOffer"
                    data-ng-if="!$ctrl.selectedOffer"
                    data-text="{{:: tr('dedicatedCloud_host_order_confirm') }}">
        </oui-button>
        <a class="btn btn-primary"
           href="{{ $ctrl.getOrderUrl() }}"
           target="_blank"
           rel="noopener"
           data-i18n-static="dedicatedCloud_host_order_confirm"
           data-ng-if="$ctrl.selectedOffer">
        </a>
    </div>
</div>
