<div>

    <div data-ovh-alert></div>

    <div class="page-header">
        <h1 data-translate="payments_title"></h1>
    </div>

    <div class="tab-content"
         data-ui-view>
        <p class="alert alert-info"
           role="alert"
           data-translate="payments_description">
        </p>

        <div class="mb-4"
             data-ng-if="ctrl.paymentRequests.length">
            <oui-message data-type="info">
                <span data-ng-bind-html="'payments_request_pending' | translate:{ t0: ctrl.paymentRequestsHref }"></span>
            </oui-message>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="button"
                        class="btn btn-default mb-2"
                        data-export-csv="ctrl.getDatasToExport()"
                        data-export-csv-separator=";"
                        data-ng-disabled="ctrl.loaders.payments"
                        >
                        <span data-translate="billing_export_csv"></span>
                </button>
            </div>
            <div class="col-md-6">
                <div class="text-right"
                     data-billing-date-range
                     data-on-change="ctrl.onDateRangeChanged">
                </div>
            </div>
        </div>

        <table class="table table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col"
                        class="align-middle">
                        <span data-billing-sorting-field-button=""
                              data-label="{{ :: 'payments_table_head_id' | translate }}"
                              data-associated-field="depositId"
                              data-active-field="ctrl.orderByState.predicate"
                              data-reverse-order="ctrl.orderByState.reverse"
                              data-on-change="ctrl.onOrderStateChanged"></span>
                    </th>
                    <th scope="col"
                        class="align-middle">
                        <span data-billing-sorting-field-button=""
                              data-label="{{ :: 'payments_table_head_date' | translate }}"
                              data-associated-field="date"
                              data-active-field="ctrl.orderByState.predicate"
                              data-reverse-order="ctrl.orderByState.reverse"
                              data-on-change="ctrl.onOrderStateChanged"></span>
                    </th>
                    <th scope="col"
                        class="align-middle">
                        <span data-billing-sorting-field-button=""
                              data-label="{{ :: 'payments_table_head_amount' | translate }}"
                              data-associated-field="amount.value"
                              data-active-field="ctrl.orderByState.predicate"
                              data-reverse-order="ctrl.orderByState.reverse"
                              data-on-change="ctrl.onOrderStateChanged"></span>
                    </th>
                    <th scope="col">
                        {{ :: 'payments_table_head_type' | translate }}
                        <select class="form-control input-sm"
                                data-ng-if="!ctrl.loaders.payments"
                                data-ng-options="('common_payment_type_' + paymentType | translate) for paymentType in ctrl.paymentTypes.values track by paymentType"
                                data-ng-model="ctrl.paymentTypes.model"
                                data-ng-change="ctrl.onOrderStateChanged()">
                        </select>
                    </th>
                    <th scope="col"
                        class="align-middle"
                        data-translate="payments_table_head_actions"
                        data-ng-if="ctrl.displayActionsCol()">
                    </th>
                </tr>
            </thead>
            <tbody data-ng-show="ctrl.loaders.payments">
                <tr>
                    <td colspan="{{ ctrl.displayActionsCol() ? 5 : 4 }}"
                        class="text-center">
                        <oui-spinner data-size="s"></oui-spinner>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-show="ctrl.paginatedPayments.length === 0 && !ctrl.loaders.payments">
                <tr>
                    <td colspan="{{ ctrl.displayActionsCol() ? 5 : 4 }}"
                        class="text-center"
                        data-translate="payments_table_empty">
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-show="!ctrl.loaders.payments">
                <tr data-ng-repeat="paymentLine in ctrl.paginatedPayments track by paymentLine.depositId">
                    <th scope="row" data-ng-bind=":: paymentLine.depositId"></th>
                    <td data-ng-bind=":: paymentLine.date | date:'mediumDate'"></td>
                    <td data-ng-bind=":: paymentLine.amount.text"></td>
                    <td data-ng-bind=":: ctrl.getTranslatedPaiementType(paymentLine)"></td>
                    <td data-ng-if="ctrl.displayActionsCol()">
                        <div data-uib-dropdown>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-attr-title="{{ 'payments_table_actions_tooltip' | translate }}"
                                    data-uib-dropdown-toggle>
                                <span class="ovh-font ovh-font-dots align-top"
                                      aria-hidden="true">
                                </span>
                            </button>
                            <ul data-uib-dropdown-menu
                                data-template-url="{{ BILLING_BASE_URL + 'payments/actions-menu.html'}}">
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div data-ng-show="!ctrl.loaders.payments">
            <div data-pagination-server-side="paymentsTable"
                 data-pagination-server-side-function="ctrl.loadPayments"
                 data-pagination-server-side-paginated-stuff="ctrl.paginatedPayments"
                 data-pagination-server-side-table-loading="ctrl.loaders.payments"
                 data-pagination-server-side-page-size-available="ctrl.pageSizeAvailables">
            </div>
        </div>
    </div>
</div>
