<form name="$ctrl.ovhForm"
      novalidate>
    <oui-field class="d-inline-block"
               data-label="{{:: 'dedicatedCloud_datacenter_secondary_pcc_name' | translate }}"
               data-help-text="{{:: 'dedicatedCloud_datacenter_secondary_datacenter_pcc_on_same_location_warning' | translate }}"
               data-size="l">
        <oui-select name="secondaryServiceName"
                    data-match="description"
                    data-model="$ctrl.selectedSecondaryPcc"
                    data-items="$ctrl.availablePccs"
                    data-on-change="$ctrl.updateOptions(modelValue)"
                    data-placeholder="{{:: 'dedicatedCloud_datacenter_secondary_pcc_name_placeholder' | translate }}"
                    data-disabled="$ctrl.fetchingOptions">
        </oui-select>
    </oui-field>
    <oui-spinner class="align-top"
                 data-size="s"
                 data-ng-if="$ctrl.fetchingOptions"></oui-spinner>

    <oui-field data-label="{{:: 'dedicatedCloud_datacenter_secondary_datacenter_list' | translate }}"
               data-size="l">
        <oui-select name="secondaryDatacenterId"
                    data-match="formattedName"
                    data-model="$ctrl.drpInformations.secondaryDatacenter"
                    data-items="$ctrl.availableDatacenters"
                    data-disabled="!$ctrl.selectedSecondaryPcc || $ctrl.fetchingOptions"
                    data-placeholder="{{:: 'dedicatedCloud_datacenter_secondary_datacenter_name_placeholder' | translate }}">
        </oui-select>
    </oui-field>

    <div data-ng-if="$ctrl.availableIpAddress.length === 0">
        <p class="oui-label"
           data-translate="dedicatedCloud_datacenter_secondary_ip_address_pool_available"></p>
        <span data-translate="dedicatedCloud_datacenter_order_ip_secondary_pcc"></span>
        <a class="oui-link"
           data-ui-sref="app.dedicatedClouds.datacenter.drp.ovh.secondPccStep.orderIp"
           data-ng-disabled="$ctrl.fetchingOptions">
            <span data-translate="global_feedback_contact_link"></span>
        </a>
    </div>
    <oui-field data-label="{{:: 'dedicatedCloud_datacenter_secondary_ip_address_pool_available' | translate }}"
               data-size="l"
               data-ng-if="$ctrl.availableIpAddress.length > 0">
        <oui-select name="secondaryEndpointIp"
                    data-match="ip"
                    data-model="$ctrl.selectedSecondaryIpAddress"
                    data-items="$ctrl.availableIpAddress"
                    data-disabled="$ctrl.fetchingOptions || !$ctrl.drpInformations.secondaryDatacenter"
                    data-placeholder="{{:: 'dedicatedCloud_datacenter_secondary_ip_address_pool_available_placeholder' | translate }}"
                    data-on-change="$ctrl.drpInformations.secondaryEndpointIp = modelValue.ip">
        </oui-select>
    </oui-field>
</form>

<div class="mt-5">
    <oui-button data-variant="secondary"
                data-variant-nav="previous"
                data-on-click="$ctrl.goToPreviousStep()">
        <span data-translate="common_previous"></span>
    </oui-button>
    <oui-button data-variant="primary"
                data-variant-nav="next"
                data-on-click="$ctrl.goToNextStep()"
                data-disabled="!$ctrl.isStepValid()">
        <span data-translate="common_next"></span>
    </oui-button>
</div>
