<oui-message
    data-type="info"
    data-dismissable="false"
    data-ng-if="!$ctrl.hasDefaultMeansOfPayment">
    <p data-translate="dedicatedCloud_certificationActivation_confirmation_noDefaultMeansOfPayment"></p>

    <p data-ng-if="$ctrl.currentUser.ovhSubsidiary !== 'PL'">
        <span data-translate="dedicatedCloud_certificationActivation_confirmation_howToAddMeansOfPayment"></span>
        <a
            data-ui-sref="app.account.billing.payment.method"
            data-translate="dedicatedCloud_certificationActivation_confirmation_howToAddMeansOfPayment_thisLink"></a>
    </p>
    <p
        data-ng-if="$ctrl.currentUser.ovhSubsidiary === 'PL'"
        data-translate="dedicatedCloud_certificationActivation_confirmation_noDefaultMeansOfPayment_orderFormCreation"></p>
</oui-message>

<p
    data-ng-if="$ctrl.currentUser.ovhSubsidiary !== 'PL'"
    data-translate="dedicatedCloud_certificationActivation_confirmation_noDefaultMeansOfPayment_orderFormCreation"
    data-translate-values="{
        'servicePackName': '<strong>' + $ctrl.servicePackToOrder.displayName + '</strong>',
        'monthlyPrice': '<strong>' + 'xxx' + '</strong>'
    }"></p>

<div data-ng-if="!$ctrl.orderIsInProgress">
    <oui-button
        data-on-click="$ctrl.stepper.goToPreviousStep()"
        data-variant="secondary">
        <span data-translate="dedicatedCloud_certificationActivation_confirmation_previousButton"></span>
    </oui-button>

    <oui-button
        data-on-click="$ctrl.placeOrder()"
        data-variant="primary"
        class="ml-3">
        <span data-translate="dedicatedCloud_certificationActivation_confirmation_confirmActivationButton"></span>
    </oui-button>
</div>

<div class="text-center">
    <oui-spinner
        class="ml-3"
        data-ng-if="$ctrl.orderIsInProgress"></oui-spinner>
</div>
