<p data-ng-if="$ctrl.orderURL">
    Afin de régler votre commande, merci de cliquer sur le lien suivant: <span data-ng-if="$ctrl.orderURL"></span>

    <oui-message data-type="warning">Si le gars clique pas sur le lien</oui-message>
</p>

<div data-ng-if="!$ctrl.orderURL">
    <oui-message data-type="success">Félicitations ! Vous avez activé <span data-translate="$ctrl.orderedServicePack.displayName"></span> avec succès !</oui-message>

    L'ajout de celles-ci sera visible sur votre facturation dès le mois prochain.

    N'hésitez pas à consulter <a
        class="oui-link_icon"
        data-ng-href="$ctrl.urlToGuides"
        target="_blank"
        rel="noopener">
        nos guides
        <span
            class="oui-icon oui-icon-external_link"
            aria-hidden="true"></span>
        <span
            class="sr-only"
            data-translate="common_new_tab"></span>
    </a> pour plus d'informations.
</div>

<button
    type="button"
    class="oui-button oui-button_primary"
    data-ui-sref="app.dedicatedClouds">
    Terminer
</button>
