<div class="dedicatedCloud-users"
     data-ui-view="pccUserView">
    <div data-ovh-alert="{{ alerts.users }}"></div>

    <h2 data-translate="dedicatedCloud_user_management_authorization_vsphere"></h2>

    <form class="form-inline d-md-flex mb-3"
          name="usersEntrySearchForm">

        <button type="button"
                class="btn btn-default"
                data-ng-click="setAction('user/add/dedicatedCloud-user-add', passwordPolicy)"
                data-ng-if="dedicatedCloud.solution !== 'VCLOUD'"
                data-translate="dedicatedCloud_USER_add_user">
        </button>

        <div class="form-group ml-auto">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="searchusersEntry"
                       name="searchusersEntry"
                       placeholder="{{ 'dedicatedCloud_search_user' | translate }}"
                       data-ng-disabled="searchLoading"
                       data-ng-model="usersEntrySearchSelected"
                       data-ng-model-options="{ debounce: 800 }" />
                <div class="input-group-btn"
                     data-ng-if="usersEntrySearchSelected">
                    <button type="button"
                            class="btn btn-default"
                            aria-label="{{ 'common_cancel' | translate }}"
                            data-ng-click="usersEntrySearchSelected = ''"
                            data-ng-disabled="searchLoading">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </button>
                </div>
                <span class="input-group-addon"
                      data-ng-if="!usersEntrySearchSelected">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </span>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"
                        data-translate="dedicatedCloud_USER_name">
                    </th>
                    <th scope="col"
                        data-translate="dedicatedCloud_USER_firstname">
                    </th>
                    <th scope="col"
                        data-translate="dedicatedCloud_USER_lastname">
                    </th>
                    <th scope="col"
                        data-translate="dedicatedCloud_USER_mail">
                    </th>
                    <th scope="col"
                        data-translate="dedicatedCloud_USER_phone">
                    </th>
                    <th scope="col"
                        class="text-center"
                        data-translate="dedicatedCloud_USER_token_validator">
                    </th>
                    <th scope="col"
                        class="text-center"
                        data-translate="dedicatedCloud_USER_ip">
                    </th>
                    <th scope="col"
                        class="text-center"
                        data-translate="dedicatedCloud_USER_ipfo">
                    </th>
                    <th scope="col"
                        data-ng-if="nsxOptions === 'enabled'"
                        class="text-center"
                        data-translate="dedicatedCloud_USER_nsx">
                    </th>
                    <th scope="col"
                        class="text-center"
                        data-ng-show="dedicatedCloud.solution == 'SYSTEMCENTER'"
                        data-translate="dedicatedCloud_USER_connection_type">
                    </th>
                    <th scope="col"
                        class="text-center"
                        data-translate="dedicatedCloud_USER_state">
                    </th>
                    <th scope="col"
                        class="text-center min-width">
                        <button type="button"
                                class="btn btn-link p-0"
                                title="{{ 'common_refresh' | translate }}"
                                data-ng-click="loadUsers()">
                            <span class="fa fa-refresh" aria-label="{{ 'common_refresh' | translate }}"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody data-ng-show="loading">
                <tr>
                    <td colspan="12"
                        class="text-center">
                        <oui-spinner data-size="s"></oui-spinner>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-show="!loading && users.length === 0">
                <tr>
                    <td colspan="12"
                        class="text-center"
                        data-translate="dedicatedCloud_USER_empty">
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-show="!loading && users.length > 0">
                <tr data-ng-repeat="user in users | orderBy:'progress'">
                    <th scope="row"
                        data-ng-bind="::user.name">
                    </th>
                    <td>
                        <span data-ng-hide="user === userCurrentEditBack"
                              data-ng-bind="user.firstName || '-'">
                        </span>
                        <input type="text"
                               class="form-control"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.firstName" />
                    </td>
                    <td>
                        <span data-ng-hide="user === userCurrentEditBack"
                              data-ng-bind="user.lastName || '-'">
                        </span>
                        <input type="text"
                               class="form-control"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.lastName" />
                    </td>
                    <td data-ng-class="{ 'has-error': !userCurrentEdit.emailValid }">
                        <span data-ng-hide="user === userCurrentEditBack"
                              data-ng-bind="user.email || '-'">
                        </span>
                        <input type="text"
                               class="form-control"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.email" />
                    </td>
                    <td data-ng-class="{ 'has-error': !userCurrentEdit.phoneValid }">
                        <span data-ng-hide="user === userCurrentEditBack"
                              data-ng-bind="user.phoneNumber || '-'">
                        </span>
                        <input type="text"
                               class="form-control"
                               placeholder="{{ tr('dedicatedCloud_USER_phone_example', phoneExample) }}"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.phoneNumber"
                               data-uib-tooltip="{{ tr('dedicatedCloud_USER_phone_hint', phoneExample) }}"
                               data-tooltip-placement="top" />
                    </td>
                    <td class="text-center">
                        <span class="fa"
                              data-ng-hide="user === userCurrentEditBack"
                              data-ng-class="{
                                  'fa-check': user.isTokenValidator === true,
                                  'fa-ban': user.isTokenValidator === false
                              }">
                        </span>
                        <input type="checkbox"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.tokenValidator" />
                    </td>
                    <td class="text-center">
                        <span class="fa"
                              data-ng-hide="user === userCurrentEditBack"
                              data-ng-class="{
                                  'fa-check': user.canManageNetwork === true,
                                  'fa-ban': user.canManageNetwork === false
                              }">
                        </span>
                        <input type="checkbox"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.canManageNetwork" />
                    </td>
                    <td class="text-center">
                        <span class="fa"
                              data-ng-hide="user === userCurrentEditBack"
                              data-ng-class="{
                                  'fa-check': user.canManageIpFailOvers === true,
                                  'fa-ban': user.canManageIpFailOvers === false
                              }">
                        </span>
                        <input type="checkbox"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.canManageIpFailOvers" />
                    </td>
                    <td class="text-center"
                        data-ng-if="nsxOptions === 'enabled'">
                        <span class="fa"
                              data-ng-hide="user === userCurrentEditBack"
                              data-ng-class="{
                                  'fa-check': user.nsxRight === true,
                                  'fa-ban': user.nsxRight === false
                              }">
                        </span>
                        <input type="checkbox"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.nsxRight" />
                    </td>
                    <td class="text-center"
                        data-ng-show="dedicatedCloud.solution === 'SYSTEMCENTER'">
                        <span class="fa"
                              data-ng-hide="user === userCurrentEditBack"
                              data-ng-class="{
                                  'fa-check': user.fullAdminRo === true,
                                  'fa-ban': user.fullAdminRo === false
                              }"></span>
                        <input type="checkbox"
                               data-ng-show="user === userCurrentEditBack"
                               data-ng-model="userCurrentEdit.fullAdminRo" />
                    </td>
                    <td class="text-center">
                        <span data-ng-if="dedicatedCloud.solution !== 'SYSTEMCENTER' || user.name !== 'infraadmin'"
                              data-ng-switch="user.state">
                            <span class="label label-info"
                                  data-ng-switch-when="CREATING"
                                  data-translate="dedicatedCloud_USER_state_CREATING">
                            </span>
                            <span class="label label-warning"
                                  data-ng-switch-when="DELETING"
                                  data-translate="dedicatedCloud_USER_state_DELETING">
                            </span>
                            <span class="label label-success"
                                  data-ng-switch-when="DELIVERED"
                                  data-translate="dedicatedCloud_USER_state_DELIVERED">
                            </span>
                            <span class="label label-danger"
                                   data-ng-switch-when="ERROR"
                                   data-translate="dedicatedCloud_USER_state_ERROR"></span>
                            <span class="label"
                                  data-ng-switch-default
                                  data-ng-bind="tr('dedicatedCloud_USER_state_' + user.state)">
                            </span>
                        </span>
                        <span data-ng-if="dedicatedCloud.solution === 'SYSTEMCENTER' && user.name === 'infraadmin'"
                              data-ng-switch="user.activationState">
                            <span class="label label-success"
                                  data-ng-switch-when="ENABLED"
                                  data-translate="dedicatedCloud_USER_state_DELIVERED">
                            </span>
                            <span class="label label-danger"
                                  data-ng-switch-when="DISABLED"
                                  data-translate="dedicatedCloud_USER_state_DISABLED">
                            </span>
                            <span class="label"
                                  data-ng-switch-default
                                  data-ng-bind="tr('dedicatedCloud_USER_state_' + user.state)">
                            </span>
                        </span>
                    </td>
                    <td class="text-center">
                        <div class="btn-group"
                             data-ng-if="user.state=='DELIVERED' && user != userCurrentEditBack && !user.isUpdating"
                             data-uib-dropdown
                             data-dropdown-append-to-body>
                            <button id="btn-dedicatedCloud-user-action-{{ index }}"
                                    type="button"
                                    class="btn btn-link"
                                    data-uib-dropdown-toggle>
                                <span class="ovh-font ovh-font-dots align-top" aria-hidden="true"></span>
                                <span class="sr-only"
                                      data-translate="common_actions">
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right"
                                role="menu"
                                aria-labelledby="btn-dedicatedCloud-user-action-{{ index }}"
                                data-uib-dropdown-menu>
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setUserCurrentEdit(user)"
                                            data-translate="dedicatedCloud_USER_modify">
                                    </button>
                                </li>
                                <li role="menuitem">
                                    <!-- data-ng-click="displayRights(user)" -->
                                    <a type="button"
                                       class="btn btn-link"
                                       data-ui-sref="app.dedicatedClouds.users.rights({ userId: user.userId })"
                                       data-translate="dedicatedCloud_USER_view_modify_rights_by_DC">
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setAction('user/password/reset/dedicatedCloud-user-password-reset', {user: user, passwordPolicy: passwordPolicy})"
                                            data-translate="dedicatedCloud_USER_change_password">
                                    </button>
                                </li>
                                <li role="menuitem"
                                    data-ng-if="dedicatedCloud.solution !== 'SYSTEMCENTER' && user.name !== 'infraadmin'">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setAction('user/delete/dedicatedCloud-user-delete', user)"
                                            data-translate="dedicatedCloud_USER_delete">
                                    </button>
                                </li>
                                <li role="menuitem"
                                    data-ng-if="dedicatedCloud.solution !== 'SYSTEMCENTER' && user.name === 'infraadmin'">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setAction('user/delete/dedicatedCloud-user-delete', user)"
                                            data-translate="dedicatedCloud_USER_delete">
                                    </button>
                                </li>
                                <li role="menuitem"
                                    data-ng-if="dedicatedCloud.solution === 'SYSTEMCENTER' && user.name !== 'infraadmin'">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setAction('user/delete/dedicatedCloud-user-delete', user)"
                                            data-translate="dedicatedCloud_USER_delete">
                                    </button>
                                </li>
                                <li role="menuitem"
                                    data-ng-if="dedicatedCloud.solution === 'SYSTEMCENTER' && user.name === 'infraadmin' && user.activationState === 'DISABLED'">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setAction('user/enable/dedicatedCloud-user-enable', user)"
                                            data-translate="dedicatedCloud_USER_enable">
                                    </button>
                                </li>
                                <li role="menuitem"
                                    data-ng-if="dedicatedCloud.solution === 'SYSTEMCENTER' && user.name === 'infraadmin' && user.activationState === 'ENABLED'">
                                    <button type="button"
                                            class="btn btn-link"
                                            data-ng-click="setAction('user/disable/dedicatedCloud-user-disable', user)"
                                            data-translate="dedicatedCloud_USER_disable">
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div data-ng-if="user === userCurrentEditBack">
                            <button type"button"
                                    class="btn btn-link"
                                    data-ng-show="userCurrentEdit.isValid"
                                    data-ng-click="saveUserCurrentEdit()">
                                <span class="oui-icon oui-icon-success" aria-hidden="true"></span>
                            </button>
                            <button type"button"
                                    class="btn btn-link"
                                    data-ng-click="cancelUserCurrentEdit()">
                                <span class="oui-icon oui-icon-error" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-pagination-front
         data-items="usersId"
         data-paginated-items="users"
         data-current-page="currentPage"
         data-nb-pages="nbPages"
         data-items-per-page="itemsPerPage"
         data-transform-item="transformItem(item)"
         data-on-transform-item-done="onTransformItemDone(items)"
         data-page-placeholder="{{ tr('pagination_page', [currentPage, nbPages]) }}"
         data-item-per-page-placeholder="{{ 'pagination_display' | translate }}">
    </div>
</div>
