<p data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_header"></p>

<ul>
    <li>
        <span
            data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_criterias_accessPolicy_definition"
            data-translate-values="{
                accessPolicyValue: ('dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_criterias_accessPolicy_value_' + $ctrl.currentService.userAccessPolicy | translate)
            }"></span>
    </li>
    <li>
        <span
            data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_criterias_numberOfAllowedIPAndBlocks_definition"
            data-translate-values="{
                numberOfAllowedIPsAndBlocks: $ctrl.allowedIPsAndBlocks.count
            }"></span>
    </li>
</ul>

<oui-datagrid
    data-ng-if="$ctrl.configurationIsCorrect"
    data-rows-loader="$ctrl.mapAllowedIPsAndBlocks()">
    <oui-column
        data-title=":: 'dedicatedCloud_SECURITY_IP_name' | translate"
        data-property="network"
        data-type="string"></oui-column>
    <oui-column
        data-title=":: 'dedicatedCloud_SECURITY_description' | translate"
        data-property="description"
        data-type="string"></oui-column>
</oui-datagrid>

<oui-message
    data-ng-if="!$ctrl.configurationIsCorrect"
    data-type="warning"
    class="mb-5">
    <span
        data-ng-if="!$ctrl.userAccessPolicyIsCorrect && $ctrlnumberOfAllowedIPsAndBlocksIsAllowed"
        data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_warningMessage_accessPolicy_error"></span>
    <span
        data-ng-if="$ctrl.userAccessPolicyIsCorrect && !$ctrlnumberOfAllowedIPsAndBlocksIsAllowed"
        data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_warningMessage_numberOfAllowedIPAndBlocks_error"></span>
    <span
        data-ng-if="!$ctrl.userAccessPolicyIsCorrect && !$ctrlnumberOfAllowedIPsAndBlocksIsAllowed"
        data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_warningMessage_both_error"></span>
    <span data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_warningMessage_whatToDoNow_1"></span>
    <a data-ui-sref="app.dedicatedClouds.security">
        <strong data-translate="dedicatedCloud_tab_security"></strong>
    </a>
    <span data-translate="dedicatedCloud_servicePack_certificationActivation_requiredConfiguration_warningMessage_whatToDoNow_2"></span>
</oui-message>

<button
    type="button"
    class="oui-button oui-button_secondary"
    data-ui-sref="app.dedicatedClouds.servicePackCertificationActivation.selection">
    Précédent
</button>

<button
    data-ng-if="$ctrl.configurationIsCorrect"
    type="button"
    class="oui-button oui-button_primary ml-3">
    Suivant
</button>
