<div class="modal-content" data-ng-controller="Billing.controllers.HistoryValidateInvoicesChangeCtrl as $ctrl">
    <div class="modal-header">
        <button
            type="button"
            class="close float-right"
            aria-label="{{ ::'cancel' | translate }}"
            data-ng-click="$ctrl.cancelChoice()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3 class="modal-title">
            <span data-ng-if="$ctrl.invoicesByPostalMail" data-i18n-static="history_invoices_choice_modal_activation"></span>
            <span data-ng-if="!$ctrl.invoicesByPostalMail" data-i18n-static="history_invoices_choice_modal_deactivation"></span>
        </h3>
    </div>

    <div class="modal-footer">
        <div role="group" class="clearfix">
            <button type="button"
                    class="btn btn-default btn-cancel"
                    data-ng-click="$ctrl.cancelChoice()"
                    data-i18n-static="common_no">
            </button>
            <button type="submit"
                    class="btn btn-primary"
                    data-ng-click="$ctrl.confirmChoice()"
                    data-i18n-static="common_yes">
            </button>
        </div>
    </div>
</div>
