<h3 data-ng-bind="$ctrl.header"></h3>
<p data-ng-bind="$ctrl.subheader"></p>

<form
    novalidate
    name="$ctrl.form"
    data-ng-submit="$ctrl.goToNextStep()">

    <oui-field>
        <div
            data-ng-repeat="servicePack in ::$ctrl.orderableServicePacks track by servicePack.name"
            class="row"
            data-ng-if="$index % 2 === 0">
            <div
                data-ng-repeat="i in [$index, $index + 1]"
                class="col-xs-6 oui-select-picker oui-select-picker_light mb-5"
                data-ng-if="$ctrl.orderableServicePacks[i]">
                <input
                    class="oui-select-picker__input oui-input"
                    type="radio"
                    name="servicePackSelection"
                    data-ng-model="$ctrl.servicePackToOrder"
                    data-ng-value="servicePack"
                    id="{{ 'servicePackSelection' + servicePack.name }}"
                    required>
                <label
                    class="oui-select-picker__label-container"
                    for="{{ 'servicePackSelection' + servicePack.name }}">
                    <span
                        class="oui-select-picker__label"
                        data-ng-bind=":: servicePack.displayName"></span>
                        <span class="oui-select-picker__value-container oui-select-picker__section">
                        <span class="oui-select-picker__value">Value</span>
                    </span>
                </label>
            </div>
        </div>
    </oui-field>

    <oui-button
        data-variant="secondary"
        data-on-click="$ctrl.stepper.exit()">
        <span data-translate="dedicatedCloud_servicePackActivation_selection_cancelButton"></span>
    </oui-button>

    <oui-button
        data-type="submit"
        data-variant="primary"
        class="ml-3">
        <span data-translate="dedicatedCloud_servicePackActivation_selection_nextButton"></span>
    </oui-button>
</form>
