@helpmodalimg: '../images/trigger-help-infrastructure.png';
@red_const: #f00f00;
@redlow_const: #f2dede;
@white_const: #fff;
@info_const: #3a87ad;
@nav_active_const: #2f3545;
@nav_border_const: #7b8593;
@radius_const: 2px;
@animation_time_const: 0.35s;
@blue_const: #33acff;
@univers: #3b4151;
@cloud: #ffd740;
@dedicated: #38a7c3;
@telecom: #4587a7;
@web: #54a89b;
@sunrise: #ff9800;
@partners: #54c7e4;
@older_univers: #c3cadb;
@navbar_height: 44px;
@navbar_bg: #122844;
@navbar_hover: darken(@NAVBAR_BG, 4%);
@SIDEBAR_MENU_BG_COLOR_LVL1: #273b54;
@SIDEBAR_MENU_BG_COLOR_LVL2: #3f5167;
@SIDEBAR_MENU_BG_COLOR_LVL3: #59697d;
@fontsizemini: 11px;
@fontsizeh4: 12px;
@fontsizedefault: 12px;
@fontsizeh3: 14px;
@fontsizelarge: 16px;
@fontsizebig: 18px;
@fontsizeh1: 22px;
@fontsizemega: 28px;
@buttoniconsize: 36px;
@blue: #38a7c3;
@green: #54a89b;
@white: #fff;
@grey1: #f7f5f6;
@grey2: #efefef;
@grey3: #dbdbdb;
@grey4: #7a7a7a;
@grey5: #656568;
@grey6: #3b3b41;
@grey7: #3c3c3c;
@current_univers: @DEDICATED;
@defaultfont: @grey4;
@defaulttitle: @grey7;
@defaultbackground: @white;
@defaultborder: @white;
@defaultlineheadbackground: #3b4151;
@defaultlineheadfont: @white;
@defaultlineoddbackground: #d8e2e4;
@defaultlineoddfont: @grey6;
@defaultlineevenbackground: none;
@defaultlineevenfont: @grey6;
@defaulttablelineoddbackground: none;
@defaulttablelineevenbackground: #d8e2e4;
@defaultlinehoverbackground: none;
@defaultlinehoverfont: #1a1a1a;
@defaultlineselectedbackground: @blue;
@defaultlineselectedfont: @white;
@defaultbuttonshadow: #cacaca;
@defaultbuttonbackground: @grey3;
@defaultbuttonfont: @grey5;
@defaultbuttonhoverbackground: @blue;
@defaultbuttonhoverfont: @white;
@barblockbackground: @grey1;
@barblockfont: @defaultFont;
@barblockborder: @grey3;
@barformfont: @grey7;
@defaultpaginationfont: @grey5;
@defaultpaginationhoverbackground: @white;
@defaultpaginationhoverfont: @grey7;
@defaultpaginationactivebackground: @white;
@defaultpaginationactivefont: @grey7;
@defaultpaginationnextpreviousbuttonborder: @grey3;
@defaultpaginationgotobackground: #b8b7ba;
@defaultpaginationgotofont: @white;
@defaultpaginationgotohoverbackground: #8c8c8c;
@defaultpaginationgotohoverfont: none;
@defaultpaginationgotopagebackground: none;
@defaultpaginationgotopagefont: #3c3c3c;
@defaultpaginationgotopageborder: #b8b7ba;
@defaultmodalbackground: @grey2;
@defaultmodalheadertopgradientbackground: #333;
@defaultmodalheaderbottomgradientbackground: #1a1a1a;
@defaultmodalheaderborderbottom: #eee;
@defaultmodalheaderfont: @white;
@defaultmodalfooterbackground: #f5f5f5;
@defaultmodalfooterbordertop: @grey3;
@defaultmodalfooterbuttonconfirmbackground: @blue;
@defaultmodalfooterbuttonconfirmfont: @white;
@defaultmodalfooterbuttonhoverconfirmbackground: #72d0f4;
@defaultmodalfooterbuttonhoverconfirmfont: none;
@defaultmodalfooterbuttoncancelbackground: @white;
@defaultmodalfooterbuttoncancelfont: #7d7d7d;
@defaultmodalfooterbuttonhovercancelbackground: none;
@defaultmodalfooterbuttonhovercancelfont: @defaultLineHoverFont;
@defaultmodalhelpbackground: #f7f7f7;
@defaultmodalhelpfont: #737373;
@defaultmodalhelpborder: #c6c6c8;
@defaultmodalhelptitleunderlinecolor: #737373;
@defaultmodalbackdropcolor: @white;
@defaultpopoverfont: @grey6;
@oui-dropdown-menu-zindex: 1000;
