<form class="cdn-dedicated-domain-add"
      name="$ctrl.cdnDedicatedDomainAddForm"
      data-ng-submit="$ctrl.cdnDedicatedDomainAddFormSubmit()"
      novalidate>

    <oui-modal data-title="{{ :: 'cdn_dedicated_domain_add_title' | translate }}"
               data-primary-label="{{ :: 'wizard_confirm' | translate }}"
               data-secondary-label="{{ :: 'wizard_cancel' | translate }}"
               data-secondary-action="$ctrl.$state.go('^')"
               data-on-dismiss="$ctrl.$state.go('^')"
               data-loading="$ctrl.loading.backend || $ctrl.loading.save">

        <oui-field data-label="{{ :: 'cdn_dedicated_domain_add_name' | translate }}">
            <input class="oui-input"
                   type="text"
                   id="domainName"
                   name="domainName"
                   data-ng-model="$ctrl.model.domainName"
                   data-required
                   data-ng-pattern="/^.+\..+$/" />
        </oui-field>

        <cdn-dedicated-backend-management data-cdn-service="$ctrl.cdnDedicated"
                                          data-loading="$ctrl.loading.backend"
                                          data-on-init-success="$ctrl.onBackendManagementInitSuccess.bind($ctrl)"
                                          data-on-init-error="$ctrl.onBackendManagementInitError.bind($ctrl)"
                                          data-ng-model="$ctrl.model.backend">
        </cdn-dedicated-backend-management>

    </oui-modal>

</form>
