<ul class="dropdown-menu dropdown-menu-right"
    data-uib-dropdown-menu>
    <li>
        <button type="button"
                class="btn btn-link"
                data-ng-click="!editionDisabled(service) && updateServices(service)"
                data-ng-class="{ 'disabled': editionDisabled(service) }"
                data-ng-disabled="editionDisabled(service)"
                data-translate="autorenew_service_update_button_caption">
        </button>
    </li>

    <li data-ng-if="canCancelResiliation(service, user)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="cancelDeleteService(service, user)"
                data-translate="autorenew_service_canceldelete_button">
        </button>
    </li>

    <li data-ng-if="service.serviceType !== 'EXCHANGE'">
        <button type="button"
                class="btn btn-link"
                data-ng-disabled="service.renew.forced"
                data-ng-click="gotoRenew(service)"
                title="{{ 'autorenew_service_renew_button_title' | translate:{ t0: service.serviceId } }}"
                data-translate="autorenew_service_renew_button">
        </button>
    </li>

    <li data-ng-if="service.serviceType === 'EXCHANGE'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="gotoExchangeRenew(service)"
                data-translate="autorenew_service_renew_button">
        </button>
    </li>

    <li data-ng-if="!service.renew.deleteAtExpiration">
        <button type="button"
                class="btn btn-link"
                data-ng-class="{ 'disabled' : !canResiliate(service, user) }"
                data-ng-disabled="!canResiliate(service, user)"
                data-ng-click="canResiliate(service, user) && resiliateService(service)"
                data-translate="autorenew_service_resiliate_button">
        </button>
    </li>

    <li data-ng-if="service.serviceType === 'HOSTING_WEB'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="terminateHostingWeb(service)"
                data-translate="hosting_dashboard_service_guide">
        </button>
    </li>

    <li data-ng-if="service.status !== 'EXPIRED' && service.serviceType === 'EMAIL_DOMAIN'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="terminateEmail(service)"
                data-translate="autorenew_service_EMAIL_DOMAIN_terminate">
        </button>
    </li>

    <li data-ng-if="canDisableAutorenew(service)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="disableAutorenew(service)"
                data-translate="autorenew_service_disable_button">
        </button>
    </li>
    <li data-ng-if="canEnableAutorenew(service)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="enableAutorenew(service)"
                data-translate="autorenew_service_enable_button">
        </button>
    </li>
</ul>
