<ul class="dropdown-menu dropdown-menu-right"
    uib-dropdown-menu>
    <li>
        <button type="button"
                class="btn btn-link"
                data-ng-click="!editionDisabled(service) && updateServices(service)"
                data-ng-class="{ 'disabled': editionDisabled(service) }"
                data-ng-disabled="editionDisabled(service)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_update_button_caption"></span>
        </button>
    </li>

    <li data-ng-if="canCancelResiliation(service, user)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="cancelDeleteService(service, user)">
            <i class="fa fa-close" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_canceldelete_button"></span>
        </button>
    </li>

    <li data-ng-if="service.serviceType !== 'EXCHANGE'">
        <button type="button"
                class="btn btn-link"
                data-ng-disabled="service.renew.forced"
                data-ng-click="gotoRenew(service)"
                title="{{ tr('autorenew_service_renew_button_title', [service.serviceId]) }}">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_renew_button"></span>
        </button>
    </li>

    <li data-ng-if="service.serviceType === 'EXCHANGE'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="gotoExchangeRenew(service)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_renew_button"></span>
        </button>
    </li>

    <li data-ng-if="!service.renew.deleteAtExpiration">
        <button type="button"
                class="btn btn-link"
                data-ng-class="{ 'disabled' : !canResiliate(service, user) }"
                data-ng-disabled="!canResiliate(service, user)"
                data-ng-click="canResiliate(service, user) && resiliateService(service)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_resiliate_button"></span>
        </button>
    </li>

    <li data-ng-if="service.serviceType === 'HOSTING_WEB'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="terminateHostingWeb(service)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span data-i18n-static="hosting_dashboard_service_guide"></span>
        </button>
    </li>

    <li data-ng-if="service.status !== 'EXPIRED' && service.serviceType === 'EMAIL_DOMAIN'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="terminateEmail(service)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_EMAIL_DOMAIN_terminate"></span>
        </button>
    </li>

    <li data-ng-if="canDisableAutorenew(service)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="disableAutorenew(service)">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_disable_button"></span>
        </button>
    </li>
    <li data-ng-if="canEnableAutorenew(service)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="enableAutorenew(service)">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span data-i18n-static="autorenew_service_enable_button"></span>
        </button>
    </li>
</ul>
