<div class="tab-content">

    <div data-ovh-alert></div>

    <a href="#/billing/payments"
       title="{{ 'payment_details_return_to_payments' | translate }}">
        <i class="fa fa-chevron-left"
           aria-hidden="true">
        </i>
        <span data-translate="payment_details_return_to_payments"></span>
    </a>

    <dl class="dl-horizontal mt-4">
        <dt data-translate="payment_details_payment_id"></dt>
        <dd data-ng-bind="::ctrl.paymentId"></dd>
        <dt data-translate="payment_details_payment_date"></dt>
        <dd data-ng-bind="::ctrl.payment.date | date:'mediumDate'"></dd>
        <dt data-translate="payment_details_payment_amount"></dt>
        <dd data-ng-bind="::ctrl.payment.amount.text"></dd>
    </dl>

    <div class="table-responsive mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" data-translate="payment_details_table_header_id"></th>
                    <th scope="col" data-translate="payment_details_table_header_date"></th>
                    <th scope="col" data-translate="payment_details_table_header_payment"></th>
                    <th scope="col" data-translate="payment_details_table_header_document"></th>
                </tr>
            </thead>
            <tbody data-ng-if="!ctrl.loading.init && ctrl.billIds.length > 0 ">
                <tr data-ng-repeat="bill in ctrl.bills track by bill.billId">
                    <th scope="row" data-ng-bind="::bill.billId"></th>
                    <td data-ng-bind="::bill.date | date:'mediumDate'"></td>
                    <td data-ng-bind="::bill.payment"></td>
                    <td>
                        <div data-ng-if="bill">
                            <a class="btn btn-link"
                               data-ng-href="{{ ::bill.url }}"
                               data-ng-attr-title="{{ :: 'statements_details_table_invoice_html_link' | translate }}"
                               target="_blank">
                                <i class="fa fa-code" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-link"
                               data-ng-href="{{ ::bill.pdfUrl }}"
                               data-ng-attr-title="{{ :: 'statements_details_table_invoice_pdf_link' | translate }}"
                               target="_blank">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="ctrl.loading.init || ctrl.loading.bills">
                <tr>
                    <td colspan="4"
                        class="text-center">
                        <oui-spinner data-size="s"></oui-spinner>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="!ctrl.loading.init && ctrl.billIds.length === 0 ">
                <tr>
                    <td colspan="4"
                        class="text-center"
                        data-translate="payments_details_table_empty">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- PAGINATION -->
    <div data-ng-show="!ctrl.loading.init && ctrl.billIds.length > 5"
         data-pagination-front
         data-items="ctrl.billIds"
         data-paginated-items="ctrl.bills"
         data-current-page="ctrl.pagination.currentPage"
         data-nb-pages="ctrl.pagination.nbPages"
         data-items-per-page="ctrl.pagination.itemsPerPage"
         data-transform-item="ctrl.transformItem(item)"
         data-on-transform-item-done="ctrl.onTransformItemDone(items)"
         data-page-placeholder="{{ 'pagination_page' | translate:{ t0: ctrl.pagination.currentPage, t1: ctrl.pagination.nbPages } }}"
         data-item-per-page-placeholder="{{ 'pagination_display' | translate }}">
    </div>
</div>
