<div id="feedback"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     data-ng-controller="FeedBackCtrl">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="{{ i18n.wizard_close }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="wizard-title"
                    data-i18n-static="global_feedback_appreciation">
                </h1>
                <div class="text-center"
                     data-ng-show="isSending">
                    <oui-spinner></oui-spinner>
                </div>
                <div data-ng-show="!isSending">
                    <div class="alert alert-warning"
                         role="alert">
                        <p data-i18n-static="global_feedback_warning"></p>
                        <p>
                            <span data-i18n-static="global_feedback_contact"></span>
                            <a href="#/ticket"
                               title="{{:: i18n.global_feedback_support_inquiries_ovh_title }}"
                               data-ng-click="closeModal()"
                               data-i18n-static="global_feedback_contact_link">
                            </a>
                        </p>
                    </div>
                    <form name="feedBackForm"
                          novalidate>
                        <p data-ng-bind-html="i18n.global_feedback_appreciation_text"></p>
                        <div class="form-group"
                             data-ng-class="{
                                 'has-error': feedBackForm.subject.$touched && feedBackForm.subject.$invalid
                             }">
                            <label for="subject"
                                   class="control-label"
                                   data-i18n-static="global_feedback_subject">
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="subject"
                                   name="subject"
                                   required
                                   data-ng-model="feedback.subject"
                                   data-ng-maxlength="255" />
                            <span class="help-block"
                                  role="alert"
                                  data-ng-if="feedBackForm.subject.$touched"
                                  data-ng-messages="feedBackForm.subject.$error">
                                <div data-ng-message="required"
                                     data-i18n-static="global_feedback_subject_required">
                                </div>
                                <div data-ng-message="maxlength"
                                     data-i18n-static="global_feedback_subject_maxlength">
                                </div>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="feedBackFormComment"
                                   class="control-label"
                                   data-i18n-static="global_feedback_more_details">
                            </label>
                            <textarea class="form-control"
                                      id="feedBackFormComment"
                                      name="feedBackFormComment"
                                      rows="5"
                                      cols="10"
                                      required
                                      data-ng-model="feedback.body"
                                      data-ng-disabled="isSending">
                            </textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-cancel"
                        data-ng-click="initForm()"
                        data-ng-disabled="isSending"
                        data-dismiss="modal"
                        data-i18n-static="common_cancel">
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-ng-click="sendFeedBack()"
                        data-ng-disabled="feedBackForm.$invalid || isSending"
                        data-i18n-static="global_feedback_send">
                </button>
            </div>
        </div>
    </div>
</div>
