<h3 data-translate="dedicatedCloud_servicePack_basicOptionActivation_selection_header"></h3>
<p data-translate="dedicatedCloud_servicePack_basicOptionActivation_selection_subheader"></p>
sdfdsffds
<form
    novalidate
    name="$ctrl.form"
    data-ng-submit="$ctrl.goToNextStep()">

    <oui-field>
        <div
            data-ng-repeat="servicePack in ::$ctrl.orderableServicePacks track by servicePack.name"
            class="row"
            data-ng-if="$index % 2 === 0">
            <div
                data-ng-repeat="i in [$index, $index + 1]"
                class="col-xs-6 oui-select-picker oui-select-picker_light mb-5"
                data-ng-if="$ctrl.orderableServicePacks[i]">
                <input
                    class="oui-select-picker__input oui-input"
                    type="radio"
                    name="servicePackSelection"
                    data-ng-model="$ctrl.selectedServicePackName"
                    data-ng-value="servicePack.name"
                    id="{{:: 'servicePackSelection' + servicePack.name }}"
                    required>
                <label
                    class="oui-select-picker__label-container dedicatedCloud-servicePack-option-container"
                    for="{{ 'servicePackSelection' + servicePack.name }}">
                    <span
                        class="oui-select-picker__label dedicatedCloud-servicePack-option-label"
                        data-ng-bind=":: servicePack.displayName"></span>
                    <p class="oui-select-picker__value-container oui-select-picker__section dedicatedCloud-servicePack-option-section">
                        <p
                            class="dedicatedCloud-servicePack-option-description"
                            data-translate="{{:: 'dedicatedCloud_servicePack_basicOptionActivation_selection_product_' + servicePack.name + '_description' }}"></p>
                    </p>
                    <p class="dedicatedCloud-servicePack-option-price">100 Euros</p>
                </label>
            </div>
        </div>
    </oui-field>

    <button
        type="button"
        class="oui-button oui-button_secondary"
        data-ui-sref="app.dedicatedClouds">
        Annuler
    </button>

    <button
        type="submit"
        class="oui-button oui-button_primary ml-3">
        Suivant
    </button>
</form>
