<div class="dedicatedCloud-security">

    <div class="text-center"
         data-ng-show="loaders.policiesInfo">
        <oui-spinner></oui-spinner>
    </div>
    <div class="row"
         data-ng-if="!loaders.policiesInfo">
        <div class="col-sm-9">
            <dl>
                <dt data-i18n-static="dedicatedCloud_SECURITY_expiration_session"></dt>
                <dd data-ng-bind="policies.info.userSessionTimeout == 0 && tr('dedicatedCloud_SECURITY_expiration_session_never') || tr('dedicatedCloud_SECURITY_expiration_session_value', [policies.info.userSessionTimeout])"></dd>
                <dt data-i18n-static="dedicatedCloud_SECURITY_nb_simultaneous_connection"></dt>
                <dd data-ng-bind="policies.info.userLimitConcurrentSession == 0 && tr('dedicatedCloud_SECURITY_nb_simultaneous_connection_none') || policies.info.userLimitConcurrentSession"></dd>
                <dt data-i18n-static="dedicatedCloud_SECURITY_userAccess_policy"></dt>
                <dd data-ng-bind="tr('dedicatedCloud_SECURITY_userAccess_policy_' + policies.info.userAccessPolicy)"></dd>
                <dt data-i18n-static="dedicatedCloud_SECURITY_logout_policy"></dt>
                <dd data-ng-bind="tr('dedicatedCloud_SECURITY_logout_policy_' + policies.info.logoutPolicy)"></dd>
            </dl>
            <div class="text-center"
                 data-ng-show="loaders.table">
                <oui-spinner></oui-spinner>
            </div>
            <div data-ng-hide="loaders.table">
                <p data-i18n-static="dedicatedCloud_SECURITY_title"></p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"
                                    class="min-width text-center">
                                    <input type="checkbox"
                                           data-tri-state-checkbox
                                           data-tsc-ids-all="policies.model.fullNetworksList"
                                           data-tsc-ids-selected="selectedPolicies"
                                           data-tsc-on-click="globalCheckboxPoliciesStateChange(state)" />
                                </th>
                                <th scope="col"
                                    data-i18n-static="dedicatedCloud_SECURITY_IP_name">
                                </th>
                                <th scope="col"
                                    data-i18n-static="dedicatedCloud_SECURITY_allow">
                                </th>
                                <th scope="col"
                                    colspan="2"
                                    data-i18n-static="dedicatedCloud_SECURITY_description">
                                </th>
                            </tr>
                        </thead>
                        <tbody data-ng-show="policies.model.list.results.length == 0">
                            <tr>
                                <td colspan="5"
                                    data-i18n-static="dedicatedCloud_SECURITY_empty_policies">
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-ng-show="policies.model.list.results.length != 0">
                            <tr data-ng-repeat="policy in policies.model.list.results">
                                <td>
                                    <input type="checkbox"
                                           name="policiesListResults[]"
                                           data-ng-model="policy.selected"
                                           data-ng-change="togglePolicy(policy.id)" />
                                </td>
                                <th scope="row"
                                    data-ng-bind="policy.network">
                                </th>
                                <td>
                                    <span class="label"
                                          data-ng-class="{
                                              'label-success': policy.status == 'ALLOWED',
                                              'label-danger': policy.status == 'TO_DELETE',
                                              'label-warning': policy.status == 'TO_UPDATE'
                                          }"
                                          data-ng-bind="tr('dedicatedCloud_configuration_SECURITY_status_' + policy.status)">
                                    </span>
                                </td>
                                <td data-ng-bind="policy.description"></td>
                                <td class="text-center">

                                    <div class="btn-group"
                                         data-uib-dropdown
                                         data-dropdown-append-to-body>
                                        <button id="btn-dedicatedCloud-security-action-{{ index }}"
                                                type="button"
                                                class="btn btn-link"
                                                data-uib-dropdown-toggle>
                                            <span class="ovh-font ovh-font-dots align-top" aria-hidden="true"></span>
                                            <span class="sr-only"
                                                  data-translate="common_actions">
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            role="menu"
                                            aria-labelledby="btn-dedicatedCloud-security-action-{{ index }}"
                                            data-uib-dropdown-menu>
                                            <li role="menuitem">
                                                <button type="button"
                                                        class="btn btn-link"
                                                        data-ng-click="setAction('security/update/dedicatedCloud-security-update', policy)"
                                                        data-i18n-static="dedicatedCloud_SECURITY_modify">
                                                </button>
                                            </li>
                                            <li role="menuitem">
                                                <button type="button"
                                                        class="btn btn-link"
                                                        data-ng-click="setAction('security/delete/dedicatedCloud-security-delete', { selectedPolicies: [policy.id], policies: policies.model.list.results })"
                                                        data-i18n-static="dedicatedCloud_SECURITY_delete">
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pagination-server-side="policiesTable"
                     data-pagination-server-side-function="loadPaginated"
                     data-pagination-server-side-paginated-stuff="policies.model"
                     data-pagination-server-side-table-loading="loaders.table">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('security/session-timeout/update/dedicatedCloud-security-session-timeout-update', policies.info.userSessionTimeout)"
                    data-i18n-static="dedicatedCloud_SECURITY_change_timeout">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection', policies.info.userLimitConcurrentSession)"
                    data-i18n-static="dedicatedCloud_SECURITY_change_nb_simultaneous_connection">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('security/access/dedicatedCloud-security-access')"
                    data-i18n-static="dedicatedCloud_SECURITY_access_policy">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('security/logout/dedicatedCloud-security-logout')"
                    data-i18n-static="dedicatedCloud_SECURITY_logout_policy">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('security/add/dedicatedCloud-security-add')"
                    data-i18n-static="dedicatedCloud_SECURITY_add_IP">
            </button>
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-click="setAction('security/delete/dedicatedCloud-security-delete', {
                        selectedPolicies: selectedPolicies,
                        policies: policies.model.list.results
                    })"
                    data-ng-disabled="selectedPolicies.length == 0"
                    data-i18n-static="dedicatedCloud_SECURITY_delete_IP">
            </button>
        </div>
    </div>
</div>
