<div data-ng-controller="SecondaryDnsCtrl">

    <div class="text-center"
         data-ng-if="loading">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-if="!loading">
        <button type="button"
                class="btn btn-primary mb-5"
                data-ng-click="setAction('dns/add/dedicated-server-dns-add', secondaryDns)">
            <span class="oui-icon oui-icon-add" aria-hidden="true"></span>
            <span data-i18n-static="server_configuration_add_secondary_dns_title"></span>
        </button>
        <p data-ng-if="!secondaryDnsList"
           data-i18n-static="server_configuration_no_secondary_dns">
        </p>
        <table class="table table-hover"
               data-ng-if="secondaryDnsList">
            <thead>
                <tr>
                    <th scope="col"
                        data-i18n-static="server_configuration_secondarydns_domain_header">
                    </th>
                    <th scope="col"
                        data-i18n-static="server_configuration_secondarydns_dns">
                    </th>
                    <th scope="col"
                        data-i18n-static="server_configuration_secondarydns_ip">
                    </th>
                    <th scope="col"
                        colspan="2"
                        data-i18n-static="server_configuration_secondarydns_creationdate">
                    </th>
                </tr>
            </thead>
            <tbody data-ng-if="secondaryDnsList.length <= 0">
                <tr>
                    <td colspan="5"
                        class="text-center"
                        data-i18n-static="server_configuration_secondary_dns_empty">
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="secondaryDnsList.length > 0">
                <tr data-ng-repeat="secondaryDns in secondaryDnsList | orderBy:'domain' track by $index">
                    <th scope="row"
                        data-ng-bind="secondaryDns.domain">
                    </th>
                    <td data-ng-bind="secondaryDns.dns"></td>
                    <td data-ng-bind="secondaryDns.ip"></td>
                    <td data-ng-bind="secondaryDns.creationDate | date:'longDate'"></td>
                    <td class="text-center">
                        <button type="button"
                                class="btn btn-default"
                                data-ng-click="setAction('dns/delete/dedicated-server-dns-delete', secondaryDns)">
                            <span class="oui-icon oui-icon-trash_line" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
