<div data-ng-controller="UserAccount.controllers.ssh.view">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="resetAction"
         data-wizard-confirm-button-text="i18n.user_ssh_view_modal_close"
         data-wizard-hide-cancel-button="true"
         data-wizard-title="i18n.user_ssh_view_modal_title"
         class="user-ssh">

        <div data-wizard-step>
            <h2 class="wizard-title-sub"
                data-ng-bind="data.keyName">
            </h2>

            <div class="panel panel-default sshkey-ctnr">
                <div class="panel-body">
                    <samp data-ng-bind="data.key"></samp>
                </div>
            </div>
        </div>
    </div>
</div>
