<div class="container-fluid"
     data-ng-controller="UserCtrl">
    <div class="text-center mt-5 py-5">
        <h1 class="d-inline">
            <span data-translate="welcome_to_your_manager_1"></span>
            <span data-translate="welcome_to_your_manager_2"></span>
        </h1>
        <p class="lead"
           data-ng-bind-html="tr('core_top_guides_header',[guide.all])">
        </p>
    </div>
    <div class="row d-md-flex"
         data-ng-if="!$ctrl.hasError">
        <div class="col-md-10 col-lg-8 mx-md-auto">
            <div class="oui-tile mb-5"
                 data-ng-repeat="section in guide.sections track by $index">
                <h2 class="oui-tile__title"
                    data-ng-bind="tr('core_type_of_guide_' + section)">
                </h2>
                <div class="oui-tile__body">
                    <div class="oui-tile__item oui-tile__item_button"
                         data-ng-repeat="link in guide.links[section] track by $index">
                        <a target="_blank"
                           class="oui-tile__button oui-button oui-button_link oui-button_icon-right oui-button_full-width"
                           title="{{ link.title | translate }}"
                           data-ng-href="{{ link.url }}"
                           data-at-internet-click="{ name:  link.atInternetClickTag }">
                            <span data-ng-bind="link.title | translate"></span>
                            <span class="fa fa-external-link my-auto ml-auto" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
