<div data-ng-controller="AddAccessFtpBackupCtrl">

    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addFtpBackup"
         data-wizard-title="tr('server_configuration_ftpbackup_add')"
         data-wizard-confirm-button-text="tr('common_terminate')"
         data-wizard-hide-cancel-button="true">

        <div data-wizard-step
             data-wizard-step-valid="!loading && access.ip && (access.cifs || access.ftp || access.nfs)"
             data-wizard-step-on-load="load">

            <div class="text-center"
                 data-ng-if="loading">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!loading">
                <p data-ng-bind="tr('server_configuration_ftpbackup_add_info')"></p>
                <p data-ng-bind="tr('server_configuration_ftpbackup_add_info3')"></p>
                 <label for="ip"
                        class="control-label"
                        data-i18n-static="server_configuration_ftpbackup_add_ip">
                </label>
                <select class="form-control"
                        id="ip"
                        name="ip"
                        multiple
                        data-ng-model="access.ip"
                        data-ng-options="ip for ip in access.listIp">
                </select>
                <form class="form form-inline">
                    <div class="form-group">
                        <p class="form-control-static"
                           data-i18n-static="server_configuration_ftpbackup_add_authorization">
                        </p>
                    </div>
                    <div class="checkbox px-5">
                        <label>
                            <input type="checkbox"
                                   data-ng-model="access.cifs" />
                            <span data-i18n-static="server_configuration_ftpbackup_table_cifs"></span>
                        </label>
                    </div>
                    <div class="checkbox px-5">
                        <label>
                            <input type="checkbox"
                                   data-ng-model="access.ftp" />
                            <span data-i18n-static="server_configuration_ftpbackup_table_ftp"></span>
                        </label>
                    </div>
                    <div class="checkbox px-5">
                        <label>
                            <input type="checkbox"
                                   data-ng-model="access.nfs" />
                            <span data-i18n-static="server_configuration_ftpbackup_table_nfs"></span>
                        </label>
                    </div>
                </form>
            </div>

        </div>

        <div data-wizard-step
             data-wizard-step-valid="!loading">

            <div class="text-center"
                 data-ng-if="loading">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!loading">
                <p data-ng-bind-html="tr('server_configuration_ftpbackup_add_info2')"></p>
                <div class="row">
                    <div class="col-md-6">
                        <p data-ng-bind="tr('server_configuration_ftpbackup_add_info1')"></p>
                        <ul>
                            <li data-ng-repeat="block in access.ip track by $index"
                                data-ng-bind="block">
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p data-ng-bind-html="tr('server_configuration_ftpbackup_add_info4')"></p>
                        <ul>
                            <li>
                                <span data-i18n-static="server_configuration_ftpbackup_table_cifs"></span> :
                                <strong data-ng-if="access.cifs"
                                        data-i18n-static="server_configuration_ftpbackup_add_allow">
                                </strong>
                                <strong data-ng-if="!access.cifs"
                                        data-i18n-static="server_configuration_ftpbackup_add_deny">
                                </strong>
                            </li>
                            <li>
                                <span data-i18n-static="server_configuration_ftpbackup_table_ftp"></span> :
                                <strong data-ng-if="access.ftp"
                                        data-i18n-static="server_configuration_ftpbackup_add_allow">
                                </strong>
                                <strong data-ng-if="!access.ftp"
                                        data-i18n-static="server_configuration_ftpbackup_add_deny">
                                </strong>
                            </li>
                            <li>
                                <span data-i18n-static="server_configuration_ftpbackup_table_nfs"></span> :
                                <strong data-ng-if="access.nfs"
                                        data-i18n-static="server_configuration_ftpbackup_add_allow">
                                </strong>
                                <strong data-ng-if="!access.nfs"
                                        data-i18n-static="server_configuration_ftpbackup_add_deny">
                                </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
