<div data-ng-controller="DedicatedCloudSubDatacenterLicencesCtrl">

    <h2 data-translate="dedicatedCloud_tab_license"></h2>

    <div class="text-center"
         data-ng-if="loading.licences">
        <oui-spinner></oui-spinner>
    </div>
    <div class="row"
         data-ng-show="!loading.licences && licences.spla != null">
        <div class="col-sm-9">
            <dl>
                <dt data-translate="dedicatedCloud_tab_licences_spla_state"></dt>
                <dd data-ng-bind="tr('dedicatedCloud_tab_licences_spla_state_' + licences.spla)"></dd>
            </dl>
        </div>
        <div class="col-sm-3">
            <button type="button"
                    class="btn btn-block btn-default"
                    data-ng-hide="licences.spla"
                    data-ng-click="canBeActivatedSpla() && setAction('datacenter/license/enable/dedicatedCloud-datacenter-license-enable')"
                    data-ng-disabled="!canBeActivatedSpla"
                    data-translate="dedicatedCloud_tab_licences_spla_on">
            </button>
        </div>
    </div>
</div>
