<ul class="dropdown-menu dropdown-menu-right"
    uib-dropdown-menu>
    <li>
        <button type="button"
                class="btn btn-link"
                data-ng-click="!editionDisabled(service.subProducts.hosting_web) && updateServices(service.subProducts.hosting_web)"
                data-ng-class="{ 'disabled': editionDisabled(service.subProducts.hosting_web) }"
                data-ng-disabled="editionDisabled(service.subProducts.hosting_web)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span data-translate="autorenew_service_update_button_caption"></span>
        </button>
    </li>

    <li data-ng-if="canCancelResiliation(service.subProducts.hosting_web)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="cancelDeleteService(service.subProducts.hosting_web)">
            <i class="fa fa-close" aria-hidden="true"></i>
            <span data-translate="autorenew_service_canceldelete_button"></span>
        </button>
    </li>

    <li data-ng-if="service.subProducts.hosting_web.serviceType !== 'EXCHANGE'">
        <a target="_blank"
           title="{{ 'autorenew_service_renew_button_title' | translate:{ t0: service.subProducts.hosting_web.serviceId } }}"
           data-ng-href="{{ getRenewUrl() + service.subProducts.hosting_web.serviceId }}">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span data-translate="autorenew_service_renew_button"></span>
        </a>
    </li>

    <li data-ng-if="!service.subProducts.hosting_web.renew.deleteAtExpiration">
        <button type="button"
                class="btn btn-link"
                data-ng-class="{ 'disabled' : !canResiliate(service.subProducts.hosting_web, user) }"
                data-ng-disabled="!canResiliate(service.subProducts.hosting_web, user)"
                data-ng-click="resiliateService(service.subProducts.hosting_web)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span data-translate="autorenew_service_resiliate_button"></span>
        </button>
    </li>

    <li data-ng-if="service.subProducts.hosting_web.serviceType === 'HOSTING_WEB'">
        <button type="button"
                class="btn btn-link"
                data-ng-click="terminateHostingWeb(service.subProducts.hosting_web)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span data-translate="hosting_dashboard_service_guide"></span>
        </button>
    </li>

    <li data-ng-if="canDisableAutorenew(service.subProducts.hosting_web)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="disableAutorenew(service.subProducts.hosting_web)">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            <span data-translate="autorenew_service_disable_button"></span>
        </button>
    </li>
    <li data-ng-if="canEnableAutorenew(service.subProducts.hosting_web)">
        <button type="button"
                class="btn btn-link"
                data-ng-click="enableAutorenew(service.subProducts.hosting_web)">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span data-translate="autorenew_service_enable_button"></span>
        </button>
    </li>
</ul>
