<span data-ng-class="{ 'd-block': !$ctrl.inline }">
    <span>
        <a class="mr-2"
            data-ng-href="{{:: $ctrl.getRenewUrl() }}"
            data-ng-bind=":: $ctrl.getDate() | date:'mediumDate'"
            data-ng-if="!$ctrl.hideRenewDate">
        </a>

        <a target="_blank"
           class="btn btn-default"
           title="{{ :: 'core_service_renew_button' | translate }}"
           data-ng-if="!$ctrl.forceHideRenewAction && ((!$ctrl.isAutoRenew() && $ctrl.getRenewUrl() && !$ctrl.hideRenewAction) || ($ctrl.serviceInfos.status === 'expired'))"
           data-ng-href="{{:: $ctrl.getRenewUrl() }}"
           data-translate="core_service_renew_button">
        </a>
    </span>
</span>
