<div>
    <div data-ng-if="$ctrl.constants.target !== 'US'">
        <a class="mr-2"
            data-ng-href="{{:: $ctrl.getRenewUrl() }}"
            data-ng-bind=":: $ctrl.serviceInfos.expiration | date:'mediumDate'"
            data-ng-if="!$ctrl.hideRenewDate">
        </a>

        <a target="_blank"
           class="btn btn-default"
           title="{{:: tr('core_service_renew_button') }}"
           data-ng-if="!$ctrl.forceHideRenewAction && ((!$ctrl.isAutoRenew() && $ctrl.getRenewUrl() && !$ctrl.hideRenewAction) || ($ctrl.serviceInfos.status === 'expired'))"
           data-ng-href="{{:: $ctrl.getRenewUrl() }}"
           data-i18n-static="core_service_renew_button">
        </a>
    </div>
</div>
