<oui-tile
    class="h-100"
    data-heading="{{:: 'dedicatedCloudDashboardGeneralInformationTile_heading' | translate }}">

    <div class="oui-tile__item">
        <dl class="oui-tile__definition">
            <dt
                class="oui-tile__term"
                data-translate="dedicatedCloudDashboardGeneralInformationTile_description_term"></dt>
            <dd
                class="oui-tile__description"
                data-ng-bind="$ctrl.bindings.description"></dd>
        </dl>

        <oui-action-menu
            data-compact
            data-align="end">
            <oui-action-menu-item data-ng-click=":: $ctrl.openModalToEditDescription()">
                <span data-translate="dedicatedCloudDashboardGeneralInformationTile_description_actionMenu_update"></span>
            </oui-action-menu-item>
        </oui-action-menu>
    </div>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_softwareSolution_term' | translate }}"
        data-description="{{:: $ctrl.bindings.softwareSolution }}"></oui-tile-definition>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_commercialRange_term' | translate }}"
        data-description="{{:: $ctrl.bindings.commercialRange }}"></oui-tile-definition>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_location_term' | translate }}"
        data-description="{{:: $ctrl.bindings.location }}"></oui-tile-definition>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_accessPolicy_term' | translate }}"
        data-description="{{:: $ctrl.bindings.accessPolicy }}"></oui-tile-definition>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_numberOfDatacenters_term' | translate }}"
        data-description="{{:: $ctrl.bindings.numberOfDatacenters }}"></oui-tile-definition>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_numberOfIPBlocks_term' | translate }}">
        <oui-tile-description>
            <dl class="row mb-0">
                <dt
                    class="col-md-3"
                    data-translate="dedicatedCloudDashboardGeneralInformationTile_numberOfIPBlocks_definition_ripe"></dt>
                <dd
                    class="col-md-9"
                    data-ng-switch=":: $ctrl.bindings.numberOfIPBlocks.ripe">
                    <span
                        data-ng-switch-when="0"
                        data-translate="dedicatedCloudDashboardGeneralInformationTile_numberOfIPBlocks_definition_0"></span>
                    <span
                        data-ng-switch-default
                        data-ng-bind=":: $ctrl.bindings.numberOfIPBlocks.ripe"></span>
                </dd>
                <dt
                    class="col-md-3"
                    data-translate="dedicatedCloudDashboardGeneralInformationTile_numberOfIPBlocks_definition_arin"></dt>
                <dd
                    class="col-md-9"
                    data-ng-switch=":: $ctrl.bindings.numberOfIPBlocks.arin">
                    <span
                        data-ng-switch-when="0"
                        data-translate="dedicatedCloudDashboardGeneralInformationTile_numberOfIPBlocks_definition_0"></span>
                    <span
                        data-ng-switch-default
                        data-ng-bind=":: $ctrl.bindings.numberOfIPBlocks.arin"></span>
                </dd>
            </dl>
        </oui-tile-description>

        <oui-action-menu
            data-compact
            data-align="end">
            <oui-action-menu-item data-ui-sref="app.ip({ serviceName: $ctrl.bindings.serviceName })">
                <span data-translate="dedicatedCloudDashboardGeneralInformationTile_numberOfIPBlocks_actionMenu_order"></span>
            </oui-action-menu-item>
        </oui-action-menu>
    </oui-tile-definition>

    <oui-tile-definition
        data-term="{{:: 'dedicatedCloudDashboardGeneralInformationTile_managementInterfaces_term' | translate }}">
        <oui-tile-description>
            <a
                class="d-block oui-link_icon"
                target="_blank"
                rel="noopener"
                data-ng-href="{{:: $ctrl.bindings.urls.vScope }}">
                <span
                    data-translate="dedicatedCloudDashboardGeneralInformationTile_managementInterfaces_definition_vscope"></span>
                <span
                    class="oui-icon oui-icon-external_link"
                    aria-hidden="true"></span>
                <span
                    class="sr-only"
                    data-translate="dedicatedCloudDashboardGeneralInformationTile_opensANewTab"></span>
            </a>
            <a
                class="d-block oui-link_icon"
                target="_blank"
                rel="noopener"
                data-ng-if=":: $ctrl.bindings.urls.webInterface"
                data-ng-href="{{:: $ctrl.bindings.urls.webInterface }}">
                <span
                    data-translate="dedicatedCloudDashboardGeneralInformationTile_managementInterfaces_definition_webInterface"></span>
                <span
                    class="oui-icon oui-icon-external_link"
                    aria-hidden="true"></span>
                <span
                    class="sr-only"
                    data-translate="dedicatedCloudDashboardGeneralInformationTile_opensANewTab"></span>
            </a>
        </oui-tile-description>
    </oui-tile-definition>
</oui-tile>
