<div data-ng-controller="ServerConsumptionCtrl as ctrl">

    <h2>
        <span data-i18n-static="server_consumption_label"></span>
        <span data-uib-tooltip="{{ tr('server_consumption_explanation') }}"
              data-tooltip-placement="top">
            <span class="fa fa-question-circle" aria-hidden="true"></span>
        </span>
    </h2>
    <span class="text-danger"
          data-ng-if="!ctrl.traffic.loading"
          data-ng-bind="tr('server_consumption_summary_' + ctrl.traffic.data.usage.resetQuotaTimeLeft.unit, [
              ctrl.traffic.data.usage.remainingOutputQuotaSize.text,
              ctrl.traffic.data.usage.resetQuotaTimeLeft.value
          ])"
          data-ng-class="{ 'danger': state.overQuota }">
    </span>
    <span class="text-danger"
          data-ng-if="!ctrl.traffic.loading && ctrl.traffic.data.usage.isThrottled"
          data-ng-class="{ 'danger': ctrl.traffic.data.usage.overQuota }">
          <span> - </span>
          <span data-i18n-static="server_consumption_throttled"></span>
    </span>

    <div class="text-center"
         data-ng-if="ctrl.server.loading || ctrl.traffic.loading">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-if="!ctrl.server.loading && !ctrl.traffic.loading">
        <span data-ng-bind="tr('server_consumption_current_period_label', [ctrl.traffic.data.usage.outputQuotaSize.text])"></span>
        <button type="button"
                class="btn btn-default"
                title="{{ tr('server_traffic_order_button') }}"
                data-ng-if="ctrl.canOrderTraffic() && ctrl.canOrderMoreTraffic()"
                data-ng-click="setAction('traffic/order/dedicated-server-traffic-order', ctrl.server.data.name)"
                data-ng-disabled="ctrl.server.data.state === 'HACKED' || ctrl.server.data.state === 'HACKED_BLOCKED'">
            <span class="fa fa-shopping-cart" aria-hidden="true"></span>
            <span data-ng-bind="tr(ctrl.trafficOption.data !== 'subscribed' ? 'server_traffic_order_button' : 'server_traffic_change_button')"></span>
        </button>
    </div>

    <div class="row"
         data-ng-if="!ctrl.server.loading && !ctrl.traffic.loading">
        <div class="col-md-6">
            <div class="progress progress-striped"
                 data-ng-class="{
                     'progress-warning': ctrl.traffic.data.usage.nearQuota,
                     'progress-danger': ctrl.traffic.data.usage.overQuota
                 }">
            </div>
            <div class="bar current-period__progress-bar"
                 role="progressbar"
                 aria-valuenow="{{ ctrl.traffic.data.usage.outputQuotaUsed.value }}"
                 aria-valuemin="0"
                 aria-valuemax="{{ ctrl.traffic.data.usage.outputQuotaSize.value }}"
                 data-ng-style="{ 'width': ctrl.traffic.data.usage.remainingOutputQuotaSize.percent + '%' }">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-2">
                <span data-ng-bind="ctrl.traffic.data.usage.outputQuotaUsed.text"></span> /
                <span data-ng-bind="tr('server_consumption_current_period_remaining', [ctrl.traffic.data.usage.remainingOutputQuotaSize.text])"></span>
            </div>
        </div>
    </div>

</div>
